@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-Regular.woff2') format('woff2'),
    url('../fonts/Hauora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-Bold.woff2') format('woff2'),
    url('../fonts/Hauora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Hauora', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}

.single {
    min-height: 100svh;
    padding: 10vh 0;
    position: relative;
    overflow: hidden;
}

.single-footer {
    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 3;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;

    height: 50px;
    background-color: rgba(21, 20, 17, .75);
}

.single-footer__text, .single-footer__link {
    font-size: 18px;
    color: rgba(256, 256, 256, .7);
}

.single-footer__link {
    color: #ff8562;
}

.single-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.single-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    z-index: 2;
}

.single-bg__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.single__container {
    max-width: 85vw;
    width: 100%;
    margin: 0 auto;
}

.single__wrapper {
    display: flex;
    align-items: flex-end;
    gap: 24px;


    position: relative;
    z-index: 2;
    max-width: max-content;
    width: 100%;
    margin: 0 auto;
}

.single__img {
    width: 600px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.single__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.single-content {
    flex-shrink: 0;
}

.single-content__tags {
    display: flex;
    align-items: center;
    gap: 8px;
}

.single-content__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    width: 100%;

    text-align: center;

    color: #343434;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;

    padding: 4px 16px;
    height: 30px;
    background-color: #ffdd07;
    border-radius: 3px;
}

.single-content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.single-content__title {
    font-size: 54px;
    line-height: 1.2;
    color: #fff;
}

.single-content__title span {
    font-weight: 700;
}

.single-content__box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.single-content__button {
    max-width: 360px;
    width: 100%;
    height: 60px;

    font-size: 16px;
    color: #fff;

    background-color: #18aa28;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
}

.single-content__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-content__list li {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 18px;
    color: #fff;
}

.single-content__list li::before {
    content: "";
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    background: url("../images/check.png") center center/contain no-repeat;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background: rgba(6, 45, 84, 0.7);
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s visibility, 0.5s opacity;
}

.popup--active {
    opacity: 1;
    visibility: visible;
}

.popup__close {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -30px;
    right: -30px;
    background: var(--color-accent);
    border-radius: 6px;
}

.popup__close:hover {
    cursor: pointer;
}

.popup__close:hover::before, .popup__close:hover::after {
    background: #fff;
}

.popup__close::before {
    content: "";
    width: 30px;
    height: 3px;
    display: block;
    background: #fff;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 1.5px);
    transition: 0.3s background-color;
    transform: rotate(45deg);
}

.popup__close::after {
    content: "";
    width: 30px;
    height: 3px;
    display: block;
    background: #fff;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 1.5px);
    transition: 0.3s background-color;
    transform: rotate(-45deg);
}

.popup__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
}

.popup__wrapper::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 5px; /* Height of the scrollbar */
    display: none;
}

@media screen and (max-width: 640px) {
    .popup__wrapper::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
}

.popup__wrapper::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.popup__wrapper::-webkit-scrollbar-thumb {
    background: var(--color-accent); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.popup__container {
    max-width: 1300px;
    width: calc(100% - 60px);
    max-height: 90%;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-popup{
    min-height: 80vh;
    background-color: #fff;
    overflow: auto;

    display: flex;

}

.quiz{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(54, 54, 54);

    font-size: 14px;
}

.quiz-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quiz__header{
    padding: 16px 30px;
    border-bottom: solid 1px rgba(217,216,230,.55);
}

.quiz__content{
    padding: 16px 30px;
    flex-grow: 1;
}

.quiz__footer{
    padding:  30px;

    display: flex;
    align-items: center;
    gap: 24px;
}

.quiz__footer.hidden{
    display: none;
}

.quiz-line{
    flex-grow: 1;
}

.quiz-nav{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.quiz-item{
    display: none;
    height: 100%;
}

.quiz-item.active{
    display: block;
}

.quiz-item__grid{
    display: grid;
    grid-template-columns: 6fr 4fr;
    height: 100%;
}

.quiz-item__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

    padding: 0 60px;
}
.quiz-item__aside{
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}
.quiz-list{
    font-size: 14px;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quiz-result-text{
    font-size: 28px;
}

.quiz-item__wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.quiz-item__title{
    font-size: 28px;
}

.quiz-item__aside{
    border-left: solid 1px rgba(217,216,230,.55);
}

.quiz-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 24px;
}

.quiz-radio{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    height: 50px;
    gap: 12px;

    position: relative;

    box-shadow: transparent 0px 1px 3px 0px;
    border:solid 1px rgba(217,216,230,.55);

    transition: .3s box-shadow;
}

.quiz-radio:hover{
    cursor: pointer;
    box-shadow: rgb(230, 230, 230) 0px 1px 3px 0px;
}

.quiz-radio:has(:checked) .quiz-radio__checkmark{
    box-shadow: rgba(0, 128, 187, 0.5) 0px 2px 6px 0px;

}

.quiz-radio:has(:checked) .quiz-radio__checkmark::before{
    background-color: rgb(0, 128, 187);
}

.quiz-radio__input{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
}


.quiz-radio__checkmark{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:2px solid transparent;
    background-color: rgb(230, 230, 230);
    box-shadow: rgba(0, 128, 187, 0) 0px 2px 6px 0px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .3s box-shadow;
    &::before{
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;

        transition: .3s background-color;
    }
}

.input{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.quiz-checkbox{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.quiz-checkbox__text{
    font-size: 10px;
}

.quiz-checkbox__text a{
    text-decoration: none;
}

.quiz-input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding:0 16px;
    height: 60px;
    width: 100%;
    background-color: rgb(237, 237, 237);
    border:1px solid rgb(204, 204, 204);
}
.quiz-input .icon{
    width: 24px;
    height: 24px;
    fill: rgb(219, 219, 219);
    flex-shrink: 0;
}
.quiz-input--small{
    background-color: transparent;
}
.quiz-input__item{
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none;
    border:none;
    background-color: transparent;

    font-size: 18px;
}
.quiz-percent{
    &::before{
        content:var(--current-percent);
    }
}
.quiz-progress{
    width: 100%;
}
.quiz-progress__column{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.quiz-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    min-width: 40px;
    height: 40px;

    border-radius: 24px;
    border:1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;

    font-size: 16px;

    color: rgba(0, 0, 0, 0.5);

    position: relative;
    overflow: hidden;
}

.quiz-button--blue:after {
    content: "";
    position: absolute;
    top: -50%;
    bottom: -50%;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), to(hsla(0, 0%, 100%, .6)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .6) 100%);
    width: 2.8125rem;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
    left: -65%;
    -webkit-animation-name: blick;
    animation-name: blick;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count:infinite
}


@keyframes blick {
    60% {
        left:100%
    }

    to {
        left:130%
    }
}

.icon--center{
    margin:0 auto;
}

.quiz-button--big{
    height: 50px;
    border-radius: 48px;
}
.quiz-button .icon{
    width: 24px;
    height: 24px;
}
.quiz-button--blue{
    background-color:rgb(0, 128, 187);
    box-shadow: rgba(0, 128, 187, 0.5) 0px 3px 15px 0px;

    padding: 0 16px;
    color: #fff;
}
.quiz-button--next .icon{
    transform: scaleX(-1);
}
.quiz-progress__title{
    font-size: 12px;
    color: rgba(54, 54, 54, 0.7);

    display: flex;
    align-items: center;
    gap: 4px;
}
.quiz-progress__title span{
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 128, 187);
}
.quiz-line{
    width: 100%;
    background-color: rgb(217, 217, 217);
    height: 6px;
    border-radius: 6px;

    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}
.quiz-line__item{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
    overflow: hidden;

    width: var(--current-percent);
    background-image: linear-gradient(90deg, rgb(0, 94, 138), rgb(0, 164, 240));

    box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 9px 0px inset, rgba(0, 0, 0, 0.4) 0px -2px 6px 0px inset, rgba(0, 128, 187, 0.5) 0.6px 1.8992px 7px 0px;


    transition: .3s width;
}
.quiz-line__item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(-45deg, rgba(255, 255, 255, 0.08) 25%, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.08) 0px, rgba(255, 255, 255, 0.08) 75%, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0));
    background-size: 1.25rem 1.25rem;
    animation: move 1.5s linear infinite
}
@keyframes move {
    0% {
        background-position:0 0
    }

    to {
        background-position:1.25rem 1.25rem
    }
}

@media screen and (max-width: 1240px) {
    .quiz-item__aside{
        padding: 24px 0;
        border:none;
    }
    .quiz-item__content{
        padding: 0;
        justify-content: flex-start;
    }
    .quiz-item__grid{
        grid-template-columns: minmax(0,1fr);
        gap: 24px;
    }
    .quiz-grid{
        grid-template-columns: minmax(0,1fr);
        gap: 12px;
    }
    .quiz-result-text{
        font-size: 18px;
    }
    .quiz-input{
        height: 40px;
    }
    .quiz__footer{
        flex-direction: column;
    }
    .quiz-item__title{
        font-size: 16px;
    }
    .single__wrapper {
        flex-direction: column;
    }

    .single-content__title {
        font-size: 30px;
        text-align: center;
    }

    .single-content__tags {
        justify-content: center;
    }

    .single__img {
        max-width: 360px;
        width: 100%;
        height: auto;
        position: relative;
        transform: translate(0);
    }

    .single-content__wrapper {
        gap: 40px;
    }

    .single-content__box {
        align-items: center;
    }

    .single-content__button {
        max-width: 300px;
        height: 50px;
        font-size: 14px;
    }

    .single-content__list li {
        font-size: 12px;
    }

    .single-footer__text, .single-footer__link {
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    .single-content__title {
        font-size: 22px;
    }

    .single__img {
        width: 100%;
        position: relative;
    }
}