:root {
  --font-text: "Inter", sans-serif;
  --font-title: "Roboto Condensed", sans-serif;
  --title-size-base: 18px;
  --title-size-middle: 20px;
  --text-size-middle: 12px;
  --text-size-large: 14px;
  --text-size-date: 10px;
  --text-size-link: 13px;
  --color-accent: #2c77bc;
  --color-link: var(--color-accent);
}

body {
  font-family: "Inter", sans-serif;
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-family: var(--font-title);
}
.title--base {
  font-size: var(--title-size-base);
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}
.title--middle {
  font-size: var(--title-size-middle);
  font-weight: 500;
}
.title--uppercase {
  text-transform: uppercase;
}
.title--black {
  color: #000;
}
.title--white {
  color: #fff;
}

.text {
  font-family: var(--font-text);
  line-height: 1.2;
}
.text--base {
  font-size: var(--text-size-middle);
}
.text--large {
  font-size: var(--text-size-large);
}
.text--date {
  font-family: var(--font-title);
  font-size: var(--text-size-date);
  line-height: 1;
  color: #636363;
}
.text--date--white {
  color: #fff;
}
.text--black {
  color: #000;
}
.text--white {
  color: #fff;
}
.text--link {
  font-family: var(--font-title);
  font-weight: 600;
  font-size: var(--text-size-link);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-link);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
.button--base {
  font-family: var(--font-title);
  height: 45px;
  padding: 12px 22px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .button--base {
    font-size: 16px;
  }
}
.button--accent {
  color: #Fff;
  background-color: var(--color-accent);
}
.button--full {
  width: 100%;
}
@media screen and (min-width: 641px) {
  .button--mobile {
    display: none;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.content {
  flex-grow: 1;
}
.content__wrapper {
  padding: 40px 0;
}
@media screen and (max-width: 640px) {
  .content__wrapper {
    padding: 30px 0;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 640px) {
  .container {
    padding: 0 10px;
  }
}

.header__wrapper {
  padding: 24px 0 0 0;
}
@media screen and (max-width: 640px) {
  .header__wrapper {
    padding: 20px 0 0 0;
  }
}
.header__logo {
  max-width: 300px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1040px) {
  .header__logo {
    max-width: 160px;
  }
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (min-width: 1041px) {
  .header__row--middle {
    border-bottom: 1px solid #747474;
    border-top: 1px solid #747474;
    padding: 30px 0;
  }
}
.header__row--top {
  padding-bottom: 10px;
}
@media screen and (max-width: 1040px) {
  .header__row--top {
    display: none;
  }
}
.header__row--bottom {
  border-bottom: 1px solid #747474;
}
@media screen and (max-width: 1040px) {
  .header__row--bottom {
    display: none;
  }
}
.header__search {
  max-width: 285px;
  width: 100%;
}
@media screen and (max-width: 1120px) {
  .header__search {
    max-width: 125px;
  }
}
@media screen and (min-width: 1041px) {
  .header__burger {
    display: none;
  }
}
.header-banner {
  max-width: 510px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1040px) {
  .header-banner {
    display: none;
  }
}
.header-banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-links {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-links__item {
  position: relative;
}
.header-links__item:not(:last-child) {
  padding-right: 5px;
}
.header-links__item:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  top: -2px;
  width: 1px;
  height: calc(100% + 4px);
  background-color: #636363;
}
.header-links__label {
  font-size: 11px;
  color: #636363;
  line-height: 1;
  display: flex;
  align-items: center;
}

.burger {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.burger--active .burger__item:nth-child(1) {
  transform: rotate(45deg);
  top: 14px;
}
.burger--active .burger__item:nth-child(3) {
  transform: rotate(-45deg);
  top: 14px;
}
.burger--active .burger__item:nth-child(2) {
  opacity: 0;
}
.burger__item {
  position: absolute;
  width: 24px;
  height: 2px;
  border-radius: 4px;
  background-color: #58585A;
  left: calc(50% - 12px);
}
.burger__item:nth-child(1) {
  top: 6px;
  transition: 0.3s top, 0.3s transform;
}
.burger__item:nth-child(2) {
  top: calc(50% - 1px);
  transition: opacity;
}
.burger__item:nth-child(3) {
  top: calc(100% - 8px);
  transition: 0.3s top, 0.3s transform;
}

.search.active .search-category {
  display: none;
}
.search.active .search-result {
  display: block;
}
.search-input {
  display: flex;
  align-items: center;
}
.search-input--big {
  height: 40px;
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 8px;
}
.search-input__icon {
  width: 18px;
  height: 18px;
  color: #646464;
  flex-shrink: 0;
}
.search-input__item {
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
  height: 18px;
  width: 100%;
  color: #000;
}
.search-input__item::placeholder {
  color: #858585;
}
.search-category__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-category__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px 40px;
}
.search-result {
  display: none;
}
.search-result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-result__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-result__button {
  max-width: 230px;
  width: 100%;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list__item {
  position: relative;
}
.nav-list__item:not(:last-child)::after {
  content: "";
  position: absolute;
  height: calc(100% - 10px);
  width: 1px;
  top: 5px;
  right: 0;
  background: #747474;
}
.nav-list__link {
  padding: 12px 14px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

.news-list {
  display: flex;
  flex-direction: column;
}
.news-list__item {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  display: flex;
  align-items: center;
}
.news-list__item:last-child {
  border-bottom: 1px solid #AAAAAA;
}
.news-small__wrapper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.news-small__wrapper--search {
  padding: 0;
}
.news-grid__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 40px 20px;
}
@media screen and (max-width: 1120px) {
  .news-grid__row {
    grid-template-columns: minmax(0, 1fr);
  }
}
.news-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news-block--no--gap {
  gap: 0;
}
.news-block__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 640px) {
  .news-block__footer--mobile--hidden {
    display: none;
  }
}
.news-block__footer--bordered {
  padding-bottom: 10px;
  border-bottom: 1px solid #747474;
}
.news-card__box {
  background-color: var(--color-accent);
  padding: 15px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 640px) {
  .news-card__box {
    padding: 15px 10px 40px 10px;
  }
}
.news-card__header {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 640px) {
  .news-card__header {
    padding-bottom: 10px;
  }
}
.news-card__main {
  padding: 10px 0;
  transition: 0.3s background-color;
}
.news-card__main:hover {
  background-color: #F1F1F1;
}
.news-card__main .news-card__wrapper {
  padding: 0 10px 0 0;
}
.news-card__main .news-card__footer {
  padding: 0 10px;
}
.news-card__img {
  height: 235px;
  width: 385px;
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1120px) {
  .news-card__img {
    width: 225px;
  }
  .news-card__img--tablet--big {
    width: 385px;
  }
}
@media screen and (max-width: 1040px) {
  .news-card__img {
    width: 280px;
  }
}
@media screen and (max-width: 640px) {
  .news-card__img {
    width: 100%;
  }
}
.news-card__img--small {
  width: 164px;
  height: 164px;
}
@media screen and (max-width: 640px) {
  .news-card__img--small {
    width: 100%;
    height: 235px;
  }
}
.news-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-card__wrapper {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
@media screen and (min-width: 1121px) {
  .news-card__wrapper--desktop--column {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 640px) {
  .news-card__wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
.news-card__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news-card__content--gap--small {
  gap: 10px;
}
.news-card__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news-card__date {
  margin-top: auto;
}

.home-grid {
  display: grid;
  grid-template-columns: 385px minmax(0, 1fr);
  gap: 30px 20px;
}
@media screen and (max-width: 1040px) {
  .home-grid {
    display: flex;
    flex-direction: column;
  }
}
.home-grid__main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px 20px;
}
@media screen and (max-width: 640px) {
  .home-grid__main {
    order: 1;
  }
}
@media screen and (max-width: 640px) {
  .home-grid__aside {
    order: 2;
  }
}
@media screen and (max-width: 640px) {
  .home-grid__footer {
    order: 3;
  }
}
.home-grid__block--full {
  grid-column: 1/-1;
}
.home-grid__block--main {
  grid-column: 1/-1;
}
@media screen and (min-width: 1041px) {
  .home-grid__block--mailing, .home-grid__block--video, .home-grid__block--banners {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .home-grid__block--mailing, .home-grid__block--video, .home-grid__block--banners {
    display: none;
  }
}
.home__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 641px) {
  .home-tabs {
    display: none;
  }
}
.home-tabs__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.home-tabs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-title);
  color: #191919;
  font-weight: 500;
  font-size: var(--title-size-base);
  padding-bottom: 16px;
  border-bottom: 3px solid transparent;
  transition: 0.3s border-bottom-color;
  position: relative;
}
.home-tabs__item:hover {
  cursor: pointer;
}
.home-tabs__item:has(:checked) {
  border-bottom-color: var(--color-accent);
}
.home-tabs__item input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.aside__wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 40px 20px;
}
@media screen and (max-width: 1040px) and (min-width: 641px) {
  .aside__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.aside__news, .aside__banners {
  grid-column: 1/-1;
}
@media screen and (max-width: 1040px) and (min-width: 641px) {
  .aside__banners, .aside__mailing, .aside__video {
    display: none;
  }
}
@media screen and (max-width: 1120px) and (min-width: 641px) {
  .aside__banners {
    grid-row-start: 2;
  }
}
@media screen and (max-width: 1040px) and (min-width: 641px) {
  .aside__mailing {
    grid-column-start: 2;
    grid-row-start: 3;
  }
}
@media screen and (max-width: 1120px) and (min-width: 1020px) {
  .aside__video {
    grid-row-start: 3;
  }
}
.aside-banners__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1040px) and (min-width: 641px) {
  .aside-banners__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.aside-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 385px;
  max-width: 100%;
  height: 270px;
  position: relative;
  margin: 0 auto;
}
.aside-banner__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aside-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 210px;
  position: relative;
}
.aside-video__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s visibility, 0.5s opacity;
}
.menu--active {
  opacity: 1;
  visibility: visible;
}
.menu__wrapper {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: auto;
}
.menu__wrapper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
  border-radius: 20px;
}
.menu__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 20px;
}
.menu__wrapper::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}
.menu__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu__logo {
  width: 160px;
  height: 50px;
}
.menu-block__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}
@media screen and (max-width: 640px) {
  .menu-block__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.menu-block__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.menu-search__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-link__icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

@media screen and (max-width: 640px) {
  .home-block--hidden {
    display: none;
  }
}

.form__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .form__grid {
    grid-template-columns: repeat(auto-fit, 385px);
  }
}
@media screen and (max-width: 800px) {
  .form__grid {
    grid-template-columns: minmax(0, 385px);
  }
}
@media screen and (min-width: 801px) {
  .form__button {
    grid-column-start: 2;
  }
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 800px) and (min-width: 691px) {
  .form__wrapper {
    align-items: center;
  }
}
.form__title {
  text-transform: uppercase;
}
@media screen and (max-width: 800px) and (min-width: 691px) {
  .form__title {
    text-align: center;
  }
}
.form__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}
.form-checkbox__input {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.form-checkbox__input:checked ~ .form-checkbox__checkmark {
  background-color: var(--color-accent);
}
.form-checkbox__checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.form-checkbox__text {
  font-family: var(--font-text);
  font-size: 12px;
  align-self: center;
}
.form-checkbox__text a {
  color: var(--color-accent);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.input__label {
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}
.input__item {
  width: 100%;
  height: 30px;
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid rgba(116, 116, 116, 0.5);
  color: #000;
}
.input__item::placeholder {
  color: #747474;
}

.thanks__wrapper {
  padding: 100px 0;
}
@media screen and (max-width: 1040px) {
  .thanks__wrapper {
    padding: 50px 0 100px 0;
  }
}
@media screen and (max-width: 640px) {
  .thanks__wrapper {
    padding: 50px 0 72px 0;
  }
}
.thanks__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 386px;
  width: 100%;
  margin: 0 auto;
}
.thanks__title {
  text-align: center;
  font-family: var(--font-title);
  font-size: 21px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.also-grid__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 1120px) {
  .also-grid__news {
    grid-column: 1/-1;
  }
}
.also-grid__banners {
  grid-column-end: span 2;
}
@media screen and (max-width: 1040px) {
  .also-grid__banners {
    grid-column: 1/-1;
  }
}

.banners-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 1040px) {
  .banners-grid__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.block__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block__header {
  padding-bottom: 12px;
  border-bottom: 1px solid #747474;
}

/*# sourceMappingURL=index.css.map */
