@font-face {
    font-family: 'Bounded';
    src: url('../../fonts/Bounded/Bounded-Bold.woff2') format('woff2'),
    url('../../fonts/Bounded/Bounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bounded';
    src: url('../../fonts/Bounded/Bounded-Regular.woff2') format('woff2'),
    url('../../fonts/Bounded/Bounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bounded';
    src: url('../../fonts/Bounded/Bounded-SemiBold.woff2') format('woff2'),
    url('../../fonts/Bounded/Bounded-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

