@media screen and (max-width: 991px) {
  .page {
    padding-top: 100px;
  }
}
.page__title {
  font-size: 26px;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .page__title {
    font-size: 20px;
  }
}

.breadcrumbs {
  margin: 0 0 32px 0;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 991px) {
  .breadcrumbs__list {
    display: none;
  }
}
.breadcrumbs__item {
  color: #777777;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 992px) {
  .breadcrumbs__item:last-child {
    pointer-events: none;
  }
}
@media screen and (min-width: 992px) {
  .breadcrumbs__back {
    display: none;
  }
}

.contact-block__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-block__header:not(:last-child) {
  margin: 0 0 16px 0;
}
@media screen and (max-width: 991px) {
  .contact-block__header:not(:last-child) {
    margin: 0 0 12px 0;
  }
}
.contact-block__header--margin--big:not(:last-child) {
  margin: 0 0 30px 0;
}
@media screen and (max-width: 991px) {
  .contact-block__header--margin--big:not(:last-child) {
    margin: 0 0 12px 0;
  }
}
.contact-block__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
}
.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .contact-grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 12px;
  }
}
.contact-grid__item--banner {
  grid-column: 1/-1;
}
@media screen and (max-width: 991px) {
  .contact-grid__item--banner {
    grid-row-start: 2;
  }
}
.contact-info__wrapper {
  padding: 24px;
  background: #f5f5f5;
  border-radius: 5px;
}
@media screen and (max-width: 991px) {
  .contact-info__wrapper {
    padding: 14px;
  }
}
.contact-info__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-info__list-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.contact-info__icon {
  width: 14px;
  height: 17px;
  color: #CB1727;
  flex-shrink: 0;
}
.contact-info__text {
  font-size: 14px;
  color: #333;
}
.contact-info__text--bold {
  font-weight: 500;
}
.contact-info__link {
  text-decoration: underline !important;
  text-decoration-skip-ink: none;
}
.contact-img {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-img--map {
  border: 1px solid #e1e2e6;
}
.contact-img__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-banner__wrapper {
  height: 180px;
  background: #000000;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .contact-banner__wrapper {
    height: auto;
  }
}
.contact-banner__schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  padding: 40px 50px 40px 100px;
}
@media screen and (max-width: 991px) {
  .contact-banner__schedule {
    display: none;
  }
}
.contact-banner__time {
  font-size: 18px;
  color: white;
}
.contact-banner__time span {
  font-weight: 700;
}
.contact-banner__place {
  font-size: 12px;
  color: #CB1727;
}
.contact-banner__title {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  .contact-banner__title {
    font-size: 19px;
  }
}
.contact-banner__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 25px;
  padding: 40px 50px;
  position: relative;
  background-color: #CB1727;
}
@media screen and (max-width: 991px) {
  .contact-banner__info {
    gap: 10px;
    padding: 10px 10px 20px 10px;
  }
}
.contact-banner__img {
  position: absolute;
  right: -30px;
  bottom: 0;
  height: 100%;
  width: 350px;
  transform: skew(15deg);
  overflow: hidden;
  z-index: 0;
}
.contact-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  transform: skew(-15deg) scale(1.15);
}
@media screen and (max-width: 991px) {
  .contact-banner__img {
    width: 200px;
  }
  .contact-banner__img img {
    object-position: right center;
  }
}
.contact-banner__row {
  display: flex;
  align-items: center;
  gap: 32px;
  order: 2;
}
@media screen and (max-width: 991px) {
  .contact-banner__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
  }
}
.contact-banner__text {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  color: #Fff;
}
.contact-banner__text--link {
  text-decoration: underline !important;
}
@media screen and (max-width: 991px) {
  .contact-banner__text {
    font-size: 12px;
  }
  .contact-banner__text svg {
    width: 13px;
    height: 20px;
  }
}
@media screen and (min-width: 992px) {
  .contact-banner__text--schedule {
    display: none;
  }
}
.contact-social__list {
  padding: 20px;
  background: #161618;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 991px) {
  .contact-social__list {
    padding: 10px;
    gap: 6px;
    background: #333333;
  }
}
.contact-social__item {
  color: #Fff;
}
.contact-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.contact-social__text {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .contact-social__text {
    display: none;
  }
}
.contact-social__icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #E1E2E6;
  flex-shrink: 0;
}
.contact-social__icon svg {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 991px) {
  .contact-social__icon {
    width: 100%;
    max-width: 50px;
    aspect-ratio: 1;
  }
  .contact-social__icon svg {
    width: 20px;
    height: 20px;
  }
}
.contact-slider {
  position: relative;
}
.contact-slider__button {
  position: absolute;
  top: calc(50% - 15px);
  z-index: 10;
  width: 30px;
  height: 30px;
  background: #FFF;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
}
.contact-slider__button:hover {
  cursor: pointer;
}
.contact-slider__button.swiper-button-disabled {
  opacity: 0.62;
}
.contact-slider__button--prev {
  left: 10px;
}
.contact-slider__button--next {
  right: 10px;
}
.contact-slider__item {
  width: auto;
  max-width: 370px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .contact-slider__item {
    max-width: 100%;
  }
}
.contact-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}
.contact-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-feedback__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .contact-feedback__wrapper {
    grid-template-columns: minmax(0, 1fr);
  }
}
.contact-feedback__info {
  display: flex;
  flex-direction: column;
}
.contact-feedback__list {
  flex-grow: 1;
}
.contact-form__wrapper {
  padding: 64px 56px;
  border-radius: 6px;
  border: 1px solid #E1E2E6;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 991px) {
  .contact-form__wrapper {
    padding: 32px 24px;
    gap: 24px;
  }
}
.contact-form__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 991px) {
  .contact-form__content {
    gap: 16px;
  }
}
.contact-form__title {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .contact-form__title {
    font-size: 20px;
  }
}
.contact-form__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
}
@media screen and (max-width: 991px) {
  .contact-form__row {
    grid-template-columns: minmax(0, 1fr);
    gap: 16px;
  }
}
.contact-form__footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .contact-form__footer {
    grid-template-columns: minmax(0, 1fr);
    gap: 10px;
    text-align: center;
  }
}
.contact-form__submit {
  border-radius: 5px;
  padding: 8px 16px;
  background: #cb1727;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.contact-form__submit:hover {
  cursor: pointer;
}
.contact-form__text {
  font-size: 12px;
  line-height: 150%;
  color: #777;
}
.contact-form__text a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #cb1727;
}
.contact-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contact-input__label {
  font-size: 14px;
  color: #777;
}
.contact-input__label span {
  font-weight: 700;
  font-size: 12px;
  color: #cb1727;
}
.contact-input__item {
  border: 1px solid #e1e2e6;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  height: 44px;
  background: #Fff;
  font-size: 14px;
}
.contact-input__item--textarea {
  height: 88px;
}
.contact-input__item::placeholder {
  color: #bbb;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  gap: 82px;
}
@media screen and (max-width: 991px) {
  .contact__wrapper {
    gap: 30px;
  }
}

.footer {
  margin-top: 84px;
}
@media screen and (max-width: 991px) {
  .footer {
    margin-top: 48px;
  }
}

.tip {
  position: relative;
}
.tip:hover .tip__content {
  visibility: visible;
  opacity: 1;
}
.tip__content {
  position: absolute;
  background-color: #Fff;
  font-size: 8px;
  left: 100%;
  bottom: 100%;
  padding: 6px;
  border-radius: 5px;
  width: max-content;
  max-width: 250px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s visibility, 0.5s opacity;
}
.tip-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}
.tip-link:hover {
  cursor: pointer;
}

.mobile-filter {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100svh - 98px);
  background-color: #fff;
  z-index: 1000;
  padding: 0 14px 14px 14px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: 0.3s visibility, 0.5s opacity;
}
.mobile-filter::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 991px) {
  .mobile-filter.active {
    opacity: 1;
    visibility: visible;
  }
}
.mobile-filter .filter-block__content {
  display: block;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  color: #777777;
}
.filter-button svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.filter-block {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #F5F5F5;
}
.filter-block.active .filter-block__content {
  display: block;
}
.filter-block.active .filter-block__icon {
  transform: rotate(180deg);
}
.filter-block__icon {
  transition: 0.3s transform;
}
.filter-block__header {
  border-radius: 5px;
  background: #F5F5F5;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.filter-block__content {
  padding: 4px 17px;
  display: none;
}
.filter-block__content--range {
  padding: 17px;
}
.filter-block__title {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.filter-checkbox {
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  color: #777;
  font-size: 14px;
  transition: 0.3s color;
}
.filter-checkbox:hover {
  cursor: pointer;
}
.filter-checkbox:has(:checked) .filter-checkbox__checkmark {
  background: #CB1727;
  border-color: #CB1727;
}
.filter-checkbox:has(:checked) {
  color: #333333;
}
.filter-checkbox:has(:disabled) {
  pointer-events: none;
  opacity: 0.5;
}
.filter-checkbox__input {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
}
.filter-checkbox__checkmark {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid #777777;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s background-color, 0.3s border-color;
}
.filter-range {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.filter-range__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}
.filter-range__input {
  height: 35px;
  font-size: 14px;
}
.filter-range__input input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #777777;
  padding: 8px 12px;
}
.filter-range__input input::placeholder {
  color: #777777;
}
.filter__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}
.filter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: 30px;
  padding: 8px 16px;
  font-size: 13px;
  color: #777777;
  border-radius: 3px;
  border: 1px solid #E1E2E6;
}
.filter__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  height: 50px;
}
.filter__reset {
  font-size: 12px;
}
.filter__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
.filter__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 991px) {
  .home__wrapper {
    gap: 30px;
  }
}
.home__header {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media screen and (max-width: 991px) {
  .home__header {
    gap: 30px;
  }
}
.home-about__grid {
  display: grid;
  grid-template-columns: 540px minmax(0, 1fr);
  gap: 160px;
}
@media screen and (max-width: 991px) {
  .home-about__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
  }
}
.home-about__block {
  position: relative;
}
@media screen and (max-width: 991px) {
  .home-about__block {
    margin-right: 16px;
  }
}
.home-about__content {
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media screen and (max-width: 991px) {
  .home-about__content {
    padding: 12px 12px 12px 12px;
    gap: 10px;
  }
}
.home-about__img {
  width: 150px;
  height: 210px;
  position: absolute;
  right: -120px;
  top: calc(50% - 105px);
}
.home-about__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 991px) {
  .home-about__img {
    top: -80px;
    right: 0;
  }
}
.home-about__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .home-about__title {
    padding-right: 150px;
  }
}
.home-about__text {
  font-size: 14px;
  color: #777777;
  max-width: 490px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .home-about__text--small {
    padding-right: 150px;
  }
}
.home-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home-block__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-block__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-block__text {
  font-size: 16px;
  line-height: 1.1;
  color: #777777;
}
@media screen and (max-width: 991px) {
  .home-block__text {
    font-size: 13px;
  }
}
.home-block__yd {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .home-block__yd {
    height: 500px;
  }
}
.home-block__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .home-block__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.home-block__container {
  width: 100%;
}
.home-block__header {
  margin: 0 0 20px 0;
}
.home-block__review {
  height: 600px;
}
.home-block__title {
  font-weight: 700;
  font-size: 26px;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .home-block__title {
    font-size: 18px;
    font-weight: 500;
  }
  .home-block__title--about {
    padding-right: 150px;
  }
}

.sort {
  z-index: 8;
  position: relative;
}
.sort.active .sort-select__list {
  opacity: 1;
  visibility: visible;
}
.sort.active .sort-select__current {
  border-bottom-color: transparent;
  border-radius: 5px 5px 0 0;
}
.sort.active .sort-select__icon {
  transform: rotate(180deg);
}
.sort-select {
  position: relative;
}
.sort-select__icon {
  transition: 0.3s trasnform;
}
.sort-select__list {
  position: absolute;
  padding: 4px 12px;
  background-color: #F5F5F5;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  visibility: hidden;
  opacity: 1;
  transition: 0.3s visibility, 0.5s opacity;
}
.sort-select__current {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #E1E2E6;
  padding: 6px 12px;
  height: 32px;
  font-size: 12px;
  color: #777777;
  transition: 0.3s border-color, 0.3s border-radius;
}
.sort-select__current:hover {
  cursor: pointer;
}
.sort-input {
  position: relative;
}
.sort-input__item {
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}
.sort-input__text {
  font-size: 12px;
  line-height: 20px;
  color: #777777;
}

.category__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .category__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
  }
}
.category__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 991px) {
  .category__wrapper {
    gap: 15px;
  }
}
.category__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  color: #CB1727;
  height: 40px;
  border: 1px solid #CB1727;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
}
.category-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
  transition: 0.3s background-color;
}
.category-item:hover {
  background-color: #E7E7E7;
}
@media screen and (max-width: 991px) {
  .category-item {
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
  }
}
.category-item__img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .category-item__img {
    width: 70px;
    height: 70px;
  }
}
.category-item__title {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .category-item__title {
    font-size: 18px;
  }
}
.category-item__text {
  font-size: 16px;
  line-height: 1.1;
  color: #777777;
}
@media screen and (max-width: 991px) {
  .category-item__text {
    font-size: 14px;
  }
}
.category-item__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 991px) {
  .category-item__content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.catalog__breadcrumbs {
  margin: 0;
  padding: 20px 0;
}
.catalog__main {
  display: flex;
  flex-direction: column;
  gap: 84px;
}
.catalog__grid {
  display: grid;
  grid-template-columns: 270px minmax(0, 1fr);
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .catalog__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.catalog-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.catalog-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.catalog-filter {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 991px) {
  .catalog-filter {
    display: none;
  }
}
.catalog-filter__yd {
  width: 100%;
  object-fit: contain;
}
.catalog-main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .catalog-main__wrapper {
    gap: 20px;
  }
}
.catalog-category {
  width: 100%;
  max-width: 100%;
}
.catalog-category__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.catalog-category__wrapper::-webkit-scrollbar {
  display: none;
}
.catalog-category__item {
  flex-shrink: 0;
  width: 160px;
  height: 50px;
  padding: 4px 4px 4px 12px;
  background-color: #F5F5F5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-category__text {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.1;
  color: #333333;
}
.catalog-category__img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.fast-search__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fast-search__title {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}
.fast-search__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (max-width: 991px) {
  .fast-search__list {
    gap: 10px;
  }
}
.fast-search__item {
  --border-color:#E1E2E6;
  --text-color:#777;
  padding: 12px 18px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  flex-shrink: 0;
  transition: 0.3s border-color, 0.3s color;
}
.fast-search__item:hover {
  cursor: pointer;
}
.fast-search__item:has(:checked) {
  --border-color:#CB1727;
  --text-color:#CB1727;
}
.fast-search__item input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 991px) {
  .fast-search__item {
    font-size: 13px;
    padding: 8px 12px;
    height: 30px;
  }
}

@media screen and (max-width: 991px) {
  .help-banner--desc {
    display: none;
  }
}
.help-banner__wrapper {
  padding: 30px 46px;
  border: 2px solid #E1E2E6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 991px) {
  .help-banner__wrapper {
    flex-direction: column;
    padding: 28px 20px;
  }
}
.help-banner__content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.help-banner__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 100px;
}
@media screen and (max-width: 991px) {
  .help-banner__img {
    width: 60px;
    height: 70px;
  }
}
.help-banner__img video, .help-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.help-banner__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.help-banner__title {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .help-banner__title {
    font-size: 18px;
  }
}
.help-banner__text {
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
@media screen and (max-width: 991px) {
  .help-banner__text {
    font-size: 14px;
  }
}
.help-banner__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 991px) {
  .help-banner__buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}
.help-banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 220px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #CB1727;
  font-size: 14px;
  font-weight: 500;
  color: #CB1727;
}
.help-banner__button--fill {
  background-color: #CB1727;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .help-banner__button {
    width: 100%;
  }
}

.banner__container {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}
.banner__wrapper {
  height: 180px;
  width: 100%;
  background: #Fff;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .banner__wrapper {
    height: 80px;
    padding-top: 10px;
  }
}
.banner__wrapper--port::before {
  content: "";
  position: absolute;
  width: 1024px;
  height: 240px;
  background: radial-gradient(49.31% 52.9% at 49.3% 69.17%, rgb(101, 11, 19) 0%, rgb(203, 23, 39) 100%);
  border-radius: 50%;
  bottom: -75%;
  right: -50%;
  z-index: 0;
}
@media screen and (max-width: 991px) {
  .banner__wrapper--port::before {
    width: 340px;
    height: 70px;
    bottom: -50%;
  }
}
.banner__content {
  padding: 30px;
  height: 100%;
  display: flex;
}
@media screen and (max-width: 991px) {
  .banner__content {
    padding: 7px 12px;
  }
}
.banner__content--casings {
  background: #CB1727;
  padding: 16px;
}
@media screen and (max-width: 991px) {
  .banner__content--casings {
    padding: 4px;
  }
}
.banner__content--port {
  background: #E1E2E6;
}
.banner__content--generator {
  background: #222;
}
.banner__title {
  font-size: 36px;
  font-weight: 700;
  color: #CB1727;
}
@media screen and (max-width: 991px) {
  .banner__title {
    font-size: 18px;
    line-height: 1;
  }
  .banner__title--generator {
    max-width: 150px;
    width: 100%;
  }
}
.banner__title--white {
  color: #fff;
}
.banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 12px 20px;
  width: max-content;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #CB1727;
  border-radius: 3px;
  border: 1px solid #CB1727;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .banner__button {
    height: 12px;
    padding: 4px;
    font-size: 4px;
  }
}
.banner__button--accent {
  background: #CB1727;
  color: #fff;
}
.banner__text {
  font-size: 22px;
  line-height: 1.5;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .banner__text {
    font-size: 7px;
  }
}
.banner__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner__tag {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 20px;
  border: 1px solid #333333;
  font-size: 14px;
}
.banner__tag--white {
  color: #fff;
  border-color: #fff;
}
@media screen and (max-width: 991px) {
  .banner__tag {
    border-radius: 6px;
    height: 6px;
    font-size: 4px;
    padding: 0 3px;
    border: 0.3px solid #333;
  }
}
.banner__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  .banner__header {
    gap: 4px;
  }
}
.banner__header--casings {
  gap: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #E1E2E6;
  border-radius: 5px;
  max-width: calc(100% - 400px);
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .banner__header--casings {
    max-width: 200px;
  }
}
.banner-casings__img {
  position: absolute;
  width: 280px;
  top: 0;
  height: 100%;
  object-fit: contain !important;
  z-index: 3;
}
.banner-casings__img--left {
  left: 0;
  width: 260px;
  object-position: left bottom;
}
.banner-casings__img--right {
  right: 0;
  object-position: right bottom;
}
@media screen and (max-width: 991px) {
  .banner-casings__img {
    width: 130px;
  }
  .banner-casings__img--left {
    transform: translateX(-35px);
  }
  .banner-casings__img--right {
    transform: translateX(40px);
  }
}
.banner-label {
  max-width: 450px;
  height: 86px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #CB1727;
}
@media screen and (max-width: 991px) {
  .banner-label {
    padding: 6px 8px;
    justify-content: flex-end;
    height: 30px;
    max-width: 130px;
  }
}
.banner-label__img {
  width: 220px;
  height: 220px;
  position: absolute;
  left: -30%;
  top: calc(50% - 20px);
  transform: translateY(-50%);
  object-fit: contain !important;
}
@media screen and (max-width: 991px) {
  .banner-label__img {
    width: 100px;
    height: 100px;
    top: calc(50% - 5px);
    left: -35%;
  }
}
.banner-label__text {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .banner-label__text {
    font-size: 10px;
    font-weight: 400;
  }
}
.banner-port__footer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.banner-port__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 220px;
  transform: translateY(-20px);
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  .banner-port__img {
    width: 120px;
    height: 100px;
    transform: translateY(0px);
  }
}
.banner-port__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-slider__pagination {
  position: absolute;
  z-index: 2;
  bottom: 24px !important;
  top: unset !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: max-content !important;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 991px) {
  .banner-slider__pagination {
    gap: 6px;
    bottom: 6px !important;
  }
}
.banner-slider__pagination .swiper-pagination-bullet {
  border-radius: 4px;
  width: 6px;
  height: 6px;
  background: #fff;
  margin: 0 !important;
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .banner-slider__pagination .swiper-pagination-bullet {
    width: 3px;
    height: 3px;
  }
}
.banner-slider__pagination .swiper-pagination-bullet-active {
  background: #cb1727;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (max-width: 991px) {
  .pagination {
    gap: 8px;
  }
}
.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (max-width: 991px) {
  .pagination__list {
    order: 1;
    width: 100%;
    gap: 8px;
  }
}
.pagination__item {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s border-color;
  border: 1px solid transparent;
  font-size: 12px;
  color: #333333;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .pagination__item {
    width: 30px;
    height: 30px;
    color: rgba(119, 119, 119, 0.4666666667);
    border-color: #E1E2E6;
  }
  .pagination__item:not(a) {
    border-color: transparent;
    color: #333333;
  }
}
.pagination__item.current {
  border-color: #CB1727;
  color: #CB1727;
}
.pagination__item--text {
  padding: 13px 16px;
  width: max-content;
}
@media screen and (max-width: 991px) {
  .pagination__item--text {
    order: 2;
    padding: 8px 12px;
  }
}

.sort {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sort__title {
  font-size: 12px;
  color: #333333;
}

.search-result__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 991px) {
  .search-result__sort {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .search-result__filter {
    display: none;
  }
}
.search-result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 130px;
}
@media screen and (max-width: 991px) {
  .search-result__wrapper {
    gap: 60px;
  }
}

.catalog-banner {
  border-radius: 5px;
  background-color: #EBECEC;
}
.catalog-banner__wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.catalog-banner__title {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}
.catalog-banner__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.35) translateY(0px);
}
.catalog-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.catalog-banner__hit {
  font-weight: 900;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #fff;
  padding: 2px 15px;
  background: #cb1727;
  border-radius: 20px;
  width: max-content;
  margin: 0 auto;
  max-width: 100%;
}
.catalog-banner__content {
  background-color: #CB1727;
  border-radius: 5px;
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.product-scroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-scroll::-webkit-scrollbar {
  display: none;
}
.product-scroll__row {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}
.product-scroll .product-card:nth-child(4n) {
  border-right: none;
}
.product-scroll .product-card:nth-child(3n) {
  border-right: 1px solid #E1E2E6;
}

.product-promotion__grid {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}
@media screen and (max-width: 991px) {
  .product-promotion__grid {
    flex-direction: column;
    gap: 18px;
  }
}
.product-promotion__main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 991px) {
  .product-promotion__main {
    gap: 24px;
  }
}
.product-promotion__header {
  margin: 0 0 34px 0;
}
@media screen and (max-width: 991px) {
  .product-promotion__header {
    margin: 0 0 24px 0;
  }
}
.product-promotion__title {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .product-promotion__title {
    font-size: 18px;
  }
}
.product-promotion__img {
  max-width: 260px;
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 991px) {
  .product-promotion__img {
    margin: 0 auto;
    height: 140px;
  }
}
.product-promotion__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 992px) {
  .product-promotion__list {
    flex-wrap: wrap;
    max-height: 250px;
  }
  .product-promotion__list li {
    flex: 0 0 calc(50% - 10px);
    max-width: 50%;
  }
}
@media screen and (max-width: 991px) {
  .product-promotion__list {
    gap: 8px;
  }
}
.product-promotion__list li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.product-promotion__list li::before {
  content: "";
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background: url("/img/product-promotion/check.svg") center center/contain no-repeat;
}
.product-promotion__text {
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}
@media screen and (max-width: 991px) {
  .product-promotion__text {
    font-size: 13px;
  }
}
.product-promotion__text span {
  font-weight: 500;
  color: #333;
}

.product-list__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.product-list__row--fourth {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media screen and (min-width: 992px) {
  .product-list__row--fourth .product-card:nth-child(4n) {
    border-right: none;
  }
  .product-list__row--fourth .product-card:nth-child(3n) {
    border-right: 1px solid #E1E2E6;
  }
}
@media screen and (max-width: 991px) {
  .product-list__row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.product-list__pagination {
  margin-top: 64px;
}
.product-list__advantages--row {
  grid-column: 1/-1;
  padding: 34px 0;
}
.product-list__advantages--column {
  padding-left: 20px;
}
@media screen and (max-width: 991px) {
  .product-list__advantages {
    grid-column: 1/-1;
    padding: 10px 14px;
  }
}

.product-card {
  border-bottom: 1px solid #E1E2E6;
  border-right: 1px solid #E1E2E6;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .product-card:nth-child(3n) {
    border-right: none;
  }
}
@media screen and (max-width: 991px) {
  .product-card:nth-child(2n) {
    border-right: none;
  }
}
.product-card__header {
  position: relative;
  height: 240px;
  display: flex;
}
@media screen and (max-width: 991px) {
  .product-card__header {
    height: 150px;
  }
}
.product-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (max-width: 991px) {
  .product-card__content {
    padding: 8px 0;
  }
}
.product-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
}
@media screen and (max-width: 991px) {
  .product-card__img {
    padding: 30px;
  }
}
.product-card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card__controls {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  z-index: 2;
  top: 4px;
  right: 4px;
}
.product-card__control {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: block;
}
@media screen and (max-width: 991px) {
  .product-card__control {
    width: 20px;
    height: 20px;
  }
}
.product-card__control svg {
  width: 100%;
  height: 100%;
}
.product-card__slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.product-card__pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 30px));
  align-items: center;
  justify-content: center;
  gap: 12px;
}
@media screen and (max-width: 991px) {
  .product-card__pagination {
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(0, 12px));
  }
}
.product-card__pagination .swiper-pagination-bullet {
  height: 2px;
  width: 100%;
  background-color: #777777;
  border-radius: 1px;
  margin: 0 !important;
}
.product-card__pagination .swiper-pagination-bullet-active {
  background-color: #CB1727;
}
.product-card__block {
  padding: 12px;
}
@media screen and (max-width: 991px) {
  .product-card__block {
    padding: 8px 12px;
  }
}
.product-card__block--title {
  margin-bottom: auto;
}
.product-card__block--status {
  padding-top: 0;
}
@media screen and (min-width: 992px) {
  .product-card__block--footer--top {
    padding-top: 8px;
  }
}
@media screen and (min-width: 992px) {
  .product-card__block--footer {
    padding-top: 0;
  }
}
.product-card__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .product-card__title {
    font-size: 13px;
  }
}
.product-card__article {
  font-size: 12px;
  color: #777777;
}
.product-card__row, .product-card__footer {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .product-card__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
.product-card__price {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
@media screen and (max-width: 991px) {
  .product-card__price {
    font-size: 16px;
  }
}
.product-card__button {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  border: 1px solid #CB1727;
  font-size: 11px;
  font-weight: 500;
  color: #CB1727;
  padding: 8px 12px;
  height: 40px;
}
@media screen and (max-width: 991px) {
  .product-card__button {
    height: 36px;
    padding: 6px 16px;
  }
  .product-card__button span {
    display: none;
  }
}
.product-card__button--yes {
  background-color: #CB1727;
  color: #fff;
}
.product-card__button svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.product__status {
  --color:#3333;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: var(--color);
  position: relative;
}
.product__status--no {
  --color: #CB1727;
}
.product__status--yes {
  --color:#16CC41;
}
.product__status--yes::after {
  content: "";
  width: 8px;
  height: 8px;
  background: url("/img/product/check.svg") center center/contain no-repeat;
  position: absolute;
  top: calc(50% - 4px);
  left: 3px;
}
.product__status::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid var(--color);
}

.product-rate__reviews {
  text-decoration: underline !important;
  font-size: 12px;
  color: #777777;
}

.promotion-info {
  border: 1px solid #E1E2E6;
}
.promotion-info:not(:last-child) {
  border-bottom: none;
}
.promotion-info.active .promotion-info__icon {
  background: #Fff;
}
.promotion-info.active .promotion-info__icon::before, .promotion-info.active .promotion-info__icon::after {
  background: #CB1727;
}
.promotion-info.active .promotion-info__icon::before {
  transform: rotate(0);
}
.promotion-info.active .promotion-info__header {
  background-color: #F5F5F5;
  border-color: #E1E2E6;
}
.promotion-info.active .promotion-info__box {
  display: block;
}
.promotion-info__img {
  max-width: 100%;
}
.promotion-info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
  border-bottom: 1px solid transparent;
  transition: 0.3s background-color, 0.3s border-color;
}
@media screen and (max-height: 991px) {
  .promotion-info__header {
    padding: 20px 24px;
  }
}
.promotion-info__title {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
@media screen and (max-height: 991px) {
  .promotion-info__title {
    font-size: 14px;
  }
}
.promotion-info__icon {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.promotion-info__icon::before, .promotion-info__icon::after {
  content: "";
  width: 14px;
  height: 2px;
  background: #333333;
  position: absolute;
  left: calc(50% - 7px);
  top: calc(50% - 1px);
  transition: 0.3s background-color, 0.3s transform;
}
.promotion-info__icon::before {
  transform: rotate(90deg);
}
.promotion-info__box {
  display: none;
}
.promotion-info__content {
  padding: 24px 24px 40px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-height: 991px) {
  .promotion-info__content {
    padding: 16px 12px;
    gap: 16px;
  }
}

a.advantages-item__wrapper--white:hover {
  background-color: #F5F5F5;
}

@media screen and (max-width: 991px) {
  .advantages--desktop {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .advantages--mobile {
    display: none;
  }
}
.advantages__wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 12px;
}
.advantages__wrapper--column {
  grid-template-columns: minmax(0, 1fr);
}
.advantages__wrapper--two {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media screen and (max-width: 991px) {
  .advantages__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.advantages-item__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #F5F5F5;
  padding: 18px 16px;
  gap: 8px;
  transition: 0.3s background-color;
}
@media screen and (max-width: 991px) {
  .advantages-item__wrapper {
    padding: 16px 20px;
    border-radius: 3px;
  }
}
@media screen and (min-width: 992px) {
  .advantages-item__wrapper--column {
    flex-direction: column;
    padding: 12px 6px;
  }
}
@media screen and (max-width: 991px) {
  .advantages-item__wrapper--column {
    padding: 0;
  }
}
.advantages-item__wrapper--white {
  background-color: #fff;
}
.advantages-item__text {
  color: #777777;
  font-size: 14px;
}
@media screen and (max-width: 991px) {
  .advantages-item__text {
    font-size: 13px;
  }
}
.advantages-item__icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .advantages-item__icon {
    width: 32px;
    height: 32px;
  }
}

.js-range {
  -webkit-user-select: none;
  user-select: none;
}

.range-slider {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background: #777777;
  border-radius: 4px;
}

.range-slider[data-vertical] {
  height: 100%;
  width: 8px;
}

.range-slider[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.range-slider .range-slider__thumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 17px;
  height: 17px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #CB1727;
}

.range-slider .range-slider__thumb:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 6px rgba(33, 150, 243, 0.5);
}

.range-slider[data-vertical] .range-slider__thumb {
  left: 50%;
}

.range-slider .range-slider__thumb[data-disabled] {
  z-index: 2;
}

.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  height: 100%;
  background: #CB1727;
  border-radius: 4px;
}

.range-slider[data-vertical] .range-slider__range {
  left: 50%;
  transform: translate(-50%, 0);
}

.range-slider input[type=range] {
  -webkit-appearance: none;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
}

.range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.range-slider input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0;
}

.range-slider input[type=range]:focus {
  outline: 0;
}

.range-slider .range-slider__thumb[data-disabled] {
  width: 0;
}

.js-toggle-block-link:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
