@font-face {
  font-family: 'Stolzl Book';
  src: url('../fonts/Stolzl-Book.woff2') format('woff2'),
  url('../fonts/Stolzl-Book.woff') format('woff');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/Stolzl-Light.woff2') format('woff2'),
  url('../fonts/Stolzl-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/Stolzl-Medium.woff2') format('woff2'),
  url('../fonts/Stolzl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/Stolzl-Regular.woff2') format('woff2'),
  url('../fonts/Stolzl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: 'Nunito Sans';
//  src: url('../fonts/NunitoSans-BoldItalic.woff2') format('woff2'),
//  url('../fonts/NunitoSans-BoldItalic.woff') format('woff');
//  font-weight: bold;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Nunito Sans';
//  src: url('../fonts/NunitoSans-Italic.woff2') format('woff2'),
//  url('../fonts/NunitoSans-Italic.woff') format('woff');
//  font-weight: normal;
//  font-style: italic;
//  font-display: swap;
//}
//
