:root {
  --font-main:"Inter", sans-serif;
  --color-blue:#00A0AD;
  --color-orange:#F9CB17;
  --header-height:124px;
}
@media screen and (max-width: 991px) {
  :root {
    --header-height: 80px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --header-height: 60px;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1382px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.page-wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
.page-wrapper .content {
  min-height: 100svh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  height: 100%;
  object-fit: contain;
}

.burger {
  width: 24px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.burger::before, .burger::after, .burger__item {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: 0.5s top, 0.3s transform;
}
.burger::after {
  top: calc(100% - 2px);
}
.burger__item {
  top: calc(50% - 1px);
  transition: 0.3s opacity;
}
.burger--active::before {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.burger--active::after {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.burger--active .burger__item {
  opacity: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: max-content;
  width: 100%;
}
.button--base {
  height: 45px;
  padding: 14px 28px;
  border-radius: 18px 18px 18px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  min-width: 212px;
}
@media screen and (max-width: 640px) {
  .button--base {
    font-size: 16px;
  }
}
.button--blue {
  background: var(--color-blue);
  color: #Fff;
}
.button--orange {
  background: var(--color-orange);
  color: #000;
}
.button:hover {
  cursor: pointer;
}

.text--base {
  font-size: 18px;
  line-height: 1.56;
  font-weight: 500;
  color: #fff;
}
@media screen and (max-width: 640px) {
  .text--base {
    font-size: 16px;
  }
}

.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 12;
}
.header__row {
  height: 124px;
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 10px 0;
  position: relative;
}
@media screen and (max-width: 991px) {
  .header__row {
    height: 80px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 640px) {
  .header__row {
    height: 60px;
  }
}
.header__logo {
  height: 100%;
  position: relative;
  z-index: 5;
}
.header__burger {
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 992px) {
  .header__burger {
    display: none;
  }
}
.header-nav {
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .header-nav {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100vw;
    background: #fff;
    height: 100svh;
    z-index: 4;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s visibility, 0.5s opacity;
  }
  .header-nav--active {
    opacity: 1;
    visibility: visible;
  }
}
.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
@media screen and (max-width: 991px) {
  .header-nav__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    padding: 100px 35px 50px 35px;
  }
}
@media screen and (max-width: 640px) {
  .header-nav__list {
    padding-top: 80px;
  }
}
.header-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.hero {
  position: relative;
}
.hero__wrapper {
  position: relative;
  z-index: 2;
}
.hero__title {
  font-weight: 500;
  font-size: 78px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 640px) {
  .hero__title {
    font-size: 36px;
  }
}
.hero__content {
  min-height: calc(100svh - 124px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  padding: 50px 0;
}
@media screen and (max-width: 991px) {
  .hero__content {
    min-height: calc(100svh - 80px);
  }
}
@media screen and (max-width: 640px) {
  .hero__content {
    min-height: calc(100svh - 60px);
    gap: 40px;
  }
}
.hero__header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 600px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .hero__header {
    gap: 20px;
    max-width: 340px;
  }
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.hero__burger {
  flex-shrink: 0;
}
.hero-video__mute {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: #fff;
}
.hero-video__mute span::before {
  content: attr(data-high);
}
.hero-video__mute .icon {
  width: 20px;
  height: 20px;
}
.hero-video__mute .icon .muted, .hero-video__mute .icon .high {
  transition: 0.3s opacity;
}
.hero-video__mute .icon .muted {
  opacity: 0;
}
.hero-video__mute.unmuted span::before {
  content: attr(data-muted);
}
.hero-video__mute.unmuted .icon .high {
  opacity: 0;
}
.hero-video__mute.unmuted .icon .muted {
  opacity: 1;
}
.hero-video__item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}
.hero-video__item video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-video__footer {
  position: absolute;
  bottom: 16px;
  right: 0;
  z-index: 2;
}

.wa-button {
  position: fixed;
  top: calc(var(--header-height) + 24px);
  right: 24px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  color: #fff;
}
@media screen and (max-width: 640px) {
  .wa-button {
    top: calc(var(--header-height) + 12px);
    right: 12px;
    width: 48px;
    height: 48px;
  }
}
.wa-button .icon {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 640px) {
  .wa-button .icon {
    width: 18px;
    height: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
