:root {
  --font-main: "Inter", sans-serif;
  --color-blue: #00A0AD;
  --color-orange: #F9CB17;
  --color-gradient: linear-gradient(90deg, #00a0ad 0%, #f4d700 96.32%);
  --header-height: 124px;
}
@media screen and (max-width: 991px) {
  :root {
    --header-height: 80px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --header-height: 60px;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
}

.container {
  max-width: 1382px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.page-wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
.page-wrapper .content {
  min-height: 100svh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  height: 100%;
  width: unset;
  object-fit: contain;
}

.burger {
  width: 24px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.burger::before, .burger::after, .burger__item {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: 0.5s top, 0.3s transform;
}
.burger::after {
  top: calc(100% - 2px);
}
.burger__item {
  top: calc(50% - 1px);
  transition: 0.3s opacity;
}
.burger--active::before {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.burger--active::after {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.burger--active .burger__item {
  opacity: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: max-content;
  width: 100%;
}
.button--base {
  height: 45px;
  padding: 14px 28px;
  border-radius: 18px 18px 18px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  min-width: 212px;
}
@media screen and (max-width: 640px) {
  .button--base {
    font-size: 16px;
  }
}
.button--small {
  height: 36px;
  padding: 10px 20px;
  border-radius: 14px 14px 14px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  min-width: 212px;
}
.button--blue {
  background: var(--color-blue);
  color: #Fff;
  transition: 0.3s background-color, 0.3s color;
}
.button--blue:hover {
  color: var(--color-blue);
  background: #Fff;
}
.button--orange {
  background: var(--color-orange);
  color: #000;
  transition: 0.3s background-color, 0.3s color;
}
.button--orange:hover {
  background: #000;
  color: var(--color-orange);
}
.button--gradient {
  background: var(--color-gradient);
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 0.3s border-color;
}
.button--gradient::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 0;
  opacity: 0;
  background: linear-gradient(90deg, #184b50 29.5%, #eed21c 100%);
  transition: 0.3s width, 0.1s opacity;
}
.button--gradient:hover::after {
  width: 100%;
  opacity: 1;
}
.button--gradient--border {
  position: relative;
}
.button--gradient--border::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #fff;
  border-radius: 18px 18px 18px 0;
}
.button--gradient--border .button__text {
  background: linear-gradient(90deg, #00a0ad 0%, #f4d700 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: unset;
}
.button:hover {
  cursor: pointer;
}
.button--full {
  max-width: 100%;
}
.button__text {
  position: relative;
  z-index: 3;
}

.text--big {
  font-size: 20px;
  line-height: 1.56;
}
@media screen and (max-width: 640px) {
  .text--big {
    font-size: 18px;
  }
}
.text--middle {
  font-size: 18px;
  line-height: 1.56;
}
@media screen and (max-width: 640px) {
  .text--middle {
    font-size: 16px;
  }
}
.text--base {
  font-size: 16px;
  line-height: 1.56;
}
@media screen and (max-width: 640px) {
  .text--base {
    font-size: 14px;
  }
}
.text--small {
  font-size: 14px;
  line-height: 1.56;
}
@media screen and (max-width: 640px) {
  .text--small {
    font-size: 12px;
  }
}
.text--blue {
  color: var(--color-blue);
}
.text--white {
  color: #fff;
}
.text--grey {
  color: #4A4949;
}
.text--line {
  text-decoration: line-through;
}
.text--medium {
  font-weight: 500;
}
.text--semibold {
  font-weight: 600;
}
.text--bold {
  font-weight: 700;
}
.text--center {
  text-align: center;
}

.title--base {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .title--base {
    font-size: 32px;
  }
}
.title--gradient {
  background: linear-gradient(90deg, #00a0ad 0%, #f4d700 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title--orange {
  color: var(--color-orange);
}
.title--center {
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 12;
}
.header__row {
  height: 124px;
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 10px 0;
  position: relative;
}
@media screen and (max-width: 991px) {
  .header__row {
    height: 80px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 640px) {
  .header__row {
    height: 60px;
  }
}
.header__logo {
  height: 100%;
  position: relative;
  z-index: 5;
}
.header__burger {
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 992px) {
  .header__burger {
    display: none;
  }
}
.header-nav {
  flex-shrink: 0;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .header-nav {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100vw;
    background: #fff;
    height: 100svh;
    z-index: 4;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s visibility, 0.5s opacity;
  }
  .header-nav--active {
    opacity: 1;
    visibility: visible;
  }
}
.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
@media screen and (max-width: 991px) {
  .header-nav__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    padding: 100px 35px 50px 35px;
  }
}
@media screen and (max-width: 640px) {
  .header-nav__list {
    padding-top: 80px;
  }
}
.header-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.hero {
  position: relative;
}
.hero__wrapper {
  position: relative;
  z-index: 2;
}
.hero__title {
  font-weight: 500;
  font-size: 78px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 640px) {
  .hero__title {
    font-size: 28px;
  }
}
.hero__content {
  min-height: calc(100svh - 124px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 80px;
  padding: 50px 0;
}
@media screen and (max-width: 991px) {
  .hero__content {
    min-height: calc(100svh - 80px);
  }
}
@media screen and (max-width: 640px) {
  .hero__content {
    min-height: calc(100svh - 60px);
    gap: 40px;
  }
}
.hero__header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 600px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .hero__header {
    gap: 20px;
    max-width: 300px;
  }
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.hero__burger {
  flex-shrink: 0;
}

.video-item {
  position: relative;
}
.video-item__mute {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: #fff;
  z-index: 4;
}
.video-item__mute span::before {
  content: attr(data-high);
}
.video-item__mute .icon {
  width: 20px;
  height: 20px;
}
.video-item__mute .icon .muted, .video-item__mute .icon .high {
  transition: 0.3s opacity;
}
.video-item__mute .icon .muted {
  opacity: 0;
}
.video-item__mute.unmuted span::before {
  content: attr(data-muted);
}
.video-item__mute.unmuted .icon .high {
  opacity: 0;
}
.video-item__mute.unmuted .icon .muted {
  opacity: 1;
}
.video-item__element {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}
.video-item__element video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-item__footer {
  position: absolute;
  bottom: 16px;
  right: 0;
  z-index: 2;
}

.wa-button {
  position: fixed;
  top: calc(var(--header-height) + 24px);
  right: 24px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  color: #fff;
}
@media screen and (max-width: 640px) {
  .wa-button {
    top: calc(var(--header-height) + 12px);
    right: 12px;
    width: 48px;
    height: 48px;
  }
}
.wa-button .icon {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 640px) {
  .wa-button .icon {
    width: 18px;
    height: 18px;
  }
}

.section__column {
  display: flex;
  flex-direction: column;
  gap: 96px;
}
@media screen and (max-width: 640px) {
  .section__column {
    gap: 48px;
  }
}
.section__wrapper {
  padding: 96px 0;
}
.section__wrapper--tour {
  padding-top: 48px;
}
@media screen and (max-width: 640px) {
  .section__wrapper {
    padding: 24px 0;
  }
}
.section__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.section__grid--gap--big {
  gap: 70px;
}
@media screen and (max-width: 991px) {
  .section__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 40px;
  }
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.section__header--center {
  justify-content: center;
}
.section__header:not(:last-child) {
  margin: 0 0 48px 0;
}
.section-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 95%;
}
.section-img--fluid {
  flex-grow: 1;
}
.section-img--full {
  height: 100%;
  padding-bottom: 0;
}
@media screen and (max-width: 991px) {
  .section-img--full {
    padding-bottom: 100%;
  }
}
.section-img__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.section-img__item--top--left {
  border-radius: 320px 25px 0 25px;
}
.section-img__item--bottom--right {
  border-radius: 0 25px 320px 25px;
}
.section-img__item--all {
  border-radius: 320px 25px 320px 0;
}
@media screen and (max-width: 991px) {
  .section-img__item {
    border-radius: 0;
  }
  .section-img__item--frame {
    height: 50vh;
  }
}
.section-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-block--start {
  justify-content: flex-start;
}
@media screen and (min-width: 992px) {
  .section-block--mobile {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .section-block--desktop {
    display: none;
  }
}
.section-block__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 28px;
}
.section-block__button {
  max-width: 80%;
}
@media screen and (max-width: 640px) {
  .section-block__button {
    max-width: 100%;
  }
}

.tours-block {
  display: flex;
  flex-direction: column;
}
.tours-block__header:not(:last-child) {
  margin: 0 0 24px 0;
}
.tours-row__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 991px) {
  .tours-row__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 640px) {
  .tours-row__wrapper {
    grid-template-columns: minmax(0, 1fr);
  }
}
.tours-img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 60%;
}
.tours-img__content {
  padding: 24px;
}
.tours-img__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.tours-card__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  border-radius: 25px 25px 25px 0;
  box-shadow: 0 0 25px 0 rgba(87, 87, 87, 0.14);
  overflow: hidden;
}
.tours-card__map {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 50%;
}
.tours-card__map img, .tours-card__map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.tours-card__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;
}
.tours-card__stock {
  margin-left: auto;
  text-align: right;
}
.tours-card__text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tours-card__text .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: var(--color-blue);
}
.tours-card__content {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tours-card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.list--check .icon {
  width: 24px;
  height: 24px;
  background: var(--color-blue);
  border-radius: 8px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list--check .icon svg {
  width: 20px;
  height: 20px;
  color: #fff;
}
.list--check--clear .icon {
  background-color: transparent;
}
.list--check--clear .icon svg {
  color: var(--color-orange);
}
.list__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.input.error .input__item {
  border-color: #FF0000;
  background-color: #FDECEC;
}
.input.error .input__help {
  color: #EE443F;
}
.input.success .input__item {
  border-color: #43B75D;
  background-color: #ECF8EF;
}
.input.success .input__help {
  color: #43B75D;
}
.input__label {
  font-size: 16px;
  font-weight: 500;
}
.input__item {
  border-radius: 12px;
  height: 50px;
  background-color: #F9FAFB;
  border: 1px solid #E5E7EA;
  padding: 12px;
  font-size: 16px;
  color: #131927;
  transition: 0.3s background-color, 0.3s border-color;
}
.input__item:hover {
  border-color: #9EA2AE;
}
.input__item:focus {
  border-color: #045157;
  background-color: #EDEDF4;
}
.input__item::placeholder {
  color: #9EA2AE;
}
.input__item--textarea {
  height: 150px;
}
.input__help {
  font-size: 14px;
  color: #9EA2AE;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer__wrapper {
  background: #92b6b9;
  padding: 50px 0;
}
.footer__decor {
  flex-shrink: 0;
  width: 158px;
  height: 158px;
  object-fit: contain;
  transform: translateY(-25%);
}
@media screen and (max-width: 1240px) {
  .footer__decor {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
}
.footer__grid {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}
.footer__divider {
  flex-shrink: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-color: rgba(0, 0, 0, 0.06);
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.footer__row--center {
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .footer__row {
    flex-direction: column;
    gap: 40px;
  }
}
.footer__logo {
  height: 80px;
}
.footer-nav {
  flex-shrink: 0;
}
.footer-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 991px) {
  .footer-nav__list {
    flex-direction: column;
  }
}
.footer-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}
.footer-nav__link--small {
  font-size: 12px;
  font-weight: 400;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.social__list--gap--big {
  gap: 48px;
}
.social__item {
  flex-shrink: 0;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s border-color;
}
.social-link:hover {
  border-color: #000;
}
.social-link__icon {
  width: 14px;
  height: 14px;
  color: #000;
}
.social-link__img {
  height: 100%;
  width: unset;
  object-fit: contain;
}
.social-link--big {
  width: unset;
  height: 60px;
  border-radius: 0;
  border: none;
}

/*# sourceMappingURL=index.css.map */
