@charset "UTF-8";
.landing {
  background: #fff;
}

.block-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.block-header--small {
  max-width: 640px;
}
.block-header--gap--big {
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .block-header {
    gap: 12px;
  }
  .block-header--mobile--left {
    text-align: left;
  }
}
.block-header__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #252525;
}
@media screen and (max-width: 767px) {
  .block-header__title {
    font-size: 24px;
  }
}
.block-header__title--hero {
  text-transform: uppercase;
  font-size: 40px;
}
.block-header__subtitle {
  font-size: 18px;
  line-height: 144%;
  color: #68727d;
}
@media screen and (max-width: 767px) {
  .block-header__subtitle {
    font-size: 16px;
  }
}
.block__wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.block__wrapper--gap--small {
  gap: 32px;
}
.block__wrapper--grey {
  background: #FAFBFC;
  border-radius: 12px;
  padding: 40px 0;
}
@media screen and (max-width: 767px) {
  .block__wrapper--grey {
    padding: 16px 0;
  }
}
.block-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 64px;
}
@media screen and (max-width: 767px) {
  .block-grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 32px;
  }
}
.block-grid--sip {
  gap: 124px;
}
@media screen and (max-width: 767px) {
  .block-grid--sip {
    gap: 32px;
  }
}
@media screen and (max-width: 767px) {
  .block-grid__item--mobile--start {
    grid-row-start: 1;
  }
}
.block-info {
  display: flex;
  align-items: center;
}
.block-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
}
.block-info__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.block-info__subtitle {
  font-size: 16px;
  color: #6B7280;
}
.block-info__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #252525;
}
.block-info__title--big {
  font-size: 32px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .block-info__title--big {
    font-size: 28px;
  }
}
.block-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.block-list--gap--big {
  gap: 32px;
}
.block-list__item {
  display: flex;
  gap: 12px;
}
.block-list__item--center {
  align-items: center;
}
.block-list__img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  flex-shrink: 0;
  transform: translateY(2px);
}
.block-list__img--big {
  width: 32px;
  height: 32px;
  transform: translateY(0);
}
.block-list__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #252525;
}
@media screen and (min-width: 768px) {
  .block-list__text--big {
    font-size: 20px;
  }
}
.block-tag {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
}
.block-tag__img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.block-tag--green {
  padding: 8px 12px;
  border-radius: 128px;
  background: #E9F8F1;
  font-size: 14px;
  color: #27B973;
}

.sip-question {
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}
.sip-question__item {
  display: flex;
  gap: 16px;
}
.sip-question__img {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.sip-question__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sip-question__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #252525;
}
@media screen and (max-width: 767px) {
  .sip-question__title {
    font-weight: 700;
    font-size: 20px;
  }
}
.sip-question__text {
  font-size: 16px;
  line-height: 150%;
  color: #68727d;
}
.sip-grid__wrapper {
  padding: 42px 46px;
  border-radius: 9px;
  background: #fcfcfd;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .sip-grid__wrapper {
    padding: 26px 30px;
    gap: 10px;
  }
}
.sip-grid__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .sip-grid__column {
    gap: 10px;
  }
}
.sip-grid__item {
  padding: 16px 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.04);
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .sip-grid__item {
    gap: 8px;
    padding: 10px 13px;
  }
}
.sip-grid__text {
  font-size: 14px;
  font-weight: 600;
  color: #252525;
}
@media screen and (max-width: 767px) {
  .sip-grid__text {
    font-size: 9px;
  }
}
.sip-grid__img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .sip-grid__img {
    width: 40px;
    height: 40px;
  }
}
.sip-what {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .sip-what {
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .sip-what__content {
    padding-top: 32px;
    border-top: 1px solid #E5E7EB;
  }
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 64px;
}
@media screen and (max-width: 767px) {
  .advantages-grid {
    gap: 40px;
    grid-template-columns: minmax(0, 1fr);
  }
  .advantages-grid__item:nth-child(n+5) {
    display: none;
  }
  .advantages-grid:has(:checked) .advantages-grid__item:nth-child(n+5) {
    display: flex;
  }
  .advantages-grid:has(:checked) .advantages-grid__button-text::before {
    content: attr(data-close);
  }
}
@media screen and (min-width: 768px) {
  .advantages-grid__button {
    display: none;
  }
}
.advantages-grid__button-text {
  display: block;
}
.advantages-grid__button-text::before {
  content: attr(data-open);
}
.advantages-grid__button input {
  display: none;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.advantages-item__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
.advantages-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #68727d;
}
.advantages-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #252525;
}
.advantages-item__icon {
  width: 56px;
  height: 56px;
  border-radius: 6px;
  background: #E9F8F1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages-item__icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.btn2--green--light {
  background: #D4F1E3;
  color: #176F45;
  font-weight: 600;
}

.partners-grid {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .partners-grid:has(:checked) .partners-grid__row:nth-child(n+2) {
    display: flex;
  }
  .partners-grid:has(:checked) .partners-grid__button-text::before {
    content: attr(data-close);
  }
  .partners-grid__row:nth-child(n+2) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .partners-grid__button {
    display: none;
  }
}
.partners-grid__button-text {
  display: block;
}
.partners-grid__button-text::before {
  content: attr(data-open);
}
.partners-grid__button input {
  display: none;
}
.partners-grid__img {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  width: 100%;
  background: #FCFCFD;
  border-radius: 4px;
  flex-grow: 1;
  padding: 10px 24px;
}
.partners-grid__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .partners-grid__img {
    max-width: 100%;
    padding: 30px 100px;
  }
}
.partners-grid__row {
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .partners-grid__row {
    flex-direction: column;
    width: 100%;
  }
}

.landing-hero {
  background: url("../images/hero-bg.png") bottom center/contain no-repeat;
}
@media screen and (min-width: 768px) {
  .landing-footer {
    background: url("../images/landing-footer-bg.png") bottom center/contain no-repeat;
  }
}
.landing-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}
.landing-checkbox__checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #EAEBF0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-checkbox__checkmark::before {
  content: "✓";
  color: #1F945C;
  opacity: 0;
  transition: 0.3s opacity;
}
.landing-checkbox__checkmark--radio {
  border-radius: 50%;
}
.landing-checkbox__text {
  font-size: 16px;
  font-weight: 600;
}
.landing-checkbox__input {
  display: none;
}
.landing-checkbox__input:checked ~ .landing-checkbox__checkmark::before {
  opacity: 1;
}
.landing-reviews-slider {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
}
.landing-reviews__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: none;
  min-height: auto;
}
.landing-reviews__text {
  font-size: 18px;
  font-weight: 500;
  color: #252525;
  text-align: center;
}
.landing-reviews__author {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  gap: 16px;
}
.landing-reviews__img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .landing-reviews__img {
    width: 40px;
    height: 40px;
  }
}
.landing-reviews__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.landing-reviews__title {
  font-size: 16px;
  font-weight: 500;
}
.landing-reviews__title--grey {
  color: #68727D;
}
.landing-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .landing-form {
    width: 100vw;
    transform: translateX(-20px);
  }
}
.landing-form__text {
  font-size: 18px;
  font-weight: 600;
}
.landing-form__question {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.landing-form__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 170px));
}
@media screen and (max-width: 767px) {
  .landing-form__grid {
    gap: 16px;
    grid-template-columns: minmax(0, 1fr);
  }
}
.landing-form__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .landing-form__column {
    gap: 16px;
  }
}
.landing-form__wrapper {
  padding: 24px 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.landing-form__wrapper--contact {
  background: #252525;
  border: 1px solid #323539;
  max-width: 520px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .landing-form__wrapper {
    border-radius: 0;
  }
}
.landing-form__title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.landing-form__title--white {
  color: #F9F9F9;
}
.landing-form__subtitle {
  font-size: 15px;
  color: #979AA0;
  text-align: center;
}
.landing-form__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .landing-form__row {
    grid-template-columns: minmax(0, 1fr);
  }
}
.landing-form__input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  height: 46px;
  border-radius: 5px;
  border: 1px solid #EAEBF0;
  font-size: 15px;
}
.landing-form__input--textarea {
  height: 160px;
}
.landing-form__input input, .landing-form__input textarea {
  width: 100%;
  height: 100%;
  border: none;
}
.landing-form__input--black {
  color: #fff;
  background: #2b2d2f;
  border: 1px solid #323539;
}
.landing-form__input--black input::placeholder, .landing-form__input--black textarea::placeholder {
  color: #68727D;
  opacity: 1;
}

.country-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .country-list {
    gap: 8px;
  }
}
.country-list__item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #252525;
  border-radius: 6px;
  transition: 0.3s background-color;
}
@media screen and (max-width: 767px) {
  .country-list__item {
    padding: 9px 14px;
    font-size: 11px;
  }
}
.country-list__item:hover {
  background: #E9F8F1;
}
.country-list__item:hover .country-list__code {
  opacity: 1;
}
.country-list__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .country-list__icon {
    width: 16px;
    height: 16px;
  }
}
.country-list__code {
  position: absolute;
  background: #252525;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: #FFf;
  padding: 8px 12px;
  left: 50%;
  transform: translateX(-50%);
  top: -100%;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s opacity;
}
.country-list__code::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #252525;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.container--big {
  max-width: 1300px;
}

@media screen and (min-width: 768px) {
  .section--desktop--grey {
    background-color: #FAFBFC;
  }
}

/*# sourceMappingURL=index.css.map */
