doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        link(rel="stylesheet" href="assets/styles/css/reset.css")
        link(rel="stylesheet" href="assets/styles/css/index.css")
        title Периметр
    body
        .popup.popup-enter
            .popup__wrapper.popup__wrapper--container
                .popup__overlay
                .popup__content
                    form.modal.form
                        span.modal__close.popup-close
                        .modal__wrapper
                            .form__wrapper
                                p.title.title--base.title--white Войти в Периметр управления
                                p.text.text--base.text--white.form__text Разберем процесс и адаптируем систему под ваши задачи
                                .form-grid
                                    .form-grid__item
                                        label.input
                                            input.input__item(type="text" placeholder="Имя")
                                    .form-grid__item
                                        label.input
                                            input.input__item(type="text" placeholder="Название компании")
                                    .form-grid__item
                                        label.input
                                            input.input__item(type="text" placeholder="Телефон")
                                    .form-grid__item
                                        label.input
                                            input.input__item(type="text" placeholder="Email")
                                    .form-grid__item.form-grid__item--full
                                        button(type="submit").button.button--full.button--big.button--white
                                            span.button__text Отправить
                                    .form-grid__item.form-grid__item--full
                                        label.checkbox
                                            input.checkbox__input(type="checkbox" required)
                                            span.checkbox__checkmark
                                                svg.icon
                                                    use(xlink:href="assets/images/sprite.svg#check")
                                            span.checkbox__text Вы&nbsp;даете согласие на&nbsp;обработку персональных данных, принимаете условия #[a(href="#") Политики конфиденциальности] и&nbsp;#[a(href="#") Пользовательского соглашения]
        .cookie
            .cookie__wrapper
                p.cookie__text Для оптимизации работы сайта мы используем #[a(href="#") файлы cookie]. Продолжая пользоваться нашим ресурсом, вы даете согласие на их применение
                button.button.button--base.button--accent.button--full.cookie__button Отлично
        .page-wrapper
            header.header
                .header__wrapper
                    .container
                        .header__row
                            a(href="#").logo.header__logo.image
                                svg.logo__img.image__item
                                    use(xlink:href="assets/images/sprite.svg#logo")
                            .header__buttons.button-list.button-list--header
                                a(href="#").button.button--base.button--icon.button--bordered
                                    svg.button__icon
                                        use(xlink:href="assets/images/sprite.svg#mail")
                                a(href="#").button.button--base.button--icon.button--bordered
                                    svg.button__icon
                                        use(xlink:href="assets/images/sprite.svg#phone")
                                a(href="#").button.button--base.button--icon--mobile.button--bordered
                                    span.button__text Оставить заявку
                                    svg.button__icon
                                        use(xlink:href="assets/images/sprite.svg#connect")
                                a(href="#" data-popup=".popup-enter").button.button--base.button--icon--mobile.button--bordered
                                    span.button__text Войти
                                    svg.button__icon
                                        use(xlink:href="assets/images/sprite.svg#home")
                                a(href="#" ).button.button--base.button--icon--mobile.button--accent
                                    span.button__text Контакты
                                    svg.button__icon
                                        use(xlink:href="assets/images/sprite.svg#phone-burger")
            main.content
                .hero.hero--page
                    .hero__bg.image
                        picture.image__item
                            <source srcset="assets/images/hero/bg-m.webp" media="(max-width: 640px)">
                            img(src="assets/images/hero/bg.webp" draggable="false" ondragstart="return false;")
                .content__wrapper.content__wrapper--small
                    .section
                        .container.container--small
                            .section__column
                                p.title.title--base.title--center.page-title Согласие Пользователя Платформы «ПериметрВан» (далее – «Платформа») на обработку персональных данных
                                p.text.text--base.text--center Актуальная версия от 04 мая 2026 г.
                                .button-list.button-list--accent.button-list--center
                                    a(href="#").button.button--base.button--accent
                                        span.button__text Скачать документ
                                        svg.button__icon
                                            use(xlink:href="assets/images/sprite.svg#download")
                                .block-list
                                    .block
                                        .block__wrapper
                                            label.block__header
                                                p.block__title.title.title--small Вводная информация
                                                span.block__icon
                                                input(type="checkbox" checked).block__input
                                            .block-content
                                                .block-content__wrapper
                                                    p.text.text--base Федеральный закон «О персональных данных» от 27.07.2006 N 152-ФЗ регламентирует, что согласие на обработку персональных данных может быть дано гражданином или его представителем в любой позволяющей подтвердить факт его получения форме, если иное не установлено федеральным законом. В случае, если наличие письменного согласия в силу закона не обязательно, гражданин может выразить свое согласие на обработку персональных данных любым способом, в частности проставлением отметки в электронном виде.

                                    .block
                                        .block__wrapper
                                            label.block__header
                                                p.block__title.title.title--small Термины и определения
                                                span.block__icon
                                                input(type="checkbox").block__input
                                            .block-content
                                                .block-content__wrapper
                                                    p.text.text--base Настоящим свободно, своей волей и в своем интересе я (далее — «Пользователь») даю в электронной форме свое добровольное, мотивированное и информированное согласие Обществу с ограниченной ответственностью «ПЕРИМЕТРТЕХ» (ИНН 9707055346) &nbsp;(далее— «Оператор») на автоматизированную обработку моих персональных данных при использовании Платформы, в том числе с использованием сайтов, находящихся по адресу в сети Интернет #[a(href="http://my.perimetr.one") http://my.perimetr.one] и #[a(href="http://perimetr.one") http://perimetr.one], а также мобильным версиям <br> <br>
                                                        | 1. Для целей оказания Пользователю услуг: регистрация в личном кабинете Платформы, предоставление доступа к Платформе, консультации и техническая поддержка в рамках использования Платформы, другие цели в рамках реализации функционала Платформы. <br> Для достижения данных целей обрабатываются следующие персональные данные Пользователя:<br>1. Фамилия, имя, отчество;<br>2. Адрес электронной почты;<br>3. Телефон.<br>4. Должность. <br> <br>
                                                        | 2. Для определения предпочтений Пользователя, совершенствование работы Сайтов — для достижения данной цели обрабатываются следующие персональные данные Пользователя: <br>
                                                        | #[span.dot •] источник захода на Сайты и информация поискового или рекламного запроса; <br>
                                                        | #[span.dot •] данные о пользовательском устройстве (среди которых разрешение, версия и другие атрибуты, характеризующие пользовательское устройство); <br>
                                                        | #[span.dot •] пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры баннеров и видео; <br>
                                                        | #[span.dot •] данные, характеризующие аудиторные сегменты; <br>
                                                        | #[span.dot •] параметры сессии; <br>
                                                        | #[span.dot •] данные о времени посещения; <br>
                                                        | #[span.dot •] информация, хранимая в cookie, IP адрес <br> <br>
                                                        | Для выполнения целей, указанных в п. 1) и п. 2) настоящего согласия Оператор вправе осуществлять обработку персональных данных следующими способами: <br>
                                                        | #[span.dot •] сбор, <br>
                                                        | #[span.dot •] запись, <br>
                                                        | #[span.dot •] систематизация, <br>
                                                        | #[span.dot •] накопление, <br>
                                                        | #[span.dot •] хранение, <br>
                                                        | #[span.dot •] уточнение (обновление, изменение), <br>
                                                        | #[span.dot •] использование, <br>
                                                        | #[span.dot •] блокирование, <br>
                                                        | #[span.dot •] удаление, <br>
                                                        | #[span.dot •] уничтожение персональных данных. <br> <br>
                                                        | Настоящее согласие действует в течение всего срока действия учетной записи Пользователя &nbsp;в Платформе.
                                                        | Данное согласие может быть отозвано путем направления письменного отзыва в свободной форме по месту нахождения Оператора по почте по юридическому адресу Оператора, содержащемуся в Едином государственном реестре юридических лиц, или путем направления электронного письма на следующий адрес электронной почты #[a(href="mailto:hello@perimetr.one") hello@perimetr.one] В указанном случае Оператор прекращает обработку и уничтожает персональные данные Пользователя в срок, не превышающий 10 (десяти) календарных дней с даты получения соответствующего отзыва, а также закрывает доступ к учетной записи Пользователя.
                .nav
                    .nav-buttons
                        .button-list.button-list--accent.button-list--column
                            a(href="#").button.button--base.button--icon.button--accent.anchor-prev
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#arrow-top")
                            a(href="#").button.button--base.button--icon.button--accent.anchor-next
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#arrow-down")
                    ul.nav-list.button-list.button-list--nav
                        li.nav-list__item
                            a(href="#").button.button--base.button--icon.button--accent
                                svg.button__icon.button__icon--logo
                                    use(xlink:href="assets/images/sprite.svg#logo")
                        li.nav-list__item
                            a(href="#about").button.button--base.button--icon--mobile.button--accent--light
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#chat")
                                span.button__text О платформе
                        li.nav-list__item
                            a(href="#functions").button.button--base.button--icon--mobile.button--accent--light
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#action")
                                span.button__text Функционал
                        li.nav-list__item
                            a(href="#roles").button.button--base.button--icon--mobile.button--accent--light
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#role")
                                span.button__text Роли пользователей
                        li.nav-list__item
                            a(href="#advantages").button.button--base.button--icon--mobile.button--accent--light
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#advantages")
                                span.button__text Преимущества
                        li.nav-list__item
                            a(href="#audience").button.button--base.button--icon--mobile.button--accent--light
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#audience")
                                span.button__text Целевая аудитория
                        li.nav-list__item
                            a(href="#" data-popup=".popup-enter").button.button--base.button--icon.button--accent
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#home")
                        li.nav-list__item
                            a(href="#").button.button--base.button--icon.button--accent
                                svg.button__icon
                                    use(xlink:href="assets/images/sprite.svg#connect")
                .contact-showcase
                    .container
                        form(method="POST").contact-showcase__row
                            .contact-showcase__img.image
                                picture.image__item
                                    <source srcset="assets/images/contact/decor-m.webp" media="(max-width: 640px)">
                                    img(src="assets/images/contact/decor.webp" draggable="false" ondragstart="return false;")
                            .contact-showcase__header
                                p.title.title--white.title--base Войти в Периметр управления
                                p.text.text--base.text--white.contact-showcase__text Разберем процесс и адаптируем систему под ваши задачи
                                label.checkbox
                                    input.checkbox__input(type="checkbox" required)
                                    span.checkbox__checkmark
                                        svg.icon
                                            use(xlink:href="assets/images/sprite.svg#check")
                                    span.checkbox__text Вы&nbsp;даете согласие на&nbsp;обработку персональных данных, принимаете условия #[a(href="#") Политики конфиденциальности] и&nbsp;#[a(href="#") Пользовательского соглашения]
                            .contact-showcase__form.form
                                .form-grid
                                    .form-grid__item
                                        label.input
                                            input.input__item(type="text" placeholder="Имя")
                                    .form-grid__item
                                        label.input
                                            input.input__item(type="text" placeholder="Название компании")
                                    .form-grid__item
                                        label.input
                                            input.input__item(type="text" placeholder="Телефон")
                                    .form-grid__item
                                        label.input
                                            input.input__item(type="text" placeholder="Email")
                                    .form-grid__item.form-grid__item--full
                                        button(type="submit").button.button--full.button--big.button--white
                                            span.button__text Отправить


                footer.footer
                    .footer__wrapper
                        .container
                            .footer__column
                                a.footer__logo.image
                                    svg.image__ite
                                        use(xlink:href="assets/images/sprite.svg#logo")
                                .footer__row
                                    .footer__block
                                        a(href="tel:+7 495 141 21 00 ").button.button--base.button--accent.footer__button
                                            span.button__text +7 495 141 21 00
                                            svg.button__icon
                                                use(xlink:href="assets/images/sprite.svg#phone")
                                        a(href="#").button.button--base.button--bordered.footer__button
                                            span.button__text О сервисе
                                        a(href="#").button.button--base.button--bordered.footer__button
                                            span.button__text О компании
                                    .footer__block
                                        a(href="#").button.button--base.button--bordered.footer__button
                                            span.button__text Политика обработки персональных данных
                                        a(href="#").button.button--base.button--bordered.footer__button
                                            span.button__text Политика конфиденциальности
                                    .footer__block
                                        a(href="#").button.button--base.button--bordered.footer__button
                                            span.button__text Пользовательское соглашение
                                        a(href="mailto:Hello@perimetr.one").button.button--base.button--accent.footer__button
                                            span.button__text Hello@perimetr.one
                                            svg.button__icon
                                                use(xlink:href="assets/images/sprite.svg#mail")



                                p.footer__text 2026 PERIMETR. All rights reserved
        script(src="assets/scripts/index.js")