:root {
  --font-main: "Myriad Pro", sans-serif;
  --color-white: #fff;
  --color-accent: #E12027;
}

body {
  font-family: var(--font-main);
  color: var(--color-white);
  font-size: 20px;
  line-height: 1.2;
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  max-width: 1340px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 85vw;
    padding: 0;
  }
}

.page-wrapper {
  background: url("../../images/main-bg.webp") center center/cover no-repeat;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 0 0 60px 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max-content;
  max-width: 100%;
  -webkit-user-select: none;
  user-select: none;
}
.button--grey {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.5);
}
.button--base {
  height: 55px;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}
.button--accent {
  background: var(--color-accent);
  color: var(--color-white);
  transition: 0.3s background-color, 0.4s color;
}
.button--accent:hover {
  background: var(--color-white);
  color: var(--color-accent);
}
.button:hover {
  cursor: pointer;
}

.header {
  position: relative;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
}
.header__wrapper {
  padding: 100px 0 80px 0;
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    padding: 40px 0 20px 0;
  }
}
.header__logo {
  max-width: 600px;
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 320px;
    width: 100%;
    height: 50px;
  }
}
.header__plane {
  width: 250px;
  height: 140px;
}
@media screen and (min-width: 768px) {
  .header__plane {
    position: absolute;
    width: 26vw;
    height: 10.4vw;
    top: 3vw;
    right: 1.3vw;
    object-fit: contain;
  }
}

.form--hidden {
  display: none;
}
.form__title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .form__title {
    font-size: 24px;
  }
}
.form__wrapper {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
.form-lottery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .form-lottery__wrapper {
    gap: 40px;
  }
}
.form-lottery__box {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
  background: rgba(6, 75, 146, 0.5);
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .form-lottery__box {
    padding: 24px 15px;
  }
}
.form-tour__wrapper {
  padding: 30px 30px 50px 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .form-tour__wrapper {
    padding: 24px 15px;
  }
}
.form-tour__header {
  border-bottom: 1px solid #fff;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-input__label {
  font-size: 26px;
  color: var(--color-white);
  line-height: 1.2;
}
.form-input__item {
  width: 100%;
  height: 50px;
  padding: 12px;
  font-size: 24px;
  color: #000;
  border: 1px solid #d8d6de;
  border-radius: 6px;
  background: #fff;
}
.form-input__item::placeholder {
  color: #B9B9C3;
}
.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}
.form-checkbox__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 30px;
  opacity: 0;
  visibility: hidden;
}
.form-checkbox__input:checked ~ .form-checkbox__checkmark svg {
  opacity: 1;
}
.form-checkbox__input:checked ~ .form-checkbox__checkmark::after {
  left: calc(100% - 24px);
}
.form-checkbox__text {
  font-size: 22px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}
.form-checkbox__checkmark {
  width: 56px;
  height: 30px;
  flex-shrink: 0;
  background: #E20E18;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  position: relative;
  color: #fff;
}
.form-checkbox__checkmark::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: calc(50% - 9px);
  box-shadow: -1px 2px 3px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  flex-shrink: 0;
  transition: 0.3s left;
}
.form-checkbox__checkmark svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  opacity: 0;
  transition: 0.3s opacity;
}
.form-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-block__header {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.form-block__header::after {
  content: "";
  display: block;
  height: 3px;
  flex-grow: 1;
  background: #fff;
  border-radius: 3px;
  transform: translateY(-6px);
}
.form-block__title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  flex-shrink: 0;
}
.form__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.form__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .form__footer {
    flex-direction: column;
  }
}
.form__button {
  flex: 1;
  max-width: 340px;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.form__wrapper--gap--small {
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .form__wrapper {
    gap: 40px;
  }
}

.events {
  overflow: hidden;
}

.event-list {
  display: flex;
  align-items: stretch;
  gap: 40px;
  overflow: auto;
}
.event-list__item {
  min-width: 400px;
}
@media screen and (max-width: 991px) {
  .event-list__item {
    width: 100%;
    flex-shrink: 0;
  }
}
.event-item__button {
  flex: 1;
  width: 100%;
}
.event-item__wrapper {
  padding: 26px 26px 40px 26px;
  border-radius: 20px;
  background: rgba(15, 87, 158, 0.7);
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .event-item__wrapper {
    gap: 16px;
    padding: 20px;
  }
}
.event-item__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .event-item__footer {
    flex-direction: column;
    gap: 10px;
  }
}
.event-item__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 430px;
  border-radius: 10px;
  overflow: hidden;
}
.event-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .event-item__img {
    height: 400px;
  }
}
.event-item__title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background: rgba(6, 45, 84, 0.7);
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s visibility, 0.5s opacity;
}
.popup--active {
  opacity: 1;
  visibility: visible;
}
.popup__close {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  background: var(--color-accent);
  border-radius: 6px;
}
.popup__close:hover {
  cursor: pointer;
}
.popup__close:hover::before, .popup__close:hover::after {
  background: #fff;
}
.popup__close::before {
  content: "";
  width: 30px;
  height: 3px;
  display: block;
  background: #fff;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 1.5px);
  transition: 0.3s background-color;
  transform: rotate(45deg);
}
.popup__close::after {
  content: "";
  width: 30px;
  height: 3px;
  display: block;
  background: #fff;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 1.5px);
  transition: 0.3s background-color;
  transform: rotate(-45deg);
}
.popup__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}
.popup__wrapper::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar */
  display: none;
}
@media screen and (max-width: 640px) {
  .popup__wrapper::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
.popup__wrapper::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}
.popup__wrapper::-webkit-scrollbar-thumb {
  background: var(--color-accent); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}
.popup__container {
  max-width: 1300px;
  width: calc(100% - 60px);
  max-height: 90%;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-popup__wrapper {
  background: #Fff;
  border-radius: 15px;
  padding: 36px 50px;
  box-shadow: 0 4px 55px 0 rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 767px) {
  .register-popup__wrapper {
    padding: 30px 15px;
  }
}
.register-popup__content {
  background: rgba(226, 14, 24, 0.2);
  color: #000;
  font-size: 26px;
  text-align: center;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.register-popup__content span {
  font-weight: 700;
}

.event-popup__wrapper {
  display: grid;
  grid-template-columns: 360px minmax(0, 1fr);
  gap: 40px;
  background: #fff;
  padding: 36px;
  box-shadow: 0 4px 55px 0 rgba(0, 0, 0, 0.35);
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .event-popup__wrapper {
    padding: 30px;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
  }
}
.event-popup__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  height: 490px;
}
.event-popup__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event-popup__content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
@media screen and (max-width: 767px) {
  .event-popup__content {
    gap: 30px;
  }
}
.event-popup__title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--color-accent);
}
@media screen and (max-width: 767px) {
  .event-popup__title {
    font-size: 24px;
  }
}
.event-popup__text {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-accent);
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .event-popup__text {
    font-size: 18px;
    gap: 16px;
  }
}

.tour-header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}
.tour-header__grid {
  display: grid;
  grid-template-columns: 350px minmax(0, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1280px) {
  .tour-header__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.tour-header__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}
.tour-header__row--full {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media screen and (max-width: 767px) {
  .tour-header__row {
    gap: 15px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.tour-header__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.tour-header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages-item__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
@media screen and (max-width: 991px) {
  .advantages-item__wrapper {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}
.advantages-item__icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
  flex-shrink: 0;
}
.advantages-item__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.advantages-item__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .advantages-item__title {
    font-size: 30px;
  }
}
.advantages-item__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .advantages-item__text {
    font-size: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
