.hero-logo__wrapper .hero-logo__item:nth-child(1) {
  animation-delay: 100ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(2) {
  animation-delay: 200ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(3) {
  animation-delay: 300ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(4) {
  animation-delay: 400ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(5) {
  animation-delay: 500ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(6) {
  animation-delay: 600ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(7) {
  animation-delay: 700ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(8) {
  animation-delay: 800ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(9) {
  animation-delay: 900ms;
}
.hero-logo__wrapper .hero-logo__item:nth-child(10) {
  animation-delay: 1000ms;
}

.hero-logo__dots .hero-logo__item:nth-child(1) {
  animation-delay: 50ms;
}
.hero-logo__dots .hero-logo__item:nth-child(2) {
  animation-delay: 100ms;
}
.hero-logo__dots .hero-logo__item:nth-child(3) {
  animation-delay: 150ms;
}
.hero-logo__dots .hero-logo__item:nth-child(4) {
  animation-delay: 200ms;
}
.hero-logo__dots .hero-logo__item:nth-child(5) {
  animation-delay: 250ms;
}
.hero-logo__dots .hero-logo__item:nth-child(6) {
  animation-delay: 300ms;
}
.hero-logo__dots .hero-logo__item:nth-child(7) {
  animation-delay: 350ms;
}
.hero-logo__dots .hero-logo__item:nth-child(8) {
  animation-delay: 400ms;
}
.hero-logo__dots .hero-logo__item:nth-child(9) {
  animation-delay: 450ms;
}
.hero-logo__dots .hero-logo__item:nth-child(10) {
  animation-delay: 500ms;
}
.hero-logo__dots .hero-logo__item:nth-child(11) {
  animation-delay: 550ms;
}
.hero-logo__dots .hero-logo__item:nth-child(12) {
  animation-delay: 600ms;
}
.hero-logo__dots .hero-logo__item:nth-child(13) {
  animation-delay: 650ms;
}
.hero-logo__dots .hero-logo__item:nth-child(14) {
  animation-delay: 700ms;
}
.hero-logo__dots .hero-logo__item:nth-child(15) {
  animation-delay: 750ms;
}

.hero-logo__code .hero-logo__item:nth-child(1) {
  animation-delay: 50ms;
}
.hero-logo__code .hero-logo__item:nth-child(2) {
  animation-delay: 100ms;
}
.hero-logo__code .hero-logo__item:nth-child(3) {
  animation-delay: 150ms;
}
.hero-logo__code .hero-logo__item:nth-child(4) {
  animation-delay: 200ms;
}
.hero-logo__code .hero-logo__item:nth-child(5) {
  animation-delay: 250ms;
}
.hero-logo__code .hero-logo__item:nth-child(6) {
  animation-delay: 300ms;
}
.hero-logo__code .hero-logo__item:nth-child(7) {
  animation-delay: 350ms;
}
.hero-logo__code .hero-logo__item:nth-child(8) {
  animation-delay: 400ms;
}
.hero-logo__code .hero-logo__item:nth-child(9) {
  animation-delay: 450ms;
}
.hero-logo__code .hero-logo__item:nth-child(10) {
  animation-delay: 500ms;
}
.hero-logo__code .hero-logo__item:nth-child(11) {
  animation-delay: 550ms;
}
.hero-logo__code .hero-logo__item:nth-child(12) {
  animation-delay: 600ms;
}
.hero-logo__code .hero-logo__item:nth-child(13) {
  animation-delay: 650ms;
}
.hero-logo__code .hero-logo__item:nth-child(14) {
  animation-delay: 700ms;
}
.hero-logo__code .hero-logo__item:nth-child(15) {
  animation-delay: 750ms;
}
.hero-logo__code .hero-logo__item:nth-child(16) {
  animation-delay: 800ms;
}
.hero-logo__code .hero-logo__item:nth-child(17) {
  animation-delay: 850ms;
}
.hero-logo__code .hero-logo__item:nth-child(18) {
  animation-delay: 900ms;
}
.hero-logo__code .hero-logo__item:nth-child(19) {
  animation-delay: 950ms;
}
.hero-logo__code .hero-logo__item:nth-child(20) {
  animation-delay: 1000ms;
}
.hero-logo__code .hero-logo__item:nth-child(21) {
  animation-delay: 1050ms;
}
.hero-logo__code .hero-logo__item:nth-child(22) {
  animation-delay: 1100ms;
}
.hero-logo__code .hero-logo__item:nth-child(23) {
  animation-delay: 1150ms;
}
.hero-logo__code .hero-logo__item:nth-child(24) {
  animation-delay: 1200ms;
}
.hero-logo__code .hero-logo__item:nth-child(25) {
  animation-delay: 1250ms;
}
.hero-logo__code .hero-logo__item:nth-child(26) {
  animation-delay: 1300ms;
}
.hero-logo__code .hero-logo__item:nth-child(27) {
  animation-delay: 1350ms;
}
.hero-logo__code .hero-logo__item:nth-child(28) {
  animation-delay: 1400ms;
}
.hero-logo__code .hero-logo__item:nth-child(29) {
  animation-delay: 1450ms;
}
.hero-logo__code .hero-logo__item:nth-child(30) {
  animation-delay: 1500ms;
}

.hero-logo__arrows--right .hero-logo__arrow {
  animation: arrowAnimation 1s forwards;
  opacity: 0;
}

.hero-logo__arrows--left .hero-logo__arrow {
  animation: arrowAnimationLeft 1s forwards;
  opacity: 0;
}

.hero-logo__dot {
  opacity: 0;
  animation: rotateAnimation 1s forwards;
}

.hero-logo__width {
  opacity: 0;
  animation: widthAnimation 1s forwards;
}

.hero-logo__height {
  opacity: 0;
  animation: heightAnimation 1s forwards;
}

.hero-logo__circle {
  opacity: 0;
  animation: circleAnimation 2s forwards;
}

.hero-logo__main {
  opacity: 0;
  animation: circleMainAnimation 2s forwards;
}

@keyframes arrowAnimation {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes arrowAnimationLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rotateAnimation {
  0% {
    opacity: 0;
    transform: scale(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}
@keyframes widthAnimation {
  0% {
    opacity: 0;
    transform: scale(0, 1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes heightAnimation {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes circleAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes circleMainAnimation {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

/*# sourceMappingURL=index.css.map */
