:root {
  --font-main: 'Inter', sans-serif;


  --color-blue: #00A0AD;
  --color-orange: #F9CB17;
  --color-gradient: linear-gradient(90deg, #00a0ad 0%, #f4d700 96.32%);

  --header-height: 124px;

  @media screen and (max-width: 991px) {
    --header-height: 80px;
  }
  @media screen and (max-width: 640px) {
    --header-height: 60px;
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: #000;
}


.container {
  max-width: 1382px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.page-wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  .content {
    min-height: 100svh;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    height: 100%;
    width: unset;
    object-fit: contain;
  }
}

.burger {
  width: 24px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before, &::after, &__item {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #000;

    transition: .5s top, .3s transform;
  }

  &::after {
    top: calc(100% - 2px);
  }

  &__item {
    top: calc(50% - 1px);

    transition: .3s opacity;
  }

  &--active {
    &::before {
      transform: rotate(45deg);
      top: calc(50% - 1px);
    }

    &::after {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
  }

  &--active &__item {
    opacity: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  max-width: max-content;
  width: 100%;

  &--base {
    height: 45px;
    padding: 14px 28px;
    border-radius: 18px 18px 18px 0;

    font-size: 18px;
    font-weight: 600;
    line-height: 1;

    min-width: 212px;
    @media screen and (max-width: 640px) {
      font-size: 16px;
    }
  }

  &--small {
    height: 36px;
    padding: 10px 20px;
    border-radius: 14px 14px 14px 0;

    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    min-width: 212px;
  }

  &--blue {
    background: var(--color-blue);
    color: #Fff;

    transition: .3s background-color, .3s color;
    &:hover{
      color: var(--color-blue);
      background:#Fff;
    }
  }

  &--orange {
    background: var(--color-orange);
    color: #000;
    transition: .3s background-color, .3s color;
    &:hover{
      background: #000;
      color: var(--color-orange);
    }
  }

  &--gradient {
    background: var(--color-gradient);
    color: #fff;

    position: relative;
    overflow: hidden;

    transition: .3s border-color;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 0;
      opacity: 0;
      background: linear-gradient(90deg, #184b50 29.5%, #eed21c 100%);

      transition: .3s width, .1s opacity;
    }

    &:hover{

      &::after{
        width: 100%;
        opacity: 1;
      }
    }

    &--border {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 2px;

        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background: #fff;
        border-radius: 18px 18px 18px 0;
      }
    }
  }

  &--gradient--border &__text {
    background: linear-gradient(90deg, #00a0ad 0%, #f4d700 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: unset;
  }

  &:hover {
    cursor: pointer;
  }

  &--full {
    max-width: 100%;
  }

  &__text {
    position: relative;
    z-index: 3;
  }
}

.text {
  &--big {
    font-size: 20px;
    line-height: 1.56;
    @media screen and (max-width: 640px) {
      font-size: 18px;
    }
  }

  &--middle {
    font-size: 18px;
    line-height: 1.56;

    @media screen and (max-width: 640px) {
      font-size: 16px;
    }
  }

  &--base {
    font-size: 16px;
    line-height: 1.56;
    @media screen and (max-width: 640px) {
      font-size: 14px;
    }
  }

  &--small {
    font-size: 14px;
    line-height: 1.56;
    @media screen and (max-width: 640px) {
      font-size: 12px;
    }
  }

  &--blue {
    color: var(--color-blue);
  }

  &--white {
    color: #fff;
  }

  &--grey {
    color: #4A4949;
  }

  &--line {
    text-decoration: line-through;
  }

  &--medium {
    font-weight: 500;
  }

  &--semibold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }

  &--center{
    text-align: center;
  }
}

.title {
  &--base {
    font-size: 40px;
    font-weight: 500;

    text-transform: uppercase;
    @media screen and (max-width: 640px) {
      font-size: 32px;
    }
  }

  &--gradient {
    background: linear-gradient(90deg, #00a0ad 0%, #f4d700 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--orange {
    color: var(--color-orange);
  }

  &--center {
    text-align: center;
  }
}

.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 12;

  &__row {
    height: 124px;
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 10px 0;

    position: relative;
    @media screen and (max-width: 991px) {
      height: 80px;
      justify-content: space-between;
    }
    @media screen and (max-width: 640px) {
      height: 60px;
    }
  }

  &__logo {
    height: 100%;
    position: relative;
    z-index: 5;
  }

  &__burger {
    position: relative;
    z-index: 5;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &-nav {
    flex-shrink: 0;
    margin: 0 auto;
    @media screen and (max-width: 991px) {
      position: fixed;
      left: 0;
      top: 0px;
      width: 100vw;
      background: #fff;
      height: 100svh;
      z-index: 4;

      overflow: auto;

      opacity: 0;
      visibility: hidden;

      transition: .3s visibility, .5s opacity;
      &--active {
        opacity: 1;
        visibility: visible;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 35px;
      @media screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        padding: 100px 35px 50px 35px;
      }
      @media screen and (max-width: 640px) {
        padding-top: 80px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.hero {
  position: relative;

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-weight: 500;
    font-size: 78px;
    text-transform: uppercase;
    color: rgba(#fff,.6);
    @media screen and (max-width: 640px) {
      font-size: 28px;
    }
  }

  &__content {
    min-height: calc(100svh - 124px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 80px;

    padding: 50px 0;
    @media screen and (max-width: 991px) {
      min-height: calc(100svh - 80px);
    }
    @media screen and (max-width: 640px) {
      min-height: calc(100svh - 60px);
      gap: 40px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 50px;

    max-width: 600px;
    width: 100%;
    @media screen and (max-width: 640px) {
      gap: 20px;

      max-width: 300px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__burger {
    flex-shrink: 0;
  }


}

.video-item {
  position: relative;
  &__mute {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 14px;
    color: #fff;
    z-index: 4;

    span {
      &::before {
        content: attr(data-high);
      }
    }

    .icon {
      width: 20px;
      height: 20px;

      .muted, .high {
        transition: .3s opacity;
      }

      .muted {
        opacity: 0;
      }
    }

    &.unmuted {
      span {
        &::before {
          content: attr(data-muted);
        }
      }

      .icon {
        .high {
          opacity: 0;
        }

        .muted {
          opacity: 1;
        }
      }
    }
  }

  &__element {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;

    z-index: 1;

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__footer {
    position: absolute;
    bottom: 16px;
    right: 0;

    z-index: 2;
  }
}

.wa-button {
  position: fixed;
  top: calc(var(--header-height) + 24px);
  right: 24px;

  width: 64px;
  height: 64px;
  border-radius: 50%;

  z-index: 8;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-blue);
  color: #fff;

  @media screen and (max-width: 640px) {
    top: calc(var(--header-height) + 12px);
    right: 12px;

    width: 48px;
    height: 48px;
  }

  .icon {
    width: 24px;
    height: 24px;
    @media screen and (max-width: 640px) {
      width: 18px;
      height: 18px;
    }
  }
}

.section {
  &__column {
    display: flex;
    flex-direction: column;
    gap: 96px;
    @media screen and (max-width: 640px) {
      gap: 48px;
    }
  }
  &__wrapper {
    padding: 96px 0;
    &--tour{
      padding-top: 48px;
    }
    @media screen and (max-width: 640px) {
      padding: 24px 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    &--gap{
      &--big{
        gap: 70px;
      }
    }
    @media screen and (max-width: 991px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 40px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &--center {
      justify-content: center;
    }

    &:not(:last-child) {
      margin: 0 0 48px 0;
    }
  }

  &-img{
    display: flex;
    align-items: center;
    justify-content: center;


    position: relative;
    padding-bottom: 95%;
    &--full{
      height: 100%;
      padding-bottom: 0;
      @media screen and (max-width: 991px) {
        padding-bottom: 100%;
      }
    }


    &__item{
      width: 100%;
      height: 100%;
      object-fit: cover;

      position: absolute;
      left: 0;
      top: 0;

      &--top--left{
        border-radius: 320px 25px 0 25px;
      }
      &--bottom--right{
        border-radius: 0 25px 320px 25px;
      }

      &--all{
        border-radius: 320px 25px 320px 0;
      }

      @media screen and (max-width: 991px) {
        border-radius: 0;
        &--frame{
          height: 50vh;
        }
      }
    }
  }

  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--start{
      justify-content: flex-start;
    }
    &--mobile{
      @media screen and (min-width: 992px) {
        display: none;
      }
    }
    &--desktop{
      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;

      gap: 28px;
    }

    &__button {
      max-width: 80%;
      @media screen and (max-width: 640px) {
        max-width: 100%;
      }
    }
  }
}

.tours {
  &-block {
    display: flex;
    flex-direction: column;
    &__header {
      &:not(:last-child) {
        margin: 0 0 24px 0;
      }
    }
  }

  &-row {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;
      @media screen and (max-width: 991px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media screen and (max-width: 640px) {
        grid-template-columns: minmax(0, 1fr);
      }
    }
  }

  &-img {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      padding-bottom: 60%;
    }

    &__content {
      padding: 24px;
    }

    &__item {
      width: 100%;
      height: 100%;
      object-fit: cover;

      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &-card {
    &__wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      background: #fff;
      border-radius: 25px 25px 25px 0;
      box-shadow: 0 0 25px 0 rgba(87, 87, 87, 0.14);

      overflow: hidden;
    }

    &__map{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      padding-bottom: 50%;
      img, iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;

        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 8px;

      margin-top: auto;
    }

    &__stock {
      margin-left: auto;
      text-align: right;
    }

    &__text {
      display: flex;
      align-items: center;
      gap: 8px;

      .icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        color: var(--color-blue);
      }
    }


    &__content {
      flex-grow: 1;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &--check {
    .icon {
      width: 24px;
      height: 24px;
      background: var(--color-blue);
      border-radius: 8px;


      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 20px;
        height: 20px;
        color: #fff;
      }
    }

    &--clear{
      .icon{
        background-color: transparent;
        svg{
          color: var(--color-orange);
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.input{
  display: flex;
  flex-direction: column;
  gap: 6px;

  &.error &__item{
    border-color: #FF0000;
    background-color: #FDECEC;
  }
  &.error &__help{
    color: #EE443F;
  }
  &.success &__item{
    border-color: #43B75D;
    background-color: #ECF8EF;
  }
  &.success &__help{
    color: #43B75D;
  }
  &__label{
    font-size: 16px;
    font-weight: 500;
  }

  &__item{
    border-radius: 12px;
    height: 50px;
    background-color: #F9FAFB;
    border:1px solid #E5E7EA;
    padding:12px;

    font-size: 16px;
    color: #131927;

    transition: .3s background-color,.3s border-color;
    &:hover{
      border-color: #9EA2AE;
    }
    &:focus{
      border-color: #045157;
      background-color: #EDEDF4;
    }
    &::placeholder{
      color: #9EA2AE;
    }

    &--textarea{
      height: 150px;
    }
  }

  &__help{
    font-size: 14px;
    color: #9EA2AE;
  }
}

.form{
  &__wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.footer{
  position: relative;
  overflow: hidden;
  &__wrapper{
    background: #92b6b9;
    padding:50px 0;
  }
  &__decor{
    flex-shrink: 0;
    width: 158px;
    height: 158px;
    object-fit: contain;
    transform: translateY(-25%);
    @media screen and (max-width: 1240px) {
      position: absolute;
      left: 0;
      top: 0;

      transform:translate(-50%,-50%)
    }
  }
  &__grid{
    display: flex;
    align-items: flex-start;
    gap: 100px;
  }
  &__column{
    display: flex;
    flex-direction: column;
    gap: 40px;

    flex-grow: 1;
  }
  &__divider{
    flex-shrink: 0;
    width: 100%;
    height: 1px;
    display: block;
    background-color:rgba(#000,.06);
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    &--center{
      justify-content: flex-end;
    }
    @media screen and (max-width: 991px) {
      flex-direction: column;
      gap: 40px;
    }
  }
  &__logo{
    height: 80px;
  }

  &-nav{
    flex-shrink: 0;
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 16px;
      @media screen and (max-width: 991px) {
        flex-direction: column;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;

      &--small{
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.social{
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    flex-wrap: wrap;
    &--gap{
      &--big{
        gap: 48px;
      }
    }
  }
  &__item{
    flex-shrink: 0;
  }
  &-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 38px;
    height: 38px;
    flex-shrink: 0;

    border-radius: 50%;
    border:1px solid rgba(#000000,.1);

    transition:.3s border-color;

    &:hover{
      border-color: #000;
    }
    &__icon{
      width: 14px;
      height: 14px;
      color: #000;
    }
    &__img{
      height: 100%;
      width: unset;
      object-fit: contain;
    }
    &--big{
      width: unset;
      height: 60px;
      border-radius: 0;
      border:none;
    }

  }
}