.product-hero {
  overflow: hidden;
}
.product-hero__slider {
  overflow: visible;
  height: 100%;
}
.product-hero__slider--nav {
  margin-top: 0.25rem;
}
.product-hero__slider .swiper-wrapper {
  align-items: stretch;
}
.product-hero__slider .swiper {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1241px) {
  .product-hero__slider {
    display: none;
  }
}
@media screen and (max-width: 1240px) {
  .product-hero__bg {
    display: none;
  }
}
.product-images__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.product-images__item--nav {
  width: 5rem;
  height: 5rem;
}
.product-images__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__header {
  display: flex;
  flex-direction: column;
  gap: var(--section-spacer-base);
}
.product__content {
  display: flex;
  flex-direction: column;
  gap: var(--section-spacer-big);
}
.product-gallery {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}
@media screen and (max-width: 1240px) {
  .product-gallery {
    display: none;
  }
}
.product-gallery__img {
  grid-column-end: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-gallery__img:nth-child(6n+1) {
  grid-column: span 1;
}
.product-gallery__img:nth-child(6n+2) {
  grid-column: span 2;
}
.product-gallery__img:nth-child(6n+3) {
  grid-column: span 3;
}
.product-gallery__img:nth-child(6n+4) {
  grid-column: span 2;
}
.product-gallery__img:nth-child(6n+5) {
  grid-column: span 1;
}
.product-gallery__img:nth-child(6n+6) {
  grid-column: span 3;
}
.product-plan {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media screen and (max-width: 640px) {
  .product-plan {
    grid-template-columns: minmax(0, 1fr);
  }
}
.product-plan__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-plan__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-info__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.product-info__item {
  padding: 1.5rem 0;
  border-bottom: 1px solid #EBEDF5;
}
.product-info__item:first-child {
  padding-top: 0;
}
.product-info__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.product-info__text {
  font-size: var(--title-size-tiny);
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.product-info__text .icon {
  color: #8794A7;
  width: 1.125rem;
  height: 1.125rem;
  flex-shrink: 0;
}
@media screen and (max-width: 1240px) {
  .product-info__text {
    font-size: var(--text-size-base);
  }
}
.product-info__text--semibold {
  font-weight: 600;
}
.product-pricing__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}
@media screen and (max-width: 640px) {
  .product-pricing__row {
    flex-direction: column;
  }
}
.product-pricing__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 1240px) {
  .product-pricing__column {
    gap: 0.5rem;
  }
}

.tip {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 3;
}
.tip__label {
  align-self: center;
}
.tip__wrapper {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tip__icon {
  color: #8794A7;
  width: 100%;
  height: 100%;
}
.tip__wrapper:hover {
  cursor: pointer;
}
.tip__wrapper:hover .tip__text {
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 0.75rem);
}
.tip__text {
  font-size: var(--text-size-subtitle);
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  font-weight: 400;
  background: var(--color-dark);
  width: 16.25rem;
  position: absolute;
  bottom: 100%;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s visibility, 0.5s opacity, 0.5s bottom;
}
.tip__text::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(90%);
  border-style: solid;
  border-width: 0.5rem 0.375rem 0 0.375rem;
  border-color: var(--color-dark) transparent transparent transparent;
}

.estimate-banner {
  border-radius: 1rem;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .estimate-banner {
    padding-bottom: 4.125rem;
  }
}
.estimate-banner__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  object-position: bottom right;
}
.estimate-banner__bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom right;
}
.estimate-banner__wrapper {
  padding: 3rem 4rem;
  position: relative;
  background: var(--color-white-dark);
}
@media screen and (max-width: 1240px) {
  .estimate-banner__wrapper {
    padding: 1rem;
  }
}
@media screen and (max-width: 640px) {
  .estimate-banner__wrapper {
    padding: 1.25rem 1rem 75% 1rem;
  }
}
.estimate-banner__header, .estimate-banner__button {
  position: relative;
  z-index: 3;
}
.estimate-banner__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (max-width: 1240px) {
  .estimate-banner__content {
    gap: 3.5rem;
  }
}
@media screen and (max-width: 640px) {
  .estimate-banner__button {
    position: absolute;
    left: 0;
    top: calc(100% + 1rem);
    width: 100%;
  }
}
.estimate-banner__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 20rem;
  width: 100%;
}
@media screen and (max-width: 1240px) {
  .estimate-banner__header {
    gap: 0.875rem;
  }
}

.catalog-card__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.catalog-card__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
@media screen and (max-width: 1240px) {
  .catalog-card__row {
    gap: 1rem;
  }
}
.catalog-card__header {
  position: relative;
  padding-bottom: 50.22%;
}
@media screen and (max-width: 1240px) {
  .catalog-card__header {
    padding-bottom: 44%;
  }
}
@media screen and (max-width: 640px) {
  .catalog-card__header {
    padding-bottom: 58%;
  }
}
.catalog-card__header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 2;
}
.catalog-card__content {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
}
@media screen and (max-width: 1240px) {
  .catalog-card__content {
    padding: 1rem;
  }
}
.catalog-card__title {
  font-size: var(--title-size-subheadline);
  font-weight: 700;
  color: var(--color-white);
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  z-index: 3;
}
@media screen and (max-width: 1240px) {
  .catalog-card__title {
    top: 0.75rem;
    left: 1rem;
  }
}
.catalog-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.catalog-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalog-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.catalog-info__icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  color: #313F53;
}
@media screen and (max-width: 1240px) {
  .catalog-info__icon {
    color: #8794A7;
  }
}
.catalog-info__count {
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 600;
}
@media screen and (max-width: 1240px) {
  .catalog-info__count {
    font-size: var(--text-size-subtitle);
  }
}
.catalog-info__label {
  font-size: 1rem;
  color: var(--color-dark);
}
@media screen and (max-width: 1240px) {
  .catalog-info__label {
    display: none;
  }
}
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem 0.5rem;
  padding: 0 0.5rem;
}
@media screen and (max-width: 640px) {
  .catalog-grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 1rem;
    padding: 0;
  }
}

/*# sourceMappingURL=product.css.map */
