doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

        link(rel="stylesheet" href="assets/styles/css/reset.css")
        link(rel="stylesheet" href="assets/styles/css/index.css")
        title Медиа ремесло
    body
        .page-wrapper
            header.header
                a(href="#").header__logo.logo
                    img.logo__img(src="assets/media/images/logo.svg")
            main.content
                .content__wrapper
                    .container
                        .block
                            .block__wrapper
                                .block__header
                                    .block__title
                                        p.text.text--middle.text--medium Вход
                                        img.icon(src="assets/media/images/stickers/dog.webp")
                                form.block__content.block__content--form.form
                                    .form__wrapper
                                        .form__content
                                            label.input
                                                span.input__label E-mail
                                                input(type="email" placeholder="ivanivanov@inbox.com" required).input__item
                                            label.input
                                                span.input__label Пароль
                                                input(type="password" placeholder="************" required).input__item
                                            p.form__text
                                                span Нет аккаунта?  #[a(href="register.html") Зарегистрироваться]
                                                a(href="#") Забыли пароль?
                                        .form__content
                                            button(type="submit").button.button--base.button--dark.button--login.button--center Войти

