doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

        link(rel="stylesheet" href="assets/styles/css/reset.css")
        link(rel="stylesheet" href="assets/styles/css/index.css")
        title Медиа ремесло
    body
        .page-wrapper
            header.header
                a(href="#").header__logo.logo
                    img.logo__img(src="assets/media/images/logo.svg")
            main.content
                .content__wrapper
                    .container.container--small
                        .section
                            .section__wrapper
                                .section__content
                                    .block
                                        .section__header
                                            p.text.text--middle.text--medium Подписка не оплачена
                                    .block.block--full
                                        .block__row
                                            p.text.text--base Что-то пошло не так и ваша подписка не продлилась. Чтобы продолжить пользоваться сервисом оплатите тариф
                                    .block.block--full.block-toggle
                                        .block__row
                                            label.block__line.block-toggle__header
                                                input(type="checkbox" checked).block-toggle__input
                                                p.text.text--light.text--grey Платежные данные
                                                img.block-toggle__icon(src="assets/media/images/icons/arrow-small.svg")
                                        .block-toggle__content
                                            .block__row.tariff
                                                p.text.text--base.text--medium.text--grey--dark Текущая подписка:
                                                .tariff__title
                                                    p.tariff-tag Пробный
                                                    p.text.text--base.text--medium - 99 ₽
                                                p.text.text--grey Следующий платеж: 990₽, 10.01.2026
                                            .block__row
                                                .block__line
                                                    p.text.text--base.text--medium.text--grey--dark Привязанная карта:
                                                    a(href="#").text.text--base.text--grey.text--underline - отвязать карту
                                                img(src="assets/media/images/icons/mir.webp").card-icon
                                                p.text.text--base •••• •••• •••• 4321
                                                a(href="#").text.text--base.text--grey.text--underline карта не привязана
                                            .block__row
                                                a(href="#").button.button--base.button--dark.button--center.block__button Отменить подписку

