@mixin hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent;
    border-radius: 20px;


  }

  &::-webkit-scrollbar-thumb {
    background-color: #FDFDFD;
    border-radius: 20px;
    mix-blend-mode: difference;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
  }
}

:root {
  --font-main: 'Inter', sans-serif;


  --text-size-base: 1.8rem;
  --text-size-link: var(--text-size-base);

  --title-size-base: 3.2rem;
  --title-size-big: 6rem;
  --title-size-middle: 5.4rem;


  --color-grey: #9E9D9D;
  --color-white: #FDFDFD;
}

@media screen and (max-width: 767px) {
  :root {
    --text-size-base: 12px;
    --title-size-base: 17px;
    --title-size-big: 18px;
    --title-size-middle: 17px;
  }
}

html {
  font-size: calc(0.26042vw + 0.46296vh);;
}

body {
  font-family: var(--font-main);
  font-size: 1.8rem;
  color: var(--text-grey);

  letter-spacing: 0.03em;


  background-color: #07090F;

  @include custom-scrollbar;
}

.title {
  &--base {
    font-size: var(--title-size-base);
    letter-spacing: 0.05px;
  }

  &--big {
    font-size: var(--title-size-big);
    letter-spacing: 0.02em;
  }

  &--middle {
    font-size: var(--title-size-middle);
    letter-spacing: 0.03em;
  }

  &--white {
    color: var(--color-white);
  }

  &--dark {
    color: #07090F;
  }
}

a.text--grey--darkest:hover {
  color: var(--color-white);
}

a.text--white:hover {
  color: #45464b;
}

.text {
  text-decoration: none;
  transition: .3s color;

  &--base {
    font-size: var(--text-size-base);
  }

  &--link {
    font-size: var(--text-size-link);
    letter-spacing: 0.03em;

    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 100%;
    max-width: max-content;

    &::after {
      content: "";
      width: 100%;
      height: 1px;

      background-color: var(--text-decoration-color);

      transition: .3s background-color;
    }

    &:hover {
      &::after {
        background-color: var(--text-decoration-color-hover);
      }
    }
  }

  &--grey {
    --text-color: #d5d5d5;
    --text-decoration-color: #48494f;
    --text-decoration-color-hover: #D5D5D5;
    color: var(--text-color);
    text-decoration-color: var(--text-decoration-color);

    &--darkest {
      color: #494A4F;
    }

    &--light {
      --text-color: #868791;
      --text-decoration-color: #868791;
      --text-decoration-color-hover: #d5d5d5;
      color: var(--text-color);
      text-decoration-color: var(--text-decoration-color);
    }

    &--dark {
      --text-color: #9E9D9D;
      --text-decoration-color: #9E9D9D;
      --text-decoration-color-hover: #9E9D9D;

      color: var(--text-color);
      text-decoration-color: var(--text-decoration-color);
      @media screen and (max-width: 767px) {
        color: #D7D7D7;
      }
    }
  }

  &--white {
    --text-color: var(--color-white);
    --text-decoration-color: rgba(255, 255, 255, 0.2);
    --text-decoration-color-hover: var(--color-white);
    color: var(--text-color);
  }

  &--dark {

    --text-color: #030407;
    --text-decoration-color: #030407;
    --text-decoration-color-hover: #030407;

    color: var(--text-color);
    text-decoration-color: var(--text-decoration-color);
  }

  &--button {
    display: flex;
    align-items: center;
    gap: 12px;
    --icon-size: 14px;

    &--center {
      justify-content: center;
    }

    &--small {
      --icon-size: 10px;
    }
  }

  &__icon {
    flex-shrink: 0;

    width: var(--icon-size);
    height: var(--icon-size);
  }
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  max-width: max-content;
  width: 100%;

  &--base {
    padding: 10px 14px;
    font-size: 12px;
    line-height: 1;
    border-radius: 20px;

    letter-spacing: .03rem;
  }

  &--big {
    width: 100%;
    max-width: 100%;

    height: 7.5rem;
    padding: 2.4rem;

    font-size: var(--text-size-base);
    letter-spacing: .03rem;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      height: 50px;
      padding: 16px;
    }
  }

  &--black {
    color: var(--color-white);
    background: #000000;
  }

  &--bordered {
    font-size: var(--text-size-base);
    color: #47494E;
    border: 1px solid #47494E;

    transition: .3s color, .3s border-color;

    &:hover {
      color: #D5D5D5;
      border-color: #D5D5D5;
    }
  }
}

.container {
  width: 100%;

  margin: 0 auto;

  padding: 0 9rem;
  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }

  &--mobile {
    &--full {
      @media screen and (max-width: 767px) {
        padding: 0;
      }
    }
  }
}

.page-wrapper {
  position: relative;

  &--active {
  }

  &--active &__box {
    @media screen and (min-width: 768px) {
      transform: translateX(var(--menu-width));
    }
  }

  &--dark {
    background: #121317;
  }

  &--light {
    background: #EFEFEF;
  }

  &__box {
    transition: .5s transform;
  }
}

.menu {
  &-button {
    position: fixed;
    top: 6rem;
    right: 9rem;
    width: max-content;

    z-index: 12;
    @media screen and (max-width: 767px) {
      top: 18px;
      right: 16px;
    }
  }
}

.phone {
  &-button {
    position: fixed;
    top: 6rem;
    right: 16rem;
    width: max-content;

    z-index: 8;

    color: var(--color-white);

    &--mobile {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      top: 18px;
      right: 56px;
    }
  }
}

.back {
  &-button {
    position: fixed;
    top: 6rem;
    left: 9rem;
    width: max-content;

    z-index: 12;

    color: var(--color-white);

    .icon {
      transform: rotate(90deg);
    }

    @media screen and (max-width: 767px) {
      top: 18px;
      left: 16px;
    }
  }
}

.header {

  &__row {
    display: flex;
    align-items: center;
  }

  &__burger {
    margin-left: auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.burger {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #000;

  &__wrapper {
    width: 12px;
    height: 9px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;

    transition: .3s top, .5s transform;

    &:nth-child(2) {
      top: calc(50% - .5px);
      transition: .5s opacity;
    }

    &:nth-child(3) {
      top: calc(100% - 1px);
    }
  }

  &--active &__line {
    &:nth-child(1) {
      top: calc(50% - .5px);
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      top: calc(50% - .5px);
      transform: rotate(-45deg);
    }
  }
}


.hero {
  position: relative;

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

      background: rgba(#05000A, .5);
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      z-index: 1;

      width: 100%;
      animation: zoom-move 40s linear infinite;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__about {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__logo {
    max-width: 52rem;
    @media screen and (max-width: 767px) {
      max-width: 200px;

      margin: 0 auto;
    }

    &--small {
      max-width: 190px;
      @media screen and (max-width: 767px) {
        max-width: 140px;
      }
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 767px) {
      position: absolute;
      left: 0;
      top: 25px;
    }
  }

  &__box {
    min-height: 100svh;

    display: flex;
    align-items: flex-end;

    padding: 9rem 0;
    position: relative;

    &--small {
      min-height: 420px;
      align-items: flex-start;
      padding: 24px 0;
    }
  }

  &__links {

  }
}

@keyframes zoom-move {
  0% {
    transform: scale(1) translateX(0) translateY(0)
  }

  50% {
    transform: scale(1.2) translateX(2%) translateY(2%)
  }

  to {
    transform: scale(1) translateX(0) translateY(0)
  }
}


.section {
  &--white {
    background: #EFEFEF;
  }

  &--dark {
    background-color: #07090F;
  }

  &__wrapper {
    padding: 18rem 0;

    @media screen and (max-width: 767px) {
      padding: 60px 0;
    }

    &--small {
      padding: 9rem 0;
      @media screen and (max-width: 767px) {
        padding: 35px 0;
      }
    }

    &--tiny {
      padding: 6rem 0;
      @media screen and (max-width: 767px) {
        padding: 40px 0;
      }
    }
  }

  &-projects {
    background-color: #07090F;

    &__wrapper {
      padding: 12rem 0;
      @media screen and (max-width: 767px) {
        padding: 24px 0;
        &--home{
          padding: 0;
        }
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      gap: 12rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 9rem;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__logo {
      max-width: 28rem;
      width: 100%;
    }

    &__logo, &__footer {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @media screen and (max-width: 767px) {
      gap: 24px;
    }

    &__block {
      &--right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }

  &-grid {

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 24px;
      @media screen and (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
        &--mobile {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }
    }

    &__aside {
      @media screen and (max-width: 767px) {
        grid-row-start: 2;
      }
    }
  }

  &-aside {
    &__title {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: space-between;
      height: 100%;
    }
  }
}

.aside {
  &-contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: sticky;
      bottom: 12px;
      left: 0;
    }

    &__title {
      font-size: 1.35rem;
      color: #868791;
      letter-spacing: 0.03rem;
      @media screen and (max-width: 767px) {
        font-size: 9px;
      }
    }

    &__text {
      font-size: 1.5rem;
      letter-spacing: 0.03rem;
      color: #07090F;
      @media screen and (max-width: 767px) {
        font-size: 10px;
      }
    }

    &__number {
      letter-spacing: 0.03rem;
      font-size: var(--text-size-base);
      color: #07090F;
    }

    &__phone {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.filter{
  &-row{
    display: flex;
    align-items: center;
    gap:12px;
  }
  &-radio{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    position: relative;

    height: 5rem;
    min-width: 1rem;
    border-radius: 10rem;
    padding: 0 2rem;
    border:1px solid #494A4F;
    font-size: 1.8rem;
    color: #494A4F;

    transition: .3s color, .3s border-color;
    @media screen and (max-width: 767px) {
      height: 30px;
      padding:0 12px;
      border-radius: 12px;
      font-size: 12px;
    }
    &:hover{
      cursor: pointer;
    }
    &:has(:checked){
      border-color: var(--color-white);
      color: var(--color-white);;
    }
    &__input{
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;

      opacity: 0;
    }
  }
}

.filter{
  &-cards{
    display: flex;
    align-items: stretch;
    gap: 4.5rem;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(2,minmax(0,1fr));
      display: grid;
      gap: 24px;
    }
    &__input{
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      opacity: 0;
    }
    &__icon{
      position: absolute;
      right: -16px;
      top: -16px;
      width: 32px;
      height: 32px;
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      z-index: 4;


      opacity: 0;
      visibility: hidden;
      transition: .3s visibility,.5s opacity;

      &::before,&::after{
        content: "";
        position: absolute;
        width: 16px;
        height: 2px;
        left: calc(50% - 8px);
        top: calc(50% - 1px);
        background-color: #07090F;

      }
      &::before{
        transform: rotate(45deg);
      }
      &::after{
        transform: rotate(-45deg);
      }
    }
    &__item:has(:checked) &__icon{
      opacity: 1;
      visibility: visible;
    }
    &__item{
      width: 30rem;
      opacity: .5;
      transition: .3s opacity;
      position: relative;
      &:hover{
        cursor: pointer;
      }
      &:has(:checked){
        opacity: 1;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.projects {
  &-filter{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: 9rem;
      @media screen and (max-width: 767px) {
        gap: 30px;
      }
    }
    &__block{
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &__row{
      display: grid;
      grid-template-columns:1fr repeat(3,minmax(0,2fr));
      gap: 24px;
      
      @media screen and (max-width: 767px) {
        grid-template-columns: minmax(0,1fr);
      }
    }
  }
  &-table {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__block{
      flex: 1 1;
      display: flex;
      align-items: center;
      &:not(:first-child){
        justify-content: center;
      }
      
      &--desktop{
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
    &__row {
      height: 9rem;
      padding:0 9rem;
      background-color: #0c0e16;
      transition: .3s background-color;

      display: flex;
      align-items: center;
      @media screen and (max-width: 767px) {
        height: 40px;
        padding:0 16px;
      }
      &:hover{
        background-color: #07090f;
      }
      &--title{
        background-color: transparent;
        &:hover{
          background-color: transparent;
        }
      }
    }

    &__text{
      @media screen and (max-width: 767px) {
        font-size: 6px;
      }
    }

    &__title {
      color: #5c5d5d;
      position: relative;
      
      &::before {
        content: "";
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: .9rem .45rem 0 .45rem;
        border-color: #5c5d5d transparent transparent transparent;

        opacity: 0;
        transition: .3s opacity, .3s border-color, .3s transform;

        position: absolute;
        top: calc(50% - .45rem);
        left: -1.45rem;

        @media screen and (max-width:767px){
          border-width: 4px 2px 0 2px;
          top: calc(50% - 2px);
          left: -8px;
        }
      }
      &:hover{
        cursor: pointer;
        &::before{
          opacity: 1;
        }
      }
      @media screen and (max-width: 767px) {
        font-size: 6px;
      }
      &.active {
        color: var(--color-white);

        &::before {
          opacity: 1;
          border-top-color: var(--color-white);
        }
      }
      &.reverse{
        &::before{
          transform: scaleY(-1);
        }
      }
    }
  }

  &-nav {
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4.4rem 2.2rem;

      flex-wrap: wrap;

      @media screen and (max-width: 767px) {
        gap: 24px 12px;
      }
    }
  }

  &-tabs {
    &__list {
      display: flex;
      align-items: center;
      gap: 4.4rem;
      @media screen and (max-width: 767px) {
        gap: 24px;
      }
    }

    &__link {
      font-size: var(--text-size-base);
      color: #47494f;

      &.active {
        color: #d5d5d5;

      }
    }
  }

  &-card {
    position: relative;
    padding-bottom: 100%;


    @media screen and (max-width: 767px) {
      padding: 0;
      height: 100svh;
    }

    &--small{
      padding-bottom: unset;
      height: auto;
    }
    &--small &__wrapper, &--small &__main{
      position: relative;
    }
    &--small &__main{
      padding: 0;
    }
    &--small &__back{
      padding:1.4rem;
      background-color: #07090F;
    }
    &--small &__desc{
      height: 100%;
      justify-content: space-between;
    }
    &--small &__header{
      gap: 1.4rem;
      padding: 1.4rem 0 0 0;
      @media screen and (max-width: 767px) {
        gap: 12px;
        padding: 12px 0 0 0;
      }
    }
    &--small &__img{
      position: relative;
      padding-bottom: 50%;
      img{
      }
    }

    &.animated &__img {
      &::before {
        background-color: rgba(#111111, .3);
      }
    }

    &__wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        position: relative;
      }
    }

    &__wrapper:hover &__back {
      transform: translateY(0);
    }

    &__main {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      padding: 4.4rem;

      z-index: 2;
      @media screen and (max-width: 767px) {
        padding: 0;
        position: relative;
        align-items: flex-start;
      }

    }

    &__back {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background-color: #12151D;

      transform: translateY(100%);

      padding: 9rem 4.4rem 4.4rem 4.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2.2rem;

      transition: .5s transform;

      @media screen and (max-width: 767px) {
        display: none;
        gap: 12px;

        padding: 64px 24px 24px 24px;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      gap: 4.4rem;
      @media screen and (max-width: 767px) {
        gap: 24px;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 2.6rem;
      @media screen and (max-width: 767px) {
        gap: 16px;
      }
    }

    &__header {
      position: relative;
      z-index: 3;

      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media screen and (max-width: 767px) {
        padding: 30px 16px;
        gap: 30px;
      }
    }

    &__link {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 2.6rem;
      color: #FDFDFD;
      letter-spacing: .05rem;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media screen and (max-width: 767px) {

      }
    }

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 125%;

      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      @media screen and (max-width: 767px) {
        position: relative;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#111111, .3);
        z-index: 2;

        transition: .5s background-color;
        @media screen and (max-width: 767px) {
          background-color: rgba(#111111, .9);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        will-change: transform;
      }
    }
  }

  &-list {
    position: relative;

    &__item {
      background-color: #07090F;

    }

    &__row {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 4.4rem;

      position: relative;

      @media screen and (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
        gap: 20px;
      }
    }
  }

  &__nav {
    margin: 0 0 4.4rem 0;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.block {
  &__header {
    margin: 0 0 9rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;

    @media screen and (max-width: 767px) {
      margin: 0 0 60px 0;
      gap: 12px;
    }
  }

  &__text {
    max-width: 127rem;
    width: 100%;
  }

  &__title {
    max-width: 120rem;
    width: 100%;
  }

}

.about {
  position: relative;
  z-index: 6;
  background-color: #07090F;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: url("../../images/about.webp") bottom center/cover no-repeat;
    opacity: .1;

    @media screen and (max-width: 767px) {
      height: 70%;
    }
  }

  &__wrapper {
    padding: 22.5rem 0;

    position: relative;
    z-index: 2;
    @media screen and (max-width: 767px) {
      padding: 40px 0;
    }
  }

  &__logo {
    max-width: 28rem;
    width: 100%;

    margin: 0 0 22.5rem 0;
    @media screen and (max-width: 767px) {
      margin: 0 0 130px 0;
      max-width: 134px;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 13.5rem;

    padding: 22.5rem 0 30rem 0;
    @media screen and (max-width: 767px) {
      padding: 90px 0 120px 0;
    }
  }
}

.numbers {
  &__header {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &-row {
    width: 100%;
    @media screen and (max-width: 767px) {
      overflow: hidden;
    }

    &__wrapper {
      display: flex;
      align-items: stretch;
      overflow: auto;
      @include hide-scrollbar;
    }

    &__item {
      border-left: 2px solid rgba(255, 255, 255, 0.2);
      max-width: 25%;
      width: 100%;
      flex-shrink: 0;
      @media screen and (max-width: 767px) {
        max-width: 250px;
      }
    }
  }

  &-card {
    &__number {
      font-size: 6rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #fdfdfd;
      @media screen and (max-width: 767px) {
        font-size: 29px;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8.8rem;
      padding: 4.4rem;
      @media screen and (max-width: 767px) {
        padding: 25px;
        gap: 50px;
      }
    }

    &__icon {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      color: #fdfdfd;
    }
  }
}

.card {
  &-slider {
    @media screen and (max-width: 767px) {
      overflow: visible;
    }

    &__item {
      &--rewards {
        width: calc(20% - 8px);
      }

      @media screen and (max-width: 767px) {
        width: 230px;
      }
    }
  }

  &-item {
    position: relative;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 6rem;

      &--big {
        @media screen and (min-width: 768px) {
          width: calc(100% + 30px);
        }
      }

      @media screen and (max-width: 767px) {
        gap: 20px;
      }
    }

    &__text {
      @media screen and (min-width: 768px) {
        padding: 0 4.5rem;
      }

      &--center {
        text-align: center;
        @media screen and (max-width: 767px) {
          text-align: left;
        }
      }
    }

    &__header {

    }

    &__img {
      padding-bottom: 100%;
      border: 1px solid #2F323B;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      &--rounded {
        @media screen and (min-width: 768px) {
          border-radius: 50%;
        }
      }


      img {
        object-fit: contain;

        position: absolute;
        left: 50%;
        top: 50%;
        width: 110px;
        height: 110px;

        display: block;

        transform: translate(-50%, -50%);
      }

      &--management {
        padding-bottom: 120%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.slider {
  overflow: hidden;

  &__nav {
    display: flex;
    align-items: center;
    gap: 3.6rem;
    @media screen and (max-width: 767px) {
      gap: 24px;
    }
  }

  &__button {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    --border-color: #FDFDFD;

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent var(--border-color);
      transform: rotate(0deg);
    }

    &--prev {
      &::before {
        border-width: 5px 10px 5px 0;
        border-color: transparent var(--border-color) transparent transparent;
      }
    }


    &.swiper-button-lock {
      display: none;
    }

    &.swiper-button-disabled {
      --border-color: #424348;
    }
  }
}

.founder {
  &__grid {
    display: flex;
    align-items: stretch;
    gap: 12rem;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 100px;
    }
  }

  &__img {
    max-width: 72rem;
    width: 100%;
    align-self: center;
  }

  &-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 110%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      position: absolute;
      left: 0;
      top: 0;

      display: block;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    position: relative;
    @media screen and (max-width: 767px) {
      gap: 40px;
    }

    &::before, &::after {
      font-size: 15rem;
      line-height: 1;
      color: var(--color-white);
      position: absolute;
      @media screen and (max-width: 767px) {
        font-size: 60px;
        height: 30px;
      }
    }

    &::before {
      content: "“";
      top: -4.5rem;
      right: calc(100% + 6rem);
      @media screen and (max-width: 767px) {
        top: 0;
        right: 0;
        position: relative;
      }
    }

    &::after {
      content: "“";
      right: 13.5rem;
      top: calc(100% + 4.5rem);
      @media screen and (max-width: 767px) {
        top: 0;
        right: 0;
        position: relative;
      }
    }

    @media screen and (max-width: 767px) {
      gap: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15rem;

    max-width: 84rem;
    width: 100%;
    @media screen and (max-width: 767px) {
      gap: 40px;
      max-width: 100%;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 767px) {
    gap: 6px;
  }

  &__item {
    flex-shrink: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;

    color: #494A4F;
    transition: .3s color;

    &:hover {
      color: var(--color-white);
    }

    @media screen and (max-width: 767px) {
      width: 30px;
      height: 30px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}

.footer {
  background-color: #121317;
  position: relative;
  z-index: 5;
  &__logo {
    max-width: 28rem;
    margin: 0 0 13.5rem 0;
    @media screen and (max-width: 767px) {
      max-width: 134px;
      margin: 0 0 60px 0;
    }
  }

  &__wrapper {
    padding: 13.5rem 0 4.5rem 0;
    border-top: 1px solid #424348;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @media screen and (max-width: 767px) {
      border-top: none;
      padding: 30px 0;
      gap: 40px;
    }
  }

  &__phone {
    font-size: 2.25rem;
    letter-spacing: 0.03em;
    color: var(--color-white);
    @media screen and (max-width: 767px) {
      font-size: 15px;
    }
  }

  &__text {
    font-size: 1.35rem;
    line-height: 1.8;
    transition: .3s color;
    @media screen and (max-width: 767px) {
      font-size: 9px;
    }

    &--link {
      text-decoration: underline;
    }
  }

  &-block {
    &__column {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 9rem;
      @media screen and (max-width: 767px) {
        gap: 40px;
      }
    }
  }

  &-nav {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 6rem;
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 40px;
    }

    &__block {
      &--info {
        display: flex;
        align-items: flex-end;
      }

      &--nav {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      &--mobile {
        &--first {
          @media screen and (max-width: 767px) {
            grid-row-start: 1;
          }
        }
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  height: 100svh;
  z-index: 10;
  display: flex;
  justify-content: flex-end;

  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transition: .3s visibility, .5s opacity;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 767px) {
    left: 0;
    right: unset;
  }

  &--active &__wrapper {
    transform: translateX(0);
  }

  &__logo {
    max-width: 24rem;
    @media screen and (max-width: 767px) {
      max-width: 160px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
  }

  &__wrapper {
    padding: 4.5rem 9rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;

    width: 100%;
    max-width: max-content;

    margin-left: auto;
    background: #070A10;

    transform: translateX(100%);
    transition: .5s transform;

    @media screen and (max-width: 767px) {
      padding: 16px;
      margin-left: unset;
      transform: translateX(-100%);
      &::before {
        left: unset;
        right: 0;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 12rem;

    max-width: 50rem;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    @include hide-scrollbar;

    position: relative;
    z-index: 2;
    @media screen and (max-width: 767px) {
      gap: 50px;
    }
  }

  &__text {
    font-size: 1.35rem;
    line-height: 1.8;
    transition: .3s color;

    @media screen and (max-width: 767px) {
      font-size: 9px;
    }

    &--link {
      text-decoration: underline;
    }
  }

  &-content {
    flex-grow: 1;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 9rem;
      height: 100%;
      @media screen and (max-width: 767px) {
        gap: 50px;
      }
    }

    &__footer {
      margin-top: auto;
    }
  }

  &-block {
    &__column {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &--gap {
        &--small {
          gap: 4px;
        }
      }
    }

    &__row {
      display: flex;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &-nav {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media screen and (max-width: 767px) {
        max-width: 170px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(#000, 0.1);
  z-index: 12;
  opacity: 0;
  visibility: hidden;

  transition: .3s visibility, .5s opacity;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;


    background: var(--color-accent);
    border-radius: 6px;

    &:hover {
      cursor: pointer;

      &::before, &::after {
        background: #fff;
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      background: #F3F3F3;
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      transition: 0.3s background-color;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      background: #F3F3F3;
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      transition: 0.3s background-color;
      transform: rotate(-45deg);
    }
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px; /* Width of the scrollbar */
      height: 5px; /* Height of the scrollbar */

      display: none;
      @media screen and (max-width: 640px) {
        width: 3px;
        height: 3px;
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* Background of the scrollbar track */
      border-radius: 10px; /* Rounded corners for the track */
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-accent); /* Color of the scrollbar thumb */
      border-radius: 10px; /* Rounded corners for the thumb */
    }
  }

  &__container {
    max-width: 52.5rem;
    width: calc(100% - 60px);
    max-height: 90%;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 767px) {
      max-width: 360px;
    }

  }
}

.form {
  &-popup {
    &__wrapper {
      background: #F3F3F3;
    }

    &__title {
      font-size: 2.5rem;
      color: #07090F;
      @media screen and (max-width: 767px) {
        font-size: 17px;
      }
    }

    &__img {
      height: 30rem;

      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 767px) {
        height: 200px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__box {
      padding: 4.5rem;
      display: flex;
      flex-direction: column;
      gap: 4.5rem;
      @media screen and (max-width: 767px) {
        gap: 30px;
        padding: 30px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2.25rem;
      @media screen and (max-width: 767px) {
        gap: 15px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @media screen and (max-width: 767px) {
        gap: 10px;
      }
    }

    &__button {

    }
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    width: 100%;
    height: 7.5rem;
    border: 1px solid #D8D8D8;

    padding: 2.4rem 3rem;

    font-size: var(--text-size-base);
    letter-spacing: .03rem;
    color: #07090F;

    @media screen and (max-width: 767px) {
      height: 50px;
      padding: 16px 20px;
    }

    &::placeholder {
      color: #868791;
    }
  }
}

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
  position: relative;

  @media screen and (max-width: 767px) {
    gap: 16px;
  }

  &:hover {
    cursor: pointer;
  }

  &:has(:checked) &__checkmark {
    color: var(--color-white);
    background: #030407;
  }

  &__checkmark {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D8D8D8;
    color: #D8D8D8;

    transition: .3s color, .3s background-color;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    @media screen and (max-width: 767px) {
      width: 16px;
      height: 16px;
      .icon {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__text {
    align-self: center;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.4rem;
    height: 2.4rem;
    opacity: 0;
    @media screen and (max-width: 767px) {
      width: 16px;
      height: 16px;
    }
  }

  &__text {
    font-size: 1.5rem;
    letter-spacing: .03rem;
    color: #030407;
    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
  }
}

.info {
  &-list {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 12rem;
      @media screen and (max-width: 767px) {
        gap: 40px;
      }
    }

    &__title {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__item {
      &:first-child {
      }
    }
  }

  &-item {
    &:hover {
      cursor: pointer;
    }

    &:has(:checked) &__icon {
      transform: rotate(45deg);
    }

    &:has(:checked) &__header {
      border-bottom-color: #D8D8D8;
    }

    &:has(:checked) &__content {
      height: var(--list-height);
    }

    &__header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.8rem;

      padding: 4rem 0;
      border-bottom: 1px solid #07090F;
      transition: .3s border-bottom-color, .3s padding;

      &--sub {
        padding: 2.4rem 0;
        border-bottom-color: #D8D8D8;
      }

      @media screen and (max-width: 767px) {
        gap: 12px;
        padding: 26px 0;
        &--sub {
          padding: 16px 0;
        }
      }
    }

    &__content {
      height: 0;
      overflow: hidden;

      transition: .3s height;

      .info-item__header:last-child {
        border-bottom-color: transparent;
      }
    }

    &__icon {
      width: 1.8rem;
      height: 1.8rem;
      color: #07090F;

      transition: .3s transform;
      @media screen and (max-width: 767px) {
        width: 12px;
        height: 12px;
      }
    }

    &__input {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
}

.contact {
  &-map {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 50%;

    &__item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6rem;
    @media screen and (max-width: 767px) {
      gap: 20px;
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @media screen and (max-width: 767px) {
      gap: 40px;
    }
  }

  &-block {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      @media screen and (max-width: 767px) {
        gap: 40px;
      }
    }

    &__header {
      gap: 3rem;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 767px) {
        gap: 20px;
      }
    }
  }
}

.news {
  &__wrapper {
    padding: 6rem 0 9rem 0;

    @media screen and (max-width: 767px) {
      padding: 18px 0 60px 0
    }
  }

  &-single {
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 50rem;
      @media screen and (max-width: 767px) {
        height: auto;

      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: var(--text-size-base);
      font-size: var(--text-size-base);
    }

    &__aside {
      padding-left: 9rem;
      display: flex;
      align-items: center;
      @media screen and (max-width: 767px) {
        padding: 60px 16px 0 16px;
      }
    }

    &__content {
      padding-bottom: 9rem;
      @media screen and (max-width: 767px) {
        padding-bottom: 60px;
      }
    }

    &__text {
      padding-right: 9rem;
      @media screen and (max-width: 767px) {
        padding: 0 16px;
      }
    }
  }

  &-content {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 13.5rem;
      @media screen and (max-width: 767px) {
        gap: 60px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 13.5rem;
      @media screen and (max-width: 767px) {
        gap: 30px;
      }
    }
  }

  &-item {
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50rem;
      height: 25rem;
      position: relative;

      @media screen and (max-width: 767px) {
        width: 100%;
        height: unset;
        aspect-ratio: 2/1;
      }

      img {

        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media screen and (max-width: 767px) {
        gap: 12px;
      }
    }

    &__title {
      text-decoration: underline;
      text-underline-position: under;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 6rem;
      @media screen and (max-width: 767px) {
        gap: 24px;
      }
    }

    &__date {
      font-size: 1.6rem;
      @media screen and (max-width: 767px) {
        font-size: 10px;
      }
    }
  }
}

.select {
  position: relative;
  z-index: 4;

  max-width: max-content;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &.active &__list {
    opacity: 1;
    visibility: visible;

  }

  &.active &__current {

    .icon {
      transform: rotate(180deg);
    }
  }

  &--filter{
    width: 100%;
    max-width: 100%;
  }
  &--filter &__current, &--filter &-item{
    height: 5rem;
    min-width: 1rem;
    border-radius: 10rem;
    padding: 0 2rem;

    font-size: 1.8rem;
    color: #494A4F;

    width: 100%;
    transition: .3s color, .3s border-color, .3s border-radius;
    @media screen and (max-width: 767px) {
      height: 30px;
      padding:0 12px;
      border-radius: 12px;
      font-size: 12px;
    }
  }

  &--filter &__list{
    border:1px solid #494A4F;
    border-top: none;
    border-radius: 0 0 16px 16px;
  }

  &--filter &__current{
    border:1px solid #494A4F;
  }

  &--filter:has(:checked) &__current{
    border-color: var(--color-white);
    color: var(--color-white);
  }

  &--filter.active &__current{
    border-bottom:none;
    border-radius: 16px 16px 0 0;

    border-color: var(--color-white);
    color: var(--color-white);
  }

  &--filter.active &__list{
    border-color: var(--color-white);
  }

  &__current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--text-size-base);

    font-size: var(--text-size-base);

    .icon {
      width: var(--text-size-base);
      height: var(--text-size-base);

      transition: .3s transform;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 4px var(--text-size-base);

    &:has(:checked) {
      display: none;
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    transition: .3s visibility, .5s opacity;
  }
}

.plan {
  &-nav {
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &__item {
      width: max-content;

      font-size: var(--text-size-base);
      color: rgba(92, 93, 93, .4);
      border-bottom: 1px solid rgba(92, 93, 93, .4);
      transition: color .2s, border-color .2s;

      &:hover {
        cursor: pointer;
      }

      &.swiper-slide-thumb-active {
        border-color: transparent;
        color: #000;
      }
    }
  }

  &__wrapper {
    padding-bottom: 9rem;
    @media screen and (max-width: 767px) {
      padding-bottom: 60px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 40rem minmax(0, 1fr) 40rem;
    gap: 6rem;
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 24px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6rem 10rem;
    gap: 2.2rem;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 60px 0 24px 0;
      gap: 24px;
    }

  }

  &__phone {
    font-size: 2.2rem;
    @media screen and (max-width: 767px) {
      order: 3;
      font-size: 12px;

      display: none;
    }
  }

  &__logo {
    max-width: 24rem;
    @media screen and (max-width: 767px) {
      max-width: 140px;
    }
  }

  &-table {
    display: flex;
    align-items: flex-end;

    &__wrapper {
      border: 1px solid rgb(205, 205, 205);
      width: 100%;
    }

    &__row {
      display: flex;
      align-items: stretch;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(205, 205, 205);
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem;

      flex: 1;

      &:not(:last-child) {
        border-right: 1px solid rgb(205, 205, 205);
      }
    }

    &__title {
      font-size: 2.4rem;
      color: #12151e;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }

    &__text {
      color: #7e7f89;
      font-size: 1.5rem;
      @media screen and (max-width: 767px) {
        font-size: 10px;
      }
    }
  }

  &-slider {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    @media screen and (max-width: 767px) {
      grid-row-start: 1;
    }

    &__item {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;


      max-width: 42rem;
      margin: 0 auto;
      @media screen and (max-width: 767px) {
        max-width: 280px;
      }
    }
  }

  &-contact {

    &__compass {
      width: 18rem;
      height: 18rem;
      object-fit: contain;

      margin: 0 auto;
      @media screen and (max-width: 767px) {
        width: 120px;
        height: 120px;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 2.4rem;
      @media screen and (max-width: 767px) {
        gap: 24px;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      @media screen and (max-width: 767px) {
        gap: 12px;
      }
    }
  }
}


.overlay{
  &-wrapper{
    position: relative;
    padding-top: 100vh;
  }
  &-hero{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
  }
  &-section{
    position: relative;
    z-index: 5;
  }
}

