:root {
  //fonts
  --main-font: 'Roboto', sans-serif;
  --marque-font: "Dela Gothic One", sans-serif;
  //main
  --fluid-spacer: 0.052vw;
  --base-size: calc(16 * var(--fluid-spacer));
  // container
  --container-size: 100%;
  --container-padding: 3.125rem;
  //
  --section-padding: 6.25rem;
  --section-spacer: 3.125rem;
  --section-spacer-small: 1.5rem;
  //
  --title-size-base: 5rem;
  --title-size-middle: 2.75rem;
  --marque-title: var(--title-size-base);
  //
  --text-size-tiny: .75rem;
  --text-size-base: 1.375rem;
  --text-size-middle: 1.125rem;
  --text-size-big: 1.5rem;


  --hover-color: #FF0048;

}

@media screen and (max-width: 767px) {
  :root {
    --fluid-spacer: 0.233vw;
    //
    --text-size-base: 1.125rem;

    --container-padding: 1.5rem;
    --section-spacer: 1.5rem;
    --section-padding: 3.125rem;
    --section-spacer-small: 1.25rem;

    //
    --title-size-base: 2rem;
    --title-size-middle: 2rem;
    --marque-title: 2.75rem;
  }
}

html {
  font-size: var(--base-size);
  scroll-behavior: smooth;
}


body {
  font-family: var(--main-font);
  font-size: 1rem;
  color: #000;
  background: #F2F2F2;
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.content {
  flex-grow: 1;
}

.container {
  max-width: calc(var(--container-size) + (2 * var(--container-padding)));
  width: 100%;

  padding: 0 var(--container-padding);
  margin: 0 auto;
}


.custom-hover {
  transition: .3s color;

  &:hover {
    color: var(--hover-color);
  }
}

.title {
  font-family: var(--marque-font);

  &--base {
    font-size: var(--title-size-base);
    line-height: 1.2;
    text-transform: uppercase;

    --emoji-size:4rem;
    
    @media screen and (max-width: 767px) {
      --emoji-size: 1.875rem;
    }
  }

  &--middle {
    font-size: var(--title-size-middle);
    line-height: 1.2;
    text-transform: uppercase;
  }

  &--accent {
    color: #002EC8;
  }

  &--grey {
    color: #444444;
  }

  &--dark{
    color:#282828;
  }

  &--underline {

    text-decoration: underline;
    text-underline-position: under;
  }

  &__emoji{
    display: inline-flex;
    flex-shrink: 0;
    width: var(--emoji-size);
    height: var(--emoji-size);
  }
}

.text {
  &--base {
    font-size: var(--text-size-base);
  }

  &--justify {
    text-align: justify;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__wrapper {
    padding: var(--container-padding) 0;
    @media screen and (max-width: 767px) {
      padding: 1.5rem 0;
    }
  }

  &__logo {
    width: 18.75rem;
    height: 4.25rem;

    color: #444;
    @media screen and (max-width: 767px) {

    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  &-nav {
    @media screen and (max-width: 767px) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100svw;
      background: #F2F2F2;
      z-index: 10;

      border-radius: 1.5rem 1.5rem 0 0;
      padding: 0 var(--container-padding) 11.25rem var(--container-padding);

      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      @media screen and (max-width: 767px) {
        align-items: flex-start;
        flex-direction: column;
        padding: var(--section-padding) 0;
        border-bottom: 2px solid #000;

        max-height: calc(100svh - 11.25rem);
        overflow: auto;
      }
    }

    &__link {
      font-size: 1.375rem;
      color: #444;
      @media screen and (max-width: 767px) {
        font-size: 2rem;
        line-height: .8;
      }
    }
  }
}

@keyframes herobutton {
  0%,100%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(25%);
  }

}

.hero {
  background: #000;

  position: relative;
  overflow: hidden;


  &-button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.5rem;
    height: 3.5rem;

    margin: auto auto 0 auto;


    animation: herobutton 1s linear infinite;
    &__icon{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    pointer-events: none;
  }

  &__wrapper {
    position: relative;
    z-index: 3;
  }

  &__text {
    font-size: var(--text-size-basea);
    color: #444;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;

    margin-top: auto;
  }

  &__content {
    min-height: 100svh;
    padding: var(--container-padding) 0;
    display: flex;
    flex-direction: column;
  }
}


.marquee {
  &-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #002EC8;

    line-height: normal;

    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
  }

  &-content {
    display: flex;
    width: fit-content;
    animation: scroll linear infinite;
  }

  &-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: var(--section-padding) var(--container-padding);
    font-size: var(--marque-title);
    line-height: 1;

    text-transform: uppercase;
    font-family: var(--marque-font);
    font-weight: 400;
    color: #fff;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.title-changer {
  position: relative;
  &.visible{
    .title-changer-item{
      animation: fadeInOut 8.5s infinite;

      &:nth-child(6) {
        animation-delay: 3.5s;
        animation-name: fadeInOutLast;
      }
    }
  }
  .title-changer-item {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    &:nth-child(3) {
      position: relative;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: #{($i - 1) * .7}s;
      }
    }


  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  4.35% {
    opacity: 1;
  }
  8.7% {
    opacity: 1;
  }
  13.04% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


@keyframes fadeInOutLast {
  0% {
    opacity: 0;
  }
  4.35% {
    opacity: 1;
  }
  30.47% {
    opacity: 1;
  }
  44% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section {
  &-gradient {
    overflow: hidden;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../../images/about-decor.png") top center/contain no-repeat;
      z-index: 1;
      transform: translateY(-50%);
      animation: pulse 1s linear infinite;
    }
  }

  &-header {
    &:not(:last-child) {
      margin: 0 0 var(--section-spacer) 0;
    }
  }

  &__wrapper {
    padding: var(--section-padding) 0;
    position: relative;
    z-index: 2;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: var(--section-spacer);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--section-spacer);
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      &--mobile {
        &--grid {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }
    }
  }
}

.project {
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--section-spacer);
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
    }

    &__item {
      @media screen and (min-width: 768px) {
        &--big {
          grid-column-end: span 3;
        }

        &--middle {
          grid-column-end: span 2;
        }
      }
    }
  }

  &-card {
    border-radius: .625rem;
    overflow: hidden;
    &:hover &__title {
      color: var(--hover-color);
      text-decoration-color: var(--hover-color);
    }

    &:hover &__img {
      img {
        transform: scale(1.15);
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--section-spacer-small);
    }

    &__title {
      transition: .3s color, .3s text-decoration;
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-color: transparent;

    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 30rem;
      position: relative;
      overflow: hidden;
      border-radius: .625rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        transition: .3s transform;
      }

      @media screen and (max-width: 767px) {
        height: 18.75rem;
        &--mobile {
          &--big {
            height: 26.25rem;
          }
        }
      }
    }
  }
}

.slider {
  position: relative;

  &-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;

    &__wrapper {
      padding: var(--container-padding);
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
  }

  &-button {
    font-size: 1.125rem;
    font-family: var(--marque-font);
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;

    &--disabled, &--lock {
      opacity: .2;
      pointer-events: none;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40.625rem;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.product {
  &-slider {
    -webkit-user-select: none;
    user-select: none;
    max-width: 100%;
    width: 100%;
    overflow: visible;
    .swiper-wrapper {
      align-items: stretch;
    }

    &__nav {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 1rem;
    }

    &__button {
      width: 3.125rem;
      height: 3.125rem;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #000;
      transition: .3s background-color, .3s opacity;
      -webkit-user-select: none;
      user-select: none;
      &--disabled, &--lock {
        opacity: .2;
        pointer-events: none;
      }

      &:hover {

        background: var(--hover-color);
      }

      .icon {
        width: 1rem;
        height: 1rem;
        color: #fff;
      }
    }

    &__item {
      max-width: 31.5625rem;
      width: 100%;
      @media screen and (max-width: 767px) {
        max-width: 19.5rem;
      }
    }
  }

  &-card {
    height: auto;
    position: relative;
    background: #FFFFFF;
    border-radius: .625rem;
    overflow: hidden;

    &:hover &__decor {
      animation: pulse infinite 2s linear;
    }

    &:hover &__decors {
      opacity: 1;
    }

    &:hover &__title{
      color: var(--hover-color);
    }

    &__decors {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      transition: .5s opacity;
    }

    &__decor {
      position: absolute;
      left: 0;
      top: 5rem;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top center;

      transform: scale(1.25);
    }

    &__content {
      flex-grow: 1;
      padding: 3.125rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @media screen and (max-width: 767px) {
        gap: 1.25rem;
        padding: 1.5rem .875rem;
      }
    }

    &__divider {
      width: 100%;
      height: 1px;
      flex-shrink: 0;
      background: #000;
    }

    &__title {
      font-family: var(--marque-font);
      text-transform: uppercase;
      font-size: 2.75rem;
      line-height: 1.2;
      color: #000;
      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex-grow: 1;
      @media screen and (max-width: 767px) {
        gap: .625rem;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.5rem;

      margin-top: auto;
      @media screen and (max-width: 767px) {
        gap: 1.125rem;
      }
    }

    &__text {
      font-size: 1.125rem;
      color: #000;

      &--grey {
        color: #737373;
      }

      @media screen and (max-width: 767px) {
        font-size: .75rem;
      }
    }

    &__wrapper {

      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      z-index: 2;
    }

    &__img {
      padding-bottom: 80%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3.125rem 3.125rem 0 0;
      overflow: hidden;

      video, img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        pointer-events: none;
      }

      video{
        z-index: 2;
      }
    }
    &__img.hover &__preload{
      opacity: 0;
      visibility: hidden;
    }
    &__preload{
      z-index: 4;

      transition: .3s opacity, .5s visibility;
    }
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1.25);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
}


.footer {
  &__wrapper {
    background: #111;
    padding-top: 6.25rem;
    @media screen and (max-width: 767px) {
      padding-top: 1.5rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    @media screen and (max-width: 767px) {
      gap: 1.5rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3.125rem 1.5rem;

    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 3.125rem;
      &--mobile {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }

  &__text {
    font-size: 1.125rem;
    line-height: 1.2;
    color: #737373;

    &--link {
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  &-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

    gap: 0;
    border-radius: .625rem .626rem 0 0;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &--big {
        grid-column-end: span 2;
        @media screen and (min-width: 768px) {
          &--desktop{
            grid-column-end: span 2;
          }
        }
      }
      &--biggest{
        grid-column-end: span 2;
        grid-row-end: span 2;
      }
    }

    &__item--big &__img {
      padding-bottom: 50%;
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 100%;
      width: 100%;

      img {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;

        object-fit: cover;
      }
    }
  }

  &-block {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    @media screen and (max-width: 767px) {
      &--desktop {
        display: none;
      }
      &--contact {
        grid-row-start: 3;
      }
    }

    &__title {
      font-size: 1.125rem;
      line-height: 1.2;
      color: #fff;
    }

  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  opacity: 0;
  visibility: hidden;

  transition: .3s visibility, .5s opacity;

  pointer-events: none;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__wrapper {
    padding: var(--container-padding);
  }

  &__row {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2.875rem;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;

    padding: 1.25rem 2.875rem;
  }

  &__logo {
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    & + & {
      margin-left: auto;
    }

    li {
      flex-shrink: 0;
    }
  }

  &__link {
    color: #fff;

    font-size: 1rem;

    pointer-events:auto;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;

  opacity: 0;
  visibility: hidden;
  transition: .3s visibility, .5s opacity;
  &.visible{
    opacity: 1;
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  &__wrapper {
    padding: var(--container-padding);
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .625rem;
    height: 3.375rem;
    border-radius: 3.125rem;
    font-size: 1.125rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;
    }

    &--burger {
      background-color: #D9D9D9;
      color: #000000;
    }

    &--tg {
      background-color: #444444;
      color: #fff;
    }
  }
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;


  position: relative;
  flex-shrink: 0;

  &__wrapper {
    position: relative;
    width: 1.375rem;
    height: 1rem;
    flex-shrink: 0;
  }

  &__text {
    &::before {
      content: attr(data-open);
    }
  }

  &.active &__text {
    &::before {
      content: attr(data-close);
    }
  }

  &.active &__item {
    width: 100%;

    &:nth-child(1) {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }
  }

  &__item {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #000000;

    transition: .3s top, .3s opacity, .3s transform, .3s width;

    &:nth-child(2) {
      top: calc(50% - 1px);
    }

    &:nth-child(3) {
      top: calc(100% - 2px);
    }
  }
}

$animation-duration: 2s;
$images-count: 8;
$single-image-duration: calc($animation-duration / $images-count);
$fade-percentage: calc(100% / $images-count);
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background: #fff;

  transition: .3s  visibility, .1s opacity;

  &.loaded{
    opacity: 0;
    visibility: hidden;
    &::before{
      opacity: 1;
      animation: loaderAnimation .2s .4s forwards;
    }
    &::after{
      opacity: 1;
      animation: loaderAnimationButton .2s .4s forwards;
    }
  }

  &__text {
    font-size: var(--text-size-basea);
    color: #444;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;

    margin-top: auto;
  }

  &__footer {
    margin-top: auto;
  }


  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--section-spacer) var(--container-padding);

    @media screen and (max-width:767px) {
      flex-direction:column;
      position: relative;
      justify-content: space-around;
      gap: 10rem;
    }
  }


  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--section-spacer) var(--container-padding);

  }

  &-images.finish &-image {
    display: none;
  }


  &-images.finish {
    animation: .5s preloadfinal forwards;

    &::before {
      animation:.5s forwards preloadfinalImg;
    }
  }

  &-images {
    width: 9.75rem;
    height: 9.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 4rem;
      height: 4rem;
      background: url("../../images/preloader/final.webp") center center/contain no-repeat;

      opacity: 0;

    }
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    opacity: 0;
    animation: fade $animation-duration infinite;

    transition: .3s opacity;

    @for $i from 1 through $images-count {
      &:nth-child(#{$i}) {
        animation-delay: calc($single-image-duration * #{$i - 1});
      }
    }
  }
}


@keyframes loaderAnimation {
  0%{
    top: 0;
    opacity: 1;
  }
  100%{
    top: -50%;
    opacity: 1;
  }
}
@keyframes loaderAnimationButton {
  0%{
    bottom: 0;
    opacity: 1;
  }
  100%{
    bottom: -50%;
    opacity: 1;
  }
}

@keyframes fade {
  0%, #{$fade-percentage} {
    opacity: 1;
    transform: scale(1);
  }
  #{$fade-percentage + 0.5%}, 100% {
    opacity: 0;
    transform: scale(1.05);
  }
}

@keyframes preloadfinal {
  0% {
    background: #000;
    width: 9.75rem;
    height: 9.75rem;
    border-radius:1.5rem;
  }
  50%{

    border-radius: 9.75rem;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #000;
  }
}
@keyframes preloadfinalImg {
  0% {
    width: 4rem;
    height: 4rem;
    opacity: 1;
  }
  100% {
    width: 14.375rem;
    height: 14.375rem;
  }
}



.clients{
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 2rem;
    @media screen and (max-width:767px){
      grid-template-columns: minmax(0,1fr);
      gap: 0;
    }
  }
  &__header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-img{
    display: flex;
    align-items: center;
    justify-content: center;
    &__item{
      object-fit: contain;
      width: 100%;
      max-width: 40rem;
      height: 20rem;
      @media screen and (max-width:767px) {
        height: 11.875rem;
      }
    }
  }
  &-list{
    &__item{
      display: inline-block;
      text-transform: uppercase;
      font-family: var(--marque-font);
      font-size: 2.75rem;
      color: #282828;
      transition: .3s color;
      &:hover{
        cursor: pointer;
      }
      @media screen and (max-width:767px) {
        font-size: 1.125rem;
      }
    }
  }
}