:root {
  --container-padding: 42px;
  --container-size: 1420px;


  --section-spacer: 75px;
  --section-header-margin: 35px;


  --title-base: 40px;
  --title-middle: 35px;
  --title-small: 30px;
  --title-tiny: 22px;

  --text-base: 16px;
  --text-middle: 18px;
  --text-big: 20px;

  --color-white: #fff;
  --color-grey: #687173;
  --color-grey-lighter: #F0F2F3;
  --color-grey-dark: #C8CECF;
  --color-grey-light: #909697;
  --color-dark: #25292A;
  --color-dark-light: #424647;

  --card-padding: 30px;
  --card-padding-small: 20px;
  --card-padding-big: 40px;
  --card-padding-biggest: 50px;
  --card-radius: 40px;
  --card-gap: 20px;

  --font-main: 'IBM Plex Sans';
}

@media screen and (max-width: 1240px) {
  :root {
    --section-spacer: 60px;

    --title-small: 25px;
    --title-base:35px;
    --title-tiny: 20px;

    --text-big: 18px;

    --card-padding-big: 30px;
    --card-padding-biggest: 30px;
    --card-padding-small: 20px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --container-padding: 20px;
    --section-spacer: 40px;
    --section-header-margin: 20px;

    --title-base: 25px;
    --title-middle: 25px;
    --title-small: 20px;
    --title-tiny: 16px;

    --card-padding: 20px;
    --card-padding-big: 20px;
    --card-padding-biggest: 20px;
    --card-radius: 30px;
    --card-gap: 15px;
    --card-padding-small: 10px;

    --text-base: 14px;
    --text-big: 16px;
    --text-middle: 14px;
  }
}


@mixin hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: var(--font-main);
  line-height: 1.1;
  font-size: var(--text-base);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top left;
  }
}

.container {
  max-width: calc(var(--container-size) + (var(--container-padding) * 2));
  width: 100%;

  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  max-width: 100%;

  &:hover {
    cursor: pointer;
  }

  &--small {
    padding: 16px;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;
    border-radius: 15px;
    height: 45px;

    &--form {
      height: 50px;
    }

    @media screen and (max-width: 767px) {
      padding: 12px;
      font-size: 14px;
      border-radius: 12px;
      height: 40px;
    }
  }

  &--bordered {
    color: var(--color-dark);
    border: 1px solid var(--color-dark);

    transition: .3s background-color, .3s color;
    &:hover{
      color: var(--color-white);
      background-color: var(--color-dark);
    }
  }

  &--tg {
    color: var(--color-white);
    background: #3390EC;

    transition: .3s color , .3s background-color;
    &:hover{
      color: #fff;
      background-color: var(--color-dark);
    }
  }

  &--green {
    color: #ffffff;
    background-color: #4DAD33;

    transition: .3s color , .3s background-color;
    &:hover{
      color: #fff;
      background-color: var(--color-dark);
    }
  }
}

.title {
  &--base {
    font-weight: 700;
    font-size: var(--title-base);
    line-height: 1.1;
  }

  &--small {
    font-weight: 700;
    line-height: 1.1;
    font-size: var(--title-small);
  }

  &--middle {
    font-weight: 700;
    line-height: 1.1;
    font-size: var(--title-middle);
  }

  &--tiny {
    font-weight: 700;
    line-height: 1.1;
    font-size: var(--title-tiny);
  }

  &--regular {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }


  &--white {
    color: var(--color-white);
  }

  &--dark {
    &--light {
      color: var(--color-dark-light);
    }
  }
}

.text {
  &--big {
    font-size: var(--text-big);
  }

  &--middle {
    font-size: var(--text-middle);
  }

  &--grey {
    color: var(--color-grey);

    &--light {
      color: var(--color-grey-light);
    }

    &--lighter {
      color: var(--color-grey-lighter);
    }

    &--white {
      color: #B1B7B8;
    }
  }

  &--dark {
    &--light {
      color: var(--color-dark-light);
    }
  }

  &--accent {
    color: #4DAD33;
  }

  &--underline {
    text-decoration: underline;
  }

  &--medium {
    font-weight: 500;
  }

  &--semibold {
    font-weight: 600;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--spacing {
    letter-spacing: 0.03em;
  }

  &--footer {
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
  &--link{
    &:hover{
      color: #4DAD33;
    }
  }
}

.content .section:first-child .section__wrapper {
  padding-top: 0;
}

.content {
  padding: 25px 0 var(--section-spacer) 0;
}

.header {
  &__logo {
    width: 360px;
    height: 25px;
    @media screen and (max-width: 767px) {
      order: 2;
      width: 184px;
      height: 13px;
    }
  }

  &__burger {
    @media screen and (max-width: 767px) {
      order: 3;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    gap: 30px;
    &--column{
      gap: 25px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__link {
      color: var(--color-dark-light);
      font-size: var(--text-middle);
      transition: .3s color;
      &:hover{
        color: #4DAD33;
      }
      &--menu{
        @media screen and (max-width: 1240px) and (min-width: 768px) {
          font-size: 20px;
        }
      }
    }
  }

  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background: var(--color-grey-lighter);
    color: #B1B7B8;
    flex-shrink: 0;

    &:hover &__icon{
      color: #4DAD33;
    }
    &__icon {
      width: 25px;
      height: 25px;

      transition: .3s color;
      @media screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }

    @media screen and (max-width: 767px) {
      width: 30px;
      border-radius: 12px;
      height: 30px;

    }
  }

  &-top {
    &__wrapper {
      padding: 35px 0;
      border-bottom: 1px solid var(--color-dark-light);
      display: flex;
      align-items: center;
      gap: 120px;
      @media screen and (max-width: 1240px) {
        gap: 70px;
      }
      @media screen and (max-width: 767px) {
        justify-content: space-between;
        gap: 20px;
        padding: 20px 0;
      }
    }

    &__block {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 30px;
      @media screen and (max-width: 767px) {
        margin-left: 0;
      }

    }

    &__info {
      display: flex;
      align-items: center;
      gap: 60px;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &__list {
      @media screen and (max-width: 1240px) {
        display: none;
      }
    }
  }

  &-bottom {
    @media screen and (max-width: 767px) {
      display: none;
    }

    &__wrapper {
      padding: 35px 0;
    }
  }

  &-category {
    display: flex;
    align-items: center;
    gap: 50px;
    &--column{
      flex-direction: column;
      gap: 25px;
      align-items: flex-start;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 10px;

      font-size: var(--title-tiny);
      font-weight: 600;

      transition: .3s color;
      &--menu{
        @media screen and (max-width: 1240px) and (min-width: 768px) {
          font-size: 20px;
        }
      }
      &:hover {
        color: #4DAD33;
      }

      .icon {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        color: #4DAD33;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  max-width: 590px;
  width: 100%;
  z-index: 5;

  opacity: 0;
  visibility: hidden;

  transition: .3s visibility, .5s opacity;
  &.active{
    opacity: 1;
    visibility: visible;
  }
  @media screen and (max-width: 1240px) {
    max-width: 768px;
  }

  @media screen and (max-width: 767px) {
    max-width: 300px;
  }
  &__wrapper {
    background: var(--color-white);
    padding: 50px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow:auto;
    @include hide-scrollbar;
    @media screen and (max-width: 1240px) {
      gap: 50px;
      padding:50px 40px
    }
    @media screen and (max-width: 767px) {
      gap: 25px;
      padding:25px 20px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 300px;
    height: 20px;

    @media screen and (max-width: 1240px) {
      height: 30px;
      max-width: 455px;
    }
    @media screen and (max-width: 767px) {
      height: 13px;
      max-width: 184px;
    }
  }

  &-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 15px;
    }
    &__link{
      font-size: var(--text-middle);
      font-weight: 500;
      color: var(--color-grey);

      display: flex;
      align-items: center;
      gap: 10px;

      &:hover .icon{
        transform: rotate(45deg);
        color: var(--color-grey);
      }
      @media screen and (max-width: 1240px) and (min-width: 767px){
        font-size: 20px;
      }
      &--copyright{
        color: var(  --color-grey-dark);
      }
      .icon{
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        color: var(  --color-grey-dark);

        transition: .3s transform, .3s color;
      }
    }
  }


  &-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__title{
      @media screen and (max-width: 1240px) and (min-width: 768px) {
        font-size: 25px;
      }
    }
    &__text{
      @media screen and (max-width: 1240px) and (min-width: 768px) {
        font-size: 22px;
      }
    }
  }

  &__close {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: relative;

    @media screen and (max-width: 1240px) {
      width: 30px;
      height: 30px;
    }
    @media screen and (max-width: 767px) {
      width: 16px;
      height: 16px;
    }
    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      background: var(--color-grey);
      width: 100%;
      height: 2px;

      transition: .3s background-color;
    }
    &:hover{
      &::before,&::after{
        background-color: #4DAD33;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 35px;
    @media screen and (max-width: 1240px) {
      gap: 50px;
    }
    @media screen and (max-width: 767px) {
      gap: 25px;
    }
  }

  &-search {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;

    padding:12px 20px;
    border-radius: 15px;
    background: var(  --color-grey-lighter);

    font-weight: 500;
    font-size: 18px;
    @media screen and (max-width: 1240px) {
      height: 55px;
      font-size: 20px;
    }
    @media screen and (max-width: 767px) {
      height: 45px;
      font-size: 14px;
    }
    &__input{
      width: 100%;
      height: 100%;
      &::placeholder{
        color: #B1B7B8;
      }
    }
    &__icon {
      width: 22px;
      height: 22px;
      color: var(--color-grey-dark);
      flex-shrink: 0;
      @media screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.section {
  &__wrapper {
    padding: var(--section-spacer) 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &:not(:last-child) {
      margin: 0 0 var(--section-header-margin) 0;
    }
  }
}


.burger {
  display: flex;
  align-items: center;
  gap: 15px;
  &:hover &__text{
    color: #4DAD33;
  }

  &__text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;

    transition: .3s color;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__wrapper {
    width: 45px;
    height: 23px;
    flex-shrink: 0;

    position: relative;
    @media screen and (max-width: 767px) {
      width: 30px;
      height: 16px;
    }
  }

  &__item {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: var(--color-grey);

    &:nth-child(2) {
      top: calc(50% - 1px);
      width: 70%;
    }

    &:nth-child(3) {
      top: calc(100% - 2px);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 20px;
  grid-auto-rows: 1fr;
  @media screen and (max-width: 767px) {
    gap: 10px;
    grid-auto-rows: auto;
  }

  &__card{
    &--full{
      flex-grow: 1;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--half {
      grid-column-end: span 6;
      @media screen and (max-width: 1240px) {
        grid-column-end: span 12;
      }
    }

    &--quarter {
      grid-column-end: span 3;
      @media screen and (max-width: 1240px) {
        grid-column-end: span 6;
      }
    }

    @media screen and (max-width: 767px) {
      grid-column-end: span 12;
    }
  }
}

.card {
  background: var(--color-grey-lighter);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);

  position: relative;
  overflow: hidden;

  transition: .3s background-color;

  --bg-color-hover: var(--color-grey-lighter);
  --icon-color: var(--color-grey-dark);
  --date-color: var(--color-grey-light);
  --title-color: var(--color-dark);
  --title-color-hover: #4DAD33;
  --text-color: var(--color-dark-light);

  &:hover {
    background: var(--bg-color-hover);
  }

  &:hover &-img__item, &:hover &-bg__item{
    transform: scale(1.05);
  }

  &--rectangle {
    aspect-ratio: .8;
    @media screen and (max-width: 1240px) {
      aspect-ratio: unset;
    }
  }

  &--advice {
    min-height: 460px;
    @media screen and (max-width: 1240px) {
      min-height: auto;
    }
  }

  &--hero {
    @media screen and (min-width: 768px) {
      min-height: 270px;
    }

    &--big {
      @media screen and (max-width: 767px) {
        min-height: 400px;
      }
    }
  }

  &--dark {
    --bg-color-hover: var(--color-dark);
    background: var(--color-dark-light);
    --icon-color: var(--color-grey-dark);
    --date-color: var(--color-grey-dark);
    --title-color: var(--color-white);
    --title-color-hover: var(--color-white);
    --text-color: var(--color-white);
  }

  &--accent {
    --bg-color-hover: #687173;
    background: #4DAD33;
    --icon-color: var(--color-white);
    --date-color: var(--color-white);
    --title-color: var(--color-white);
    --title-color-hover: var(--color-white);
    --text-color: var(--color-white);
  }

  &--grey {
    background: var(--color-grey);

    --bg-color-hover: var(--color-grey);
    --icon-color: var(--color-white);
    --date-color: var(--color-grey-dark);
    --title-color: var(--color-white);
    --title-color-hover: var(--color-white);
    --text-color: var(--color-white);
  }

  &--bg {
    --icon-color: var(--color-white);
    --date-color: var(--color-white);
    --title-color: var(--color-white);
    --title-color-hover: var(--color-white);
    --text-color: var(--color-white);
  }

  &:hover {
    --title-color: var(--title-color-hover);
  }

  &__wrapper {
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);
    height: 100%;

    &--padding {
      &--small {
        padding: var(--card-padding-small);
      }

      &--big {
        padding: var(--card-padding-big);
      }

      &--biggest {
        padding: var(--card-padding-biggest);
      }

      &--bg {
        @media screen and (max-width: 767px) {
          padding-top: 50px;
        }
      }
    }

    &--row {
      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
      &--mobile{
        flex-direction: row;
      }
    }
  }


  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(26, 28, 28, 0.2) 0%, rgba(26, 28, 28, 0.8) 100%);
      z-index: 3;
    }

    &--clear {
      &::before {
        display: none;
      }
    }

    &__item {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: .3s transform;

      z-index: 1;
    }
  }

  &-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 45px;
    gap: 10px;

    z-index: 3;

    font-size: var(--text-middle);
    font-weight: 600;

    border-radius: 15px;
    background-color: #fff;

    width: max-content;
    max-width: 100%;
    @media screen and (max-width: 767px) {
      height: 35px;
      border-radius: 12px;
      padding: 10px;

    }

    &__icon {
      color: #4DAD33;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      @media screen and (max-width: 767px) {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);

    flex-grow: 1;

    position: relative;
    z-index: 2;

    &--padding {
      padding: var(--card-padding-small) 0;
      @media screen and (max-width: 767px) {
        padding: var(--card-padding-small);
        padding-top: 0;
      }

      &--small {
        padding: 10px;
        padding-top: 0;
      }
    }
  }

  &__title {
    color: var(--title-color);

    transition: .3s color;

    &--facts{
      @media screen and (min-width: 768px) {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__text {
    color: var(--text-color);
  }

  &-img--rounded + &__content {
    margin-top: auto;
    flex-grow: 0;
  }

  &-img--rounded + &__content--full{
    flex-grow: 1;
    margin-top: 0;
  }
  &-img--rectangle + &__content {
    margin-top: auto;
    flex-grow: 0;
  }

  &-bg + &__content {
    margin-top: auto;
    flex-grow: 0;
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    &--fit{
      height: 100%;
      width: 265px;
      overflow: hidden;
      border-radius: 30px;
      @media screen and (max-width: 767px) {
        border-radius: 20px;
        height: 130px;
        width: 100%;
      }
    }

    &--rectangle {
      width: 100%;
      height: 225px;
      border-radius: 30px;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        height: 130px;
        border-radius: 20px;
      }
    }

    &--square {
      width: 300px;
      height: 300px;
      flex-shrink: 0;
      border-radius: 30px;
      overflow: hidden;
      @media screen and (max-width: 1240px) {
        width: 210px;
        height: 210px;
      }
      @media screen and (max-width: 767px) {
        height: auto;
        width: 100%;
        border-radius: 20px;
        aspect-ratio: 2;
      }
    }

    &--rounded {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      @media screen and (max-width: 1240px) {
        width: 130px;
        height: 130px;
      }
      @media screen and (max-width: 767px) {
        width: 80px;
        height: 80px;
      }
    }

    &__item {
      width: 100%;
      height: 100%;
      object-fit: cover;


      transition: .3s transform;
    }
  }


  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--card-gap);

    margin-top: auto;

    &--small {
      justify-content: flex-start;
    }
  }

  &-date {
    font-size: var(--text-base);
    font-weight: 600;
    line-height: 1.1;
    color: var(--date-color);
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    gap: 7px;

    color: var(--icon-color);
    font-size: var(--text-middle);
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }

    .icon {
      width: 14px;
      height: 14px;
      flex-shrink: 0;


    }
  }
}

.mailing {
  &__wrapper {
    padding: 70px 0;
    border-top: 1px solid var(--color-dark-light);
    border-bottom: 1px solid var(--color-dark-light);
    @media screen and (max-width: 1240px) {
      padding: 50px 0;

    }
    @media screen and (max-width: 767px) {
      padding: 40px 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 570px;
    gap: 70px;
    @media screen and (max-width: 1240px) {
      gap: 100px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 30px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media screen and (max-width: 767px) {
      gap: 15px;
    }
  }

  &-subtext {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: auto;
    @media screen and (max-width: 767px) {
      padding: 10px 0;
    }

    &__icon {
      width: 15px;
      height: 15px;
      color: #4DAD33;
      flex-shrink: 0;
    }
  }

  &-form {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media screen and (max-width: 1240px) {
        gap: 50px;
      }
      @media screen and (max-width: 767px) {
        gap: 20px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 25px;
      @media screen and (max-width: 1240px) {
        gap: 15px;
      }
    }
  }
}

.hero {
  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 10px;
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media screen and (max-width: 1240px) {
      gap: 20px;
    }
    @media screen and (max-width: 767px) {
      gap: 25px;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    cursor: pointer;
  }

  &:has(:checked) &__checkmark {
    color: #4DAD33;
  }

  &:hover &__checkmark{
    border-color:#4DAD33;
  }

  &__input {
    position: absolute;
    opacity: 0;

    width: 18px;
    height: 18px;
    left: 0;
    top: 0;
    @media screen and (max-width: 767px) {
      width: 15px;
      height: 15px;
    }
  }

  &__checkmark {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid var(--color-grey-dark);
    color: transparent;

    transition: .3s border-color;
    .icon {
      width: 10px;
      height: 10px;

      transition: .3s color;
    }

    @media screen and (max-width: 767px) {
      width: 15px;
      height: 15px;
    }
  }
}

.input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  height: 50px;
  border-radius: 15px;
  background-color: var(--color-grey-lighter);
  border: 1px solid var(--color-grey-dark);

  flex-grow: 1;
  font-size: 18px;
  font-weight: 500;
  @media screen and (max-width: 767px) {
    padding: 12px 15px;
    height: 40px;
    font-size: 14px;
    border-radius: 12px;
  }


  &__icon {
    width: 17px;
    height: 17px;

    flex-shrink: 0;
    color: var(--color-grey-dark);

    @media screen and (max-width: 767px) {
      width: 12px;
      height: 12px;
    }
  }

  &__item {
    width: 100%;
    height: 100%;

    &::placeholder {
      color: #B1B7B8;
    }
  }


}

.form {
  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 1240px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }
}

.footer {
  &__wrapper {
    padding: 120px 0 60px 0;
    @media screen and (max-width: 1240px) {
      padding: 80px 0 50px 0;
    }
    @media screen and (max-width: 767px) {
      padding: 40px 0 40px 0;
    }
  }

  &__logo {
    max-width: 340px;
    height: 25px;
    @media screen and (max-width: 767px) {
      max-width: 250px;
      height: 18px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 80px 70px;
    @media screen and (max-width: 1240px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 40px;
    }
  }

  &__copyright {
    &--desktop {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px 30px;

    &__link {
      font-size: var(--text-big);
      transition: .3s color;
      &:hover{
        color: #4DAD33;
      }
    }
  }

  &-block {
    height: auto;

    &--desktop {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 25px;
      height: 100%;
    }
  }
}

.social {
  &-list {
    display: flex;
    align-items: center;
    gap: 10px;

    &__item {
      flex-shrink: 0;
    }
  }

  &-link {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 15px;

    transition: .3s background-color;
    &--tg:hover{
      background-color: #3390EC;
    }
    &--vk:hover{
      background-color: #0077FF;
    }
    &--yt:hover{
      background-color: #FF0033;
    }
    &__icon {
      width: 25px;
      height: 25px;
    }

    @media screen and (max-width: 1240px) and (min-width: 768px) {
      width: 55px;
      height: 55px;
    }
  }
}

.last-articles {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 0 30px;
    @media screen and (max-width: 1240px) {
      gap: 25px;
      padding: 20px 25px;
    }
    @media screen and (max-width: 767px) {
      padding: 0;
      gap: 20px;
    }

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 1240px) {
      gap: 25px;
    }
    @media screen and (max-width: 767px) {
      gap: 20px;
    }
  }
}

.article-small {
  &:hover &__title{
    color: #4DAD33;
  }
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    transition:.3s color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 15px;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
  }

  &__tag + &__tag {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      background: var(--color-grey-dark);
      width: 5px;
      height: 5px;
      flex-shrink: 0;
      display: block;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}

.news {
  &-tg {
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      flex-grow: 1;

      position: relative;
      @media screen and (max-width: 767px) {
        order: 2;
        padding-bottom: 100%;
        border-radius: 20px;
        background: #DFE3E5;
        overflow: hidden;
      }
    }

    &__picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right bottom;
      position: absolute;
      left: 0;
      top: 0;
    }

    &__wrapper {
      display: flex;
      align-items: stretch;
      background: var(--color-grey-lighter);
      border-radius: 40px;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        gap: 10px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 15px;

      font-weight: 500;
      font-size: var(--text-big);

      .icon {
        width: 21px;
        height: 21px;
        flex-shrink: 0;
      }
    }

    &__box {
      padding: 70px 50px 70px 35px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex-shrink: 0;
      @media screen and (max-width: 1240px) {
        padding: 50px;
        gap: 30px;
      }
      @media screen and (max-width: 767px) {
        padding: 15px 10px;
        gap: 20px;
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media screen and (max-width: 1240px) {
        gap: 25px;
      }
      @media screen and (max-width: 767px) {
        gap: 15px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 70px;

      max-width: 530px;
      width: 100%;
      flex-shrink: 0;
      @media screen and (max-width: 1240px) {
        gap: 55px;
        max-width: 360px;
      }
      @media screen and (max-width: 767px) {
        gap: 25px;
      }
    }
  }
}

.pulse{
  &-block{
    background:url("../../images/pulse/bgwebp.webp") center center/cover no-repeat;

    border-radius: 40px;
    background-color: var(--color-dark);
    overflow:hidden;
    height: 140px;
    padding:20px 50px;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1240px) {
      background:url("../../images/pulse/bg-tablet.webp") center center/cover no-repeat;
    }
    @media screen and (max-width: 767px) {
      background:url("../../images/pulse/bg-m.webp") center center/cover no-repeat;
      padding: 20px;
      height: 190px;

      align-items: flex-end;
      border-radius: 30px;

    }
    &__row{
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
    }
    &__circle{
      width: 10px;
      height: 10px;
      background-color: var(--color-white);
      border-radius: 50%;
      flex-shrink: 0;
      position: relative;
      @media screen and (max-width: 767px) {
        position: absolute;
        top: 26px;
        left: 26px;
      }
      &::after,&::before{
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background-color: #ffff;
        border-radius: 50%;
      }
      &::before{
        opacity: .1;
        animation: pulseAnimationFirst 1s linear infinite;
      }
      &::after{
        opacity: .2;
        animation: pulseAnimationSecond 1s linear infinite;
      }
    }
    &__button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;

      flex-shrink: 0;
      background-color: var(--color-white);

      margin-left: auto;
      border-radius: 15px;

      &:hover .icon{
        transform: rotate(45deg);
      }

      .icon{
        width: 16px;
        height: 16px;

        color: #4DAD33;

        transition: .3s transform;
      }
    }
  }
}

@keyframes pulseAnimationFirst {
  25%{
    width: 100%;
    height: 100%;
  }
  50%{
    width: 200%;
    height: 200%;
  }
  75%{
    width: 300%;
    height: 300%;
  }
  100%{
    width: 300%;
    height: 300%;
  }
}

@keyframes pulseAnimationSecond {
  25%{
    width: 100%;
    height: 100%;
  }
  50%{
    width: 200%;
    height: 200%;
  }
  75%{
    width: 200%;
    height: 200%;
  }
  100%{
    width: 200%;
    height: 200%;
  }
}