:root {
  --container-padding: 42px;
  --container-size: 1420px;


  --section-spacer: 75px;
  --section-header-margin: 35px;
  --section-content-margin: 100px;


  --title-base: 40px;
  --title-middle: 35px;
  --title-small: 30px;
  --title-tiny: 22px;

  --text-base: 16px;
  --text-middle: 18px;
  --text-big: 20px;

  --color-white: #fff;
  --color-grey: #687173;
  --color-grey-lighter: #F0F2F3;
  --color-grey-dark: #C8CECF;
  --color-grey-light: #909697;
  --color-dark: #25292A;
  --color-dark-light: #424647;

  --card-padding: 30px;
  --card-padding-small: 20px;
  --card-padding-big: 40px;
  --card-padding-biggest: 50px;
  --card-radius: 40px;
  --card-gap: 20px;

  --font-main: 'IBM Plex Sans';

  --fix-font: 40%;
}

@media screen and (max-width: 1240px) {
  :root {
    --section-spacer: 60px;
    --section-content-margin: 80px;

    --title-small: 25px;
    --title-base: 35px;
    --title-tiny: 20px;

    --text-big: 18px;

    --card-padding-big: 30px;
    --card-padding-biggest: 30px;
    --card-padding-small: 20px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --container-padding: 20px;
    --section-content-margin: 40px;
    --section-spacer: 40px;
    --section-header-margin: 20px;

    --title-base: 25px;
    --title-middle: 25px;
    --title-small: 20px;
    --title-tiny: 16px;

    --card-padding: 20px;
    --card-padding-big: 20px;
    --card-padding-biggest: 20px;
    --card-radius: 30px;
    --card-gap: 15px;
    --card-padding-small: 10px;

    --text-base: 14px;
    --text-big: 16px;
    --text-middle: 14px;
  }
}


@mixin hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #F0F2F3;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4DAD33;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: #F0F2F3;
    border-radius: 2px;
  }
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  line-height: 1.1;
  font-size: var(--text-base);
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top left;
  }
}

.container {
  max-width: calc(var(--container-size) + (var(--container-padding) * 2));
  width: 100%;

  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  max-width: 100%;

  &:hover {
    cursor: pointer;
  }

  &--small {
    padding: 16px;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;
    border-radius: 15px;
    height: 45px;

    --icon-size: 13px;
    gap: 10px;

    &--form {
      height: 50px;
    }

    @media screen and (max-width: 767px) {
      padding: 12px;
      font-size: 14px;
      border-radius: 12px;
      height: 40px;
    }
  }

  &--bordered {
    color: var(--color-dark);
    border: 1px solid var(--color-dark);

    transition: .3s background-color, .3s color;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-dark);
    }
  }

  &--tg {
    color: var(--color-white);
    background: #3390EC;

    transition: .3s color, .3s background-color;

    &:hover {
      color: #fff;
      background-color: var(--color-dark);
    }
  }

  &--green {
    color: #ffffff;
    background-color: #4DAD33;

    transition: .3s color, .3s background-color;

    &:hover {
      color: #fff;
      background-color: var(--color-dark);
    }
  }

  &__icon {
    flex-shrink: 0;
    width: var(--icon-size);
    height: var(--icon-size);

    transform: translateY(10%);
  }

  &__text {
    &--desktop {
      @media screen and (max-width: 1240px) {
        display: none;
      }
    }
  }
}

.title {
  &--base {
    font-weight: 700;
    font-size: var(--title-base);
    line-height: 1.1;
  }

  &--small {
    font-weight: 700;
    line-height: 1.1;
    font-size: var(--title-small);
  }

  &--middle {
    font-weight: 700;
    line-height: 1.1;
    font-size: var(--title-middle);

    &--mobile--small {
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }

  &--tiny {
    font-weight: 700;
    line-height: 1.1;
    font-size: var(--title-tiny);
  }

  &--regular {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }


  &--white {
    color: var(--color-white);
  }

  &--dark {
    &--light {
      color: var(--color-dark-light);
    }
  }
}

.text {
  &--big {
    font-size: var(--text-big);
  }

  &--middle {
    font-size: var(--text-middle);
  }

  &--grey {
    color: var(--color-grey);

    &--light {
      color: var(--color-grey-light);
    }

    &--lighter {
      color: var(--color-grey-lighter);
    }

    &--white {
      color: #B1B7B8;
    }
  }

  &--white {
    color: var(--color-white);
  }

  &--dark {
    color: var(--color-dark);

    &--light {
      color: var(--color-dark-light);
    }
  }

  &--accent {
    color: #4DAD33;
  }

  &--underline {
    text-decoration: underline;
  }

  &--medium {
    font-weight: 500;
  }

  &--semibold {
    font-weight: 600;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--spacing {
    letter-spacing: 0.03em;
  }

  &--footer {
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &--link {
    transition: .3s color;

    &:hover {
      color: #4DAD33;
    }
  }

  &--right {
    text-align: right;
  }
}

.content .section:first-child .section__wrapper {
  padding-top: 0;
}

.content {
  padding: 25px 0 var(--section-spacer) 0;
}

.header {
  width: 100%;
  top: 0;
  z-index: 10;
  background: var(--color-white);

  transition: .3s transform;
  &.fixed &-top{
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(-100%);

  }
  &.visible &-top{
    transform: translateY(0);
  }

  &.visible &__logo {
    @media screen and (max-width: 1240px) {
      display: none;
      &--fixed {
        opacity: 1;
        display: block;
      }
    }
  }

  &.visible &-top{
    transition: .3s transform;

    &__info{
      display: none;
    }
    &__wrapper{
      padding: 20px 0;
    }
    &__category{
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  &__logo {
    width: 360px;
    height: 25px;

    &--fixed{
      display: none;
    }

    @media screen and (max-width: 767px) {
      order: 2;
      width: 184px;
      height: 13px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      transition: .3s opacity;
      &--fixed {
        width: 50px;
        height: 20px;
        display: block;

        opacity: 0;
      }
    }
  }

  &__burger {
    @media screen and (max-width: 767px) {
      order: 3;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    gap: 30px;

    &--column {
      gap: 25px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__link {
      color: var(--color-dark-light);
      font-size: var(--text-middle);
      transition: .3s color;

      &:hover {
        color: #4DAD33;
      }

      &--menu {
        @media screen and (max-width: 1240px) and (min-width: 768px) {
          font-size: 20px;
        }
      }
    }
  }

  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background: var(--color-grey-lighter);
    color: #B1B7B8;
    flex-shrink: 0;

    &:hover &__icon {
      color: #4DAD33;
    }

    &__icon {
      width: 25px;
      height: 25px;

      transition: .3s color;
      @media screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }

    @media screen and (max-width: 767px) {
      width: 30px;
      border-radius: 12px;
      height: 30px;

    }
  }

  &-top {
    position: relative;
    z-index: 10;
    background-color: var(--color-white);

    &__wrapper {
      padding: 35px 0;
      border-bottom: 1px solid var(--color-dark-light);
      display: flex;
      align-items: center;
      gap: 120px;

      transition: .3s padding;
      @media screen and (max-width: 1240px) {
        gap: 70px;
      }
      @media screen and (max-width: 991px) {
        gap: 30px;
      }
      @media screen and (max-width: 767px) {
        justify-content: space-between;
        gap: 20px;
        padding: 20px 0;
      }
    }

    &__category{
      display: none;
    }

    &__block {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 30px;
      @media screen and (max-width: 767px) {
        margin-left: 0;
      }

    }

    &__info {
      display: flex;
      align-items: center;
      gap: 60px;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &__list {
      @media screen and (max-width: 1240px) {
        display: none;
      }
    }
  }

  &-bottom {
    @media screen and (max-width: 767px) {
      display: none;
    }

    &__wrapper {
      padding: 35px 0;
    }
  }

  &-category {
    display: flex;
    align-items: center;
    gap: 50px;

    &--gap{
      &--small{
        gap: 40px;
        @media screen and (max-width: 991px) {
          gap: 20px;
        }
      }
    }
    &--column {
      flex-direction: column;
      gap: 25px;
      align-items: flex-start;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 10px;

      font-size: var(--title-tiny);
      font-weight: 600;

      transition: .3s color;

      &--menu {
        @media screen and (max-width: 1240px) and (min-width: 768px) {
          font-size: 20px;
        }
      }

      &--small{
        font-size: var(--text-big);
      }

      &:hover {
        color: #4DAD33;
      }

      .icon {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        color: #4DAD33;

        transform: translateY(10%);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  max-width: 590px;
  width: 100%;
  z-index: 12;

  opacity: 0;
  visibility: hidden;
  overflow:hidden;

  transition: .3s visibility, .5s opacity;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.active &__wrapper{
    transform: translateX(0);
  }

  @media screen and (max-width: 1240px) {
    max-width: 768px;
  }

  @media screen and (max-width: 767px) {
    max-width: 300px;
  }

  &__wrapper {
    background: var(--color-white);
    padding: 50px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: auto;
    transform: translateX(100%);
    transition: .5s transform;
    @include hide-scrollbar;
    @media screen and (max-width: 1240px) {
      gap: 50px;
      padding: 50px 40px
    }
    @media screen and (max-width: 767px) {
      gap: 25px;
      padding: 25px 20px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 300px;
    height: 20px;

    @media screen and (max-width: 1240px) {
      height: 30px;
      max-width: 455px;
    }
    @media screen and (max-width: 767px) {
      height: 13px;
      max-width: 184px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 15px;
    }

    &__link {
      font-size: var(--text-middle);
      font-weight: 500;
      color: var(--color-grey);

      display: flex;
      align-items: center;
      gap: 10px;

      &:hover .icon {
        transform: rotate(0);
        color: var(--color-grey);
      }

      @media screen and (max-width: 1240px) and (min-width: 767px) {
        font-size: 20px;
      }

      &--copyright {
        color: var(--color-grey-dark);
      }

      .icon {
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        color: var(--color-grey-dark);

        transform: rotate(-45deg);

        transition: .3s transform, .3s color;
      }
    }
  }


  &-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
      font-size: 25px;
      @media screen and (max-width: 1240px) {
        font-size: 28px;
      }
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }

    &__text {
      font-size: 22px;
      @media screen and (max-width: 1240px) {
        font-size: 24px;
      }
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
  }

  &__close {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: relative;

    @media screen and (max-width: 1240px) {
      width: 30px;
      height: 30px;
    }
    @media screen and (max-width: 767px) {
      width: 16px;
      height: 16px;
    }

    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      background: var(--color-grey);
      width: 100%;
      height: 2px;

      transition: .3s background-color;
    }

    &:hover {
      &::before, &::after {
        background-color: #4DAD33;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 35px;
    @media screen and (max-width: 1240px) {
      gap: 50px;
    }
    @media screen and (max-width: 767px) {
      gap: 25px;
    }
  }

  &-search {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 12px 20px;
    border-radius: 15px;
    background: var(--color-grey-lighter);

    font-weight: 500;
    font-size: 18px;
    @media screen and (max-width: 1240px) {
      height: 55px;
      font-size: 20px;
    }
    @media screen and (max-width: 767px) {
      height: 45px;
      font-size: 14px;
    }

    &__input {
      width: 100%;
      height: 100%;

      &::placeholder {
        color: #B1B7B8;
      }
    }

    &__icon {
      width: 22px;
      height: 22px;
      color: var(--color-grey-dark);
      flex-shrink: 0;
      @media screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.section {
  &__wrapper {
    padding: var(--section-spacer) 0;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 15px;
    @media screen and (max-width: 767px) {
      gap: 10px;
    }

    .hash {
      color: var(--color-grey-dark);
      flex-shrink: 0;
      width: 28px;
      height: 28px;
      transform: translateY(10%);
      @media screen and (max-width: 767px) {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__subtext {
    max-width: 820px;
    width: 100%;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media screen and (max-width: 767px) {
      gap: 30px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &:not(:last-child) {
      margin: 0 0 var(--section-header-margin) 0;
    }
  }

  &__content {

    &:not(:last-child) {
      margin: 0 0 var(--section-content-margin) 0;
    }
  }
}


.burger {
  display: flex;
  align-items: center;
  gap: 15px;

  &:hover &__item {
    background-color: #4DAD33;
  }

  &__text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;

    transition: .3s color;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__wrapper {
    width: 45px;
    height: 23px;
    flex-shrink: 0;

    position: relative;
    @media screen and (max-width: 767px) {
      width: 30px;
      height: 16px;
    }
  }

  &__item {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: var(--color-grey);

    transition: .3s background-color;

    &:nth-child(2) {
      top: calc(50% - 1px);
      width: 70%;
    }

    &:nth-child(3) {
      top: calc(100% - 2px);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gap);
  grid-auto-rows: 1fr;
  --gap: 20px;

  &--gap {
    &--small {
      --gap: 10px;
    }
  }

  &--auto {
    grid-auto-rows: auto;
  }

  @media screen and (max-width: 767px) {
    gap: 10px;
    grid-auto-rows: auto;
  }

  &__card {
    &--full {
      flex-grow: 1;
    }
  }


  &-list {
    &__fourth {
      @media screen and (max-width: 1240px) and (min-width: 768px) {
        grid-row-start: 3;
      }
    }
  }


  &__column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);


    &--full {
      grid-column: 1/-1;
    }

    &--third {
      grid-column-end: span 4;
      @media screen and (max-width: 1240px) {
        grid-column-end: span 6;
      }
    }

    &--half {
      grid-column-end: span 6;
      @media screen and (max-width: 1240px) {
        grid-column-end: span 12;
        &--tablet {
          grid-column-end: span 6;
        }
      }
    }

    &--quarter {
      grid-column-end: span 3;
      @media screen and (max-width: 1240px) {
        grid-column-end: span 6;
      }
    }

    @media screen and (max-width: 767px) {
      grid-column-end: span 12;
    }
  }
}

.card {
  background: var(--color-grey-lighter);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);

  position: relative;
  overflow: hidden;

  transition: .3s background-color;

  --bg-color-hover: var(--color-grey-lighter);
  --icon-color: var(--color-grey-dark);
  --date-color: var(--color-grey-light);
  --title-color: var(--color-dark);
  --title-color-hover: #4DAD33;
  --text-color: var(--color-dark-light);

  &:hover {
    background: var(--bg-color-hover);
  }

  &:hover &-img__item, &:hover &-bg__item {
    transform: scale(1.05);
  }

  &-article {
    &__hashtag {
      @media screen and (max-width: 767px) {
        order: 2;
      }
    }

    &__author {
      @media screen and (max-width: 767px) {
        order: 3;
      }
    }
  }

  &--desktop {
    @media screen and (max-width: 1240px) {
      display: none;
    }
  }

  &--rectangle {
    aspect-ratio: .8;
    @media screen and (max-width: 1240px) {
      aspect-ratio: unset;
    }
  }


  &--advice {
    min-height: 460px;
    @media screen and (max-width: 1240px) {
      min-height: auto;
    }
  }

  &--hero {
    @media screen and (min-width: 768px) {
      min-height: 270px;
    }

    &--big {
      @media screen and (max-width: 767px) {
        min-height: 400px;
      }
    }
  }

  &--dark {
    --bg-color-hover: var(--color-dark);
    background: var(--color-dark-light);
    --icon-color: var(--color-grey-dark);
    --date-color: var(--color-grey-dark);
    --title-color: var(--color-white);
    --title-color-hover: var(--color-white);
    --text-color: var(--color-white);
  }

  &--accent {
    --bg-color-hover: #687173;
    background: #4DAD33;
    --icon-color: var(--color-white);
    --date-color: var(--color-white);
    --title-color: var(--color-white);
    --title-color-hover: var(--color-white);
    --text-color: var(--color-white);
  }

  &--grey {
    background: var(--color-grey);

    --bg-color-hover: var(--color-dark);
    --icon-color: var(--color-white);
    --date-color: var(--color-grey-dark);
    --title-color: var(--color-white);
    --title-color-hover: #4DAD33;
    --text-color: var(--color-grey-lighter);
  }

  &--bg {
    --icon-color: var(--color-white);
    --date-color: var(--color-white);
    --title-color: var(--color-white);
    --title-color-hover: var(--color-white);
    --text-color: var(--color-white);

    &--mobile {
      @media screen and (max-width: 767px) {
        min-height: 330px;
        --icon-color: var(--color-white);
        --date-color: var(--color-white);
        --title-color: var(--color-white);
        --title-color-hover: var(--color-white);
        --text-color: var(--color-white);

      }
    }
  }

  &--article {
    height: 600px;
    color: var(--color-white);
    @media screen and (max-width: 767px) {
      height: auto;
      --bg-color-hover: transparent;
      color: var(--color-dark);
      --title-color: var(--color-dark);
      --title-color-hover: var(--color-dark);
      --icon-color: #B1B7B8;
      --date-color: #B1B7B8;
      border-radius: 0;
      background-color: transparent;
      .card__wrapper {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }

  &--article:hover &-img__item, &:hover &-bg__item {
    transform: scale(1);
  }


  &:hover {
    --title-color: var(--title-color-hover);
  }

  &__wrapper {
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);
    height: 100%;
    flex-grow: 1;

    &--gap {
      &--big {
        gap: 50px;
      }
    }

    &--padding {
      &--small {
        padding: var(--card-padding-small);
      }

      &--big {
        padding: var(--card-padding-big);
      }

      &--biggest {
        padding: var(--card-padding-biggest);
      }

      &--bg {
        @media screen and (max-width: 767px) {
          padding-top: 50px;
        }
      }
    }

    &--row {
      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      &--mobile {
        flex-direction: row;
      }
    }
  }


  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(26, 28, 28, 0.2) 0%, rgba(26, 28, 28, 0.8) 100%);
      z-index: 3;
    }

    &--clear {
      &::before {
        display: none;
      }
    }

    &--desktop {
      &--hidden {
        @media screen and (min-width: 768px) {
          display: none;
        }
      }

      @media screen and (max-width: 767px) {
        position: relative;
        border-radius: 30px;
        overflow-y: hidden;
        &::before {
          display: none;
        }
      }
    }

    &--mobile {
      &--hidden {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    &__item {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: .3s transform;

      z-index: 1;
    }
  }

  &-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 45px;
    gap: 10px;

    z-index: 3;

    font-size: var(--text-middle);
    font-weight: 600;

    border-radius: 15px;
    background-color: #fff;
    color: var(--color-dark);

    width: max-content;
    max-width: 100%;

    transition: .3s color;

    &--mobile {
      &--grey {
        @media screen and (max-width: 767px) {
          background-color: #F0F2F3;
        }
      }
    }

    @media screen and (max-width: 767px) {
      height: 35px;
      border-radius: 12px;
      padding: 10px;

    }

    &__icon {
      color: #4DAD33;
      width: 14px;
      height: 14px;
      flex-shrink: 0;

      transform: translateY(10%);
      @media screen and (max-width: 767px) {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);

    flex-grow: 1;

    position: relative;
    z-index: 2;

    &--gap {
      &--big {
        gap: 50px;
        @media screen and (max-width: 767px) {
          gap: 25px;
        }
      }
    }


    &--padding {
      padding: var(--card-padding-small) 0;
      @media screen and (max-width: 767px) {
        padding: var(--card-padding-small);
        padding-top: 0;
      }

      &--small {
        padding: 10px;
        padding-top: 0;
      }

      &--big {
        padding: 20px;
        padding-top: 0;
        @media screen and (max-width: 1240px) {
          padding: 10px;
          padding-top: 0;
        }
      }
    }
  }

  &__title {
    color: var(--title-color);

    transition: .3s color;
    
    &--tablet{
      &--small{
        @media screen and (max-width: 991px) and (min-width: 768px) {
          font-size: 18px;
        }
      }
    }

    &--facts {
      @media screen and (min-width: 768px) {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__text {
    color: var(--text-color);

    &--desktop {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &--mobile {
      &--small {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &-img--rounded + &__content {
    margin-top: auto;
    flex-grow: 0;
  }

  &-bg + &__content {
    margin-top: auto;
    flex-grow: 0;
  }

  &-img--rectangle + &__content {
    margin-top: auto;
    flex-grow: 0;
  }


  &-img--rounded + &__content--full, &-img--rectangle + &__content--full, &-bg + &__content--full {
    flex-grow: 1;
    margin-top: 0;
  }


  &-img {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    overflow: hidden;
    border-radius: 30px;
    @media screen and (max-width: 767px) {
      border-radius: 20px;
    }

    &--fit {
      height: 100%;
      width: 265px;
      @media screen and (max-width: 1240px) {
        width: 160px;
      }
      @media screen and (max-width: 767px) {
        height: 130px;
        width: 100%;
      }
    }

    &--rectangle {
      width: 100%;
      height: 225px;

      &--big {
        height: 315px;
        @media screen and (max-width: 1240px) {
          height: 225px;
        }
      }

      @media screen and (max-width: 767px) {
        height: 130px;
      }
    }

    &--square {
      width: 300px;
      height: 300px;
      flex-shrink: 0;
      @media screen and (max-width: 1240px) {
        width: 210px;
        height: 210px;
      }
      @media screen and (max-width: 767px) {
        height: auto;
        width: 100%;
        aspect-ratio: 2;
      }
    }

    &--big {
      border-radius: 30px;
      max-width: 560px;
      width: 100%;
      position: relative;
      @media screen and (max-width: 1240px) {
        max-width: 370px;
      }

      img, picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    &--rounded {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      @media screen and (max-width: 1240px) {
        width: 130px;
        height: 130px;
      }
      @media screen and (max-width: 767px) {
        width: 80px;
        height: 80px;
      }
      &--tablet{
        &--small{
          @media screen and (max-width: 991px) and (min-width: 768px) {
            width: 100px;
            height: 100px;
          }
        }
      }
    }

    &--bg--mobile {
      @media screen and (max-width: 767px) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(26, 28, 28, 0.2) 0%, rgba(26, 28, 28, 0.8) 100%);
          z-index: 3;
        }
      }
    }

    &__wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      padding-bottom: 75%;
      @media screen and (max-width: 1240px) {
        padding-bottom: 100%;
      }
    }

    &__item {
      width: 100%;
      height: 100%;
      object-fit: cover;


      transition: .3s transform;
    }

  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &--mobile {
      padding: 15px 0;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &--desktop {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }


  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--card-gap);

    position: relative;
    z-index: 4;
    margin-top: auto;

    &--small {
      justify-content: flex-start;
    }

    &--mobile {
      &--divider {
        @media screen and (max-width: 767px) {
          padding-top: 20px;
          border-top: 1px solid #687173;
        }
      }
    }
  }

  &-date {
    font-size: var(--text-base);
    font-weight: 600;
    line-height: 1.1;
    color: var(--date-color);
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    gap: 7px;

    color: var(--icon-color);
    font-size: var(--text-middle);
    @media screen and (max-width: 767px) {
      font-size: 12px;
      &--desktop {
        display: none;
      }
    }
    @media screen and (min-width: 768px) {
      &--mobile {
        display: none;
      }
    }

    .icon {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      transform: translateY(10%);


    }
  }

  &-icon + &-icon {
    margin-left: auto;
  }
}

a.card-tag{
  &:hover{
    color: #4DAD33;
  }
}

.mailing {
  &__wrapper {
    padding: 70px 0;
    border-top: 1px solid var(--color-dark-light);
    border-bottom: 1px solid var(--color-dark-light);
    @media screen and (max-width: 1240px) {
      padding: 50px 0;

    }
    @media screen and (max-width: 767px) {
      padding: 40px 0;
    }

    &--grey {
      border: none;
      background-color: #F0F2F3;
      border-radius: 40px;
      @media screen and (max-width: 767px) {
        border-radius: 30px;
      }
    }

    &--small {
      padding: 36px 30px;
      @media screen and (max-width: 767px) {
        padding: 25px 20px;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 570px;
    gap: 70px;
    @media screen and (max-width: 1240px) {
      gap: 100px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 30px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 15px;
    }
  }

  &-subtext {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: auto;
    @media screen and (max-width: 767px) {
      padding: 10px 0;
    }

    &__icon {
      width: 15px;
      height: 15px;
      color: #4DAD33;
      flex-shrink: 0;
    }
  }

  &-form {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;

      padding-top: 15px;

      &--clear {
        padding-top: 0;
      }

      @media screen and (max-width: 1240px) {
        gap: 50px;
      }
      @media screen and (max-width: 767px) {
        gap: 20px;
        padding-top: 0;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 25px;
      @media screen and (max-width: 1240px) {
        gap: 15px;
      }
    }
  }
}

.hero {
  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 10px;
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media screen and (max-width: 1240px) {
      gap: 20px;
    }
    @media screen and (max-width: 767px) {
      gap: 25px;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    cursor: pointer;
  }

  &:has(:checked) &__checkmark {
    color: #4DAD33;
  }

  &:hover &__checkmark {
    border-color: #4DAD33;
  }

  &__input {
    position: absolute;
    opacity: 0;

    width: 18px;
    height: 18px;
    left: 0;
    top: 0;
    @media screen and (max-width: 767px) {
      width: 15px;
      height: 15px;
    }
  }

  &__checkmark {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-dark);
    color: transparent;
    transform: translateY(5%);

    transition: .3s border-color;

    .icon {
      width: 10px;
      height: 10px;

      transition: .3s color;
    }

    @media screen and (max-width: 767px) {
      width: 15px;
      height: 15px;
    }
  }
}

.input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  height: 50px;
  border-radius: 15px;
  background-color: var(--color-grey-lighter);
  border: 1px solid var(--color-grey-dark);

  flex-grow: 1;
  font-size: 18px;
  font-weight: 500;

  &--white {
    background-color: var(--color-white);
  }

  @media screen and (max-width: 767px) {
    padding: 12px 15px;
    height: 40px;
    font-size: 14px;
    border-radius: 12px;
  }


  &__icon {
    width: 17px;
    height: 17px;

    flex-shrink: 0;
    color: var(--color-grey-dark);
    transform: translateY(10%);
    @media screen and (max-width: 767px) {
      width: 12px;
      height: 12px;
    }
  }

  &__item {
    width: 100%;
    height: 100%;

    &::placeholder {
      color: #B1B7B8;
    }
  }


}

.form {
  &__title{
    font-size: 25px;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 1240px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
    &--tablet{
      flex-direction: row;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }
  }
  &__button{
    &--grow{
      @media screen and (max-width: 1240px) and (min-width: 768px) {
        flex-grow: 1;
      }
    }
  }
}

.footer {
  &__wrapper {
    padding: 120px 0 60px 0;
    @media screen and (max-width: 1240px) {
      padding: 80px 0 50px 0;
    }
    @media screen and (max-width: 767px) {
      padding: 40px 0 40px 0;
    }
  }

  &__logo {
    max-width: 340px;
    height: 25px;
    @media screen and (max-width: 767px) {
      max-width: 250px;
      height: 18px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 80px 70px;
    @media screen and (max-width: 1240px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 40px;
    }
  }

  &__copyright {
    &--desktop {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px 30px;

    &__link {
      font-size: var(--text-big);
      transition: .3s color;

      &:hover {
        color: #4DAD33;
      }
    }
  }

  &-block {
    height: auto;

    &--desktop {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 25px;
      height: 100%;
    }
  }
}

.social {
  &-list {
    display: flex;
    align-items: center;
    gap: 10px;

    &__item {
      flex-shrink: 0;
    }
  }

  &-link {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 15px;

    transition: .3s background-color;

    &--tg:hover {
      background-color: #3390EC;
    }

    &--vk:hover {
      background-color: #0077FF;
    }

    &--yt:hover {
      background-color: #FF0033;
    }

    &--link:hover{
      background-color: #9747FF;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }

    @media screen and (max-width: 1240px) and (min-width: 768px) {
      width: 55px;
      height: 55px;
    }
  }
}

.last-articles {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 0 30px;
    @media screen and (max-width: 1240px) {
      gap: 25px;
      padding: 20px 25px;
    }
    @media screen and (max-width: 767px) {
      padding: 0;
      gap: 20px;
    }

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 1240px) {
      gap: 25px;
    }
    @media screen and (max-width: 767px) {
      gap: 20px;
    }
  }
}

.article-menu {
  position: sticky;
  top: 0;
}


.article-small {
  &:hover &__title {
    color: #4DAD33;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: .3s color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 15px;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
  }

  &__tag + &__tag {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      background: var(--color-grey-dark);
      width: 4px;
      height: 4px;
      flex-shrink: 0;
      display: block;
      border-radius: 50%;
      margin: 0 10px;

      transform: translateY(var(--fix-font));
    }
  }
}

.news {
  &-tg {
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      flex-grow: 1;

      position: relative;
      @media screen and (max-width: 767px) {
        order: 2;
        padding-bottom: 100%;
        border-radius: 20px;
        background: #DFE3E5;
        overflow: hidden;
      }
    }

    &__picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right center;
      position: absolute;
      left: 0%;
      top: 0;


      img {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform: translate(0);
      }

    }

    &__wrapper {
      display: flex;
      align-items: stretch;
      background: var(--color-grey-lighter);
      border-radius: 40px;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        gap: 10px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 15px;

      font-weight: 500;
      font-size: var(--text-big);

      .icon {
        width: 21px;
        height: 21px;
        flex-shrink: 0;

        transform: translateY(10%);
      }
    }

    &__box {
      padding: 70px 50px 70px 35px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex-shrink: 0;
      @media screen and (max-width: 1240px) {
        padding: 50px;
        gap: 30px;
      }
      @media screen and (max-width: 767px) {
        padding: 15px 10px;
        gap: 20px;
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media screen and (max-width: 1240px) {
        gap: 25px;
      }
      @media screen and (max-width: 767px) {
        gap: 15px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 70px;

      max-width: 530px;
      width: 100%;
      flex-shrink: 0;
      @media screen and (max-width: 1240px) {
        gap: 55px;
        max-width: 360px;
      }
      @media screen and (max-width: 767px) {
        gap: 25px;
      }
    }
  }
}

.pulse {
  &-block {
    background: url("../../images/pulse/bgwebp.webp") center center/cover no-repeat;

    border-radius: 40px;
    background-color: var(--color-dark);
    overflow: hidden;
    height: 140px;
    padding: 20px 50px;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1240px) {
      background: url("../../images/pulse/bg-tablet.webp") center center/cover no-repeat;
    }
    @media screen and (max-width: 767px) {
      background: url("../../images/pulse/bg-m.webp") center center/cover no-repeat;
      padding: 20px;
      height: 190px;

      align-items: flex-end;
      border-radius: 30px;

    }

    &:hover &__button .icon {
      transform: rotate(0);
    }

    &__row {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
    }

    &__title {
      @media screen and (max-width: 400px) {
        font-size: 20px;
      }
    }

    &__circle {
      width: 10px;
      height: 10px;
      background-color: var(--color-white);
      border-radius: 50%;
      flex-shrink: 0;
      position: relative;
      transform: translateY(var(--fix-font));
      @media screen and (max-width: 767px) {
        position: absolute;
        top: 26px;
        left: 26px;
      }

      &::after, &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: #ffff;
        border-radius: 50%;
      }

      &::before {
        opacity: .1;
        animation: pulseAnimationFirst 1s linear infinite;
      }

      &::after {
        opacity: .2;
        animation: pulseAnimationSecond 1s linear infinite;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;

      flex-shrink: 0;
      background-color: var(--color-white);

      margin-left: auto;
      border-radius: 15px;


      .icon {
        width: 16px;
        height: 16px;

        color: #4DAD33;

        transition: .3s transform;

        transform: rotate(-45deg);
      }
    }
  }
}

@keyframes pulseAnimationFirst {
  25% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 200%;
    height: 200%;
  }
  75% {
    width: 300%;
    height: 300%;
  }
  100% {
    width: 300%;
    height: 300%;
  }
}

@keyframes pulseAnimationSecond {
  25% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 200%;
    height: 200%;
  }
  75% {
    width: 200%;
    height: 200%;
  }
  100% {
    width: 200%;
    height: 200%;
  }
}

.pagination {
  &__button {
    @media screen and (max-width: 767px) {
      order: 2;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 767px) {
      gap: 5px;
      order: 1;
      width: 100%;
    }

    &__item {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;


      font-size: 18px;
      font-weight: 600;
      color: var(--color-grey-light);
      border: 1px solid transparent;
      border-radius: 15px;
      transition: .3s border-color, .3s background-color, .3s color;

      &:hover {
        border-color: #4DAD33;
        color: #4DAD33;
      }

      @media screen and (max-width: 767px) {
        width: 35px;
        height: 35px;
        font-size: 14px;
        border-radius: 12px;
      }

    }

    &__link {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      background-color: var(--color-grey-lighter);
      @media screen and (max-width: 767px) {
        border-radius: 12px;
      }

      &.active {
        color: #fff;
        background-color: #4DAD33;
      }
    }
  }
}

.breadcrumbs {
  &__wrapper {
    padding: 0 0 20px 0;
  }

  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;

    &__item {
      &:not(:last-child) {
        display: flex;
        align-items: center;

        &::after {
          content: "";
          width: 4px;
          height: 4px;
          flex-shrink: 0;
          border-radius: 50%;
          background-color: #B1B7B8;
          margin: 0 15px;
          transform: translateY(30%);
          @media screen and (max-width: 767px) {
            margin: 0 10px;
          }
        }
      }
    }

    &__link {
      font-size: 16px;
      color: #B1B7B8;
      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}


.text-highlighted {
  display: flex;
  align-items: stretch;
  gap: 20px;
  padding: 30px;
  background-color: #D6F2CF;
  border-radius: 40px;

  &::before {
    content: "";
    width: 2px;
    height: auto;
    background-color: #4DAD33;
    flex-shrink: 0;
  }

  @media screen and (max-width: 767px) {
    padding: 20px;
    border-radius: 30px;
    &::before {
      display: none;
    }
  }
}

.article {
  &-table {
    overflow-x: auto;
    overflow-y: hidden;
    @include custom-scrollbar;
    padding-bottom: 15px;

    &__wrapper {
      display: flex;
      flex-shrink: 0;
      border-radius: 40px;
    }

    &__column {
      flex-shrink: 0;
      flex-grow: 1;

      &:not(:last-child) {
        border-right: 1px solid #C8CECF;
      }

      &:first-child {
        border-radius: 40px 0 0 40px;
        overflow: hidden;
        @media screen and (max-width: 767px) {
          border-radius: 30px 0 0 30px;
        }
      }

      &:last-child {
        border-radius: 0 40px 40px 0;
        overflow: hidden;
        @media screen and (max-width: 767px) {
          border-radius: 0 30px 30px 0;
        }
      }
    }

    &__block {
      padding: 20px;
      background-color: #F0F2F3;
      font-size: 18px;

      &:not(:last-child) {
        border-bottom: 1px solid #C8CECF;
      }

      @media screen and (max-width: 767px) {
        padding: 15px 20px;
        font-size: 14px;
      }

      &--title {
        background-color: #687173;
        font-weight: 600;
        color: var(--color-white);
      }
    }
  }

  &-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-input {
      opacity: 0;
      visibility: hidden;
      display: none;
    }

    &:has(&-input:checked) &-toggle {
      display: none;
    }

    &:has(&-input:checked) &__header .icon {
      transform: rotate(180deg);
    }

    &:has(&-input) &__header {
      color: #909697;
      &:hover {
        cursor: pointer;
        color: #4DAD33;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      transition: .3s color;
      &:has(&-input) {
        &:hover {
          cursor: pointer;
        }
      }

      .icon {
        width: 14px;
        height: 14px;
        flex-shrink: 0;

        transition: .3s transform, .3s color;
      }
    }

    &--card {
      padding: 35px;
      background-color: #F0F2F3;
      border-radius: 40px;

      &--small {
        padding: 25px 30px;
      }

      &--white {
        background-color: var(--color-white);
      }

      &--grey {
        background-color: #687173;
      }

      @media screen and (max-width: 767px) {
        border-radius: 30px;
        padding: 20px;
        &--small {
          border-radius: 20px;
        }
      }
    }

    h3 {
      font-size: var(--title-small);
      font-weight: 700;
    }

    h4 {
      font-size: var(--text-big);
      font-weight: 700;
    }

    p {
      a {
        color: #4DAD33;
        text-decoration: underline;
      }
    }

    ul, ol {
      display: flex;
      flex-direction: column;
      gap: 5px;
      @media screen and (max-width: 767px) {
        gap: 10px;
      }
    }

    ol.article-nav {
      color: var(--color-dark);

      li {
        transition: .3s color;

        &::before {
          color: var(--color-dark);
        }

        &:hover {
          color: #4DAD33;

          &::before {
            color: #4DAD33;
          }
        }
      }
    }

    ul {
      li {
        padding-left: 15px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #4DAD33;
          transform: translateY(220%);
        }
      }

      &.list-white {
        color: #F0F2F3;

        li {
          &::before {
            background-color: #B1B7B8;
          }
        }
      }
    }

    ol {
      counter-reset: article-ol;

      li {
        padding-left: 30px;
        position: relative;
        counter-increment: article-ol;
        @media screen and (max-width: 767px) {
          padding-left: 15px;
        }

        &::before {
          content: counter(article-ol) ".";
          position: absolute;
          top: 0;
          left: 0;
          color: #4DAD33;
        }
      }
    }

  }

  &-content {
    font-size: var(--text-middle);
    color: #424647;
    line-height: 1.3;

    &__img {
      display: flex;
      flex-direction: column;
      gap: 20px;

      font-size: 18px;
      color: #687173;
      line-height: 1.3;
      font-style: italic;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 40px;
        @media screen and (max-width: 767px) {
          border-radius: 30px;
        }
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 60px;
      @media screen and (max-width: 767px) {
        gap: 35px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 50px;
      @media screen and (max-width: 767px) {
        gap: 25px;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: minmax(0, 2.2fr) minmax(0, 1fr);
      gap: 90px;

      @media screen and (max-width: 1240px) {
        gap: 40px;
        grid-template-columns: minmax(0, 1fr);

      }
      @media screen and (max-width: 767px) {
      }
    }

    &__aside {
      @media screen and (max-width: 1240px) and (min-width: 768px) {
        grid-row-start: 1;
      }
      @media screen and (max-width: 767px) {
        position: sticky;
        bottom: 10px;
      }
    }
  }

  &-footer {
    &__block {
      padding: 30px 0;
      @media screen and (max-width: 767px) {
        padding: 20px 0;
      }

      &--social {
        border-top: 1px solid #C8CECF;
        border-bottom: 1px solid #C8CECF;
      }
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &-author {
    display: flex;
    align-items: center;
    gap: 30px;
    &:hover &__title{
      color: #4DAD33;
    }

    &__title{
      transition: .3s color;
    }
    &--small {
      gap: 20px;
    }

    &--small &__img {
      width: 70px;
      height: 70px;
    }

    @media screen and (max-width: 767px) {
      gap: 16px;
    }

    &__img {
      flex-shrink: 0;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      @media screen and (max-width: 767px) {
        width: 50px;
        height: 50px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      @media screen and (max-width: 767px) {
        gap: 10px;
      }
    }
  }

  &__container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media screen and (max-width: 767px) {
      gap: 35px;
    }
  }

}


.quote {
  padding: 30px;
  border-radius: 40px;
  background-color: #F0F2F3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
    background: url("../../images/quote.svg") center center/contain no-repeat;
    @media screen and (max-width: 767px) {
      top: 20px;
      right: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 20px;
    border-radius: 30px;
    gap: 16px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__person {
    display: flex;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 10px;
    }
  }

  &__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    flex-shrink: 0;
    @media screen and (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 18px;

    color: var(--color-dark);
    line-height: 1.1;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__label {
    font-size: 16px;
    color: #909697;
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.3;
    font-style: italic;
    color: var(--color-dark-light);
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
}

.hashtag {
  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    &__item {
      flex-shrink: 0;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    padding: 12px 10px;
    border-radius: 10px;
    border: 1px solid #C8CECF;
    font-size: 16px;
    color: var(--color-dark);

    transition: .3s border-color;
    &:hover{
      border-color: #4DAD33;
    }
    &--transparent {
      &--mobile {
        @media screen and (min-width: 768px) {
          border: 1px solid rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(30px);
          background: rgba(255, 255, 255, 0.01);
          color: vaR(--color-white);
          .icon {
            color: var(--color-white);
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }

    .icon {
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      color: #C8CECF;
      @media screen and (max-width: 767px) {
        width: 8px;
        height: 8px;
      }
    }
  }
}