.landing {
  background: #fff;
}

.block {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    text-align: center;

    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    &--small{
      max-width: 640px;
    }
    &--gap{
      &--big{
        gap: 24px;
      }
    }
    @media screen and (max-width: 767px) {
      gap: 12px;

      &--mobile{
        &--left{
          text-align: left;
        }
      }
    }

    &__title {
      font-size: 32px;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -0.01em;

      color: #252525;

      @media screen and (max-width: 767px) {
        font-size: 24px;
      }

      &--hero{
        text-transform: uppercase;
        font-size: 40px;
      }
    }

    &__subtitle {
      font-size: 18px;
      line-height: 144%;

      color: #68727d;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;

    &--gap {
      &--small {
        gap: 32px;
      }
    }

    &--grey {
      background: #FAFBFC;
      border-radius: 12px;

      padding: 40px 0;
      @media screen and (max-width: 767px) {
        padding: 16px 0;
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 64px;
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 32px;
    }

    &--sip {
      gap: 124px;
      @media screen and (max-width: 767px) {
        gap: 32px;
      }
    }

    &__item {
      &--mobile {
        &--start {
          @media screen and (max-width: 767px) {
            grid-row-start: 1;
          }
        }
      }
    }
  }

  &-info {
    display: flex;
    align-items: center;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;

      max-width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__subtitle {
      font-size: 16px;
      color: #6B7280;
    }

    &__title {
      font-size: 24px;
      font-weight: 600;
      line-height: 133%;
      letter-spacing: -0.01em;
      color: #252525;

      &--big {
        font-size: 32px;
        font-weight: 700;

        @media screen and (max-width: 767px) {
          font-size: 28px;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--gap{
      &--big{
        gap: 32px;
      }
    }

    &__item {
      display: flex;
      gap: 12px;
      &--center{
        align-items: center;
      }
    }

    &__img {
      width: 20px;
      height: 20px;
      object-fit: contain;
      flex-shrink: 0;

      transform: translateY(2px);
      &--big{
        width: 32px;
        height: 32px;
        transform: translateY(0);
      }
    }

    &__text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: #252525;
      &--big{
        @media screen and (min-width: 768px) {
          font-size: 20px;

        }
      }
    }
  }

  &-tag {
    display: flex;
    gap: 12px;

    font-size: 16px;
    font-weight: 600;

    width: max-content;
    max-width: 100%;
    box-sizing: border-box;

    &__img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    &--green {
      padding: 8px 12px;
      border-radius: 128px;
      background: #E9F8F1;

      font-size: 14px;
      color: #27B973;
    }
  }
}

.sip {
  &-question{
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 0 auto;
    &__item{
      display: flex;
      gap: 16px;
    }
    &__img{
      width: 56px;
      height: 56px;
      flex-shrink: 0;
    }
    &__content{
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &__title{
      font-weight: 500;
      font-size: 24px;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: #252525;
      
      @media screen and (max-width: 767px) {
        font-weight: 700;
        font-size: 20px;
      }
    }
    &__text{

      font-size: 16px;
      line-height: 150%;
      color: #68727d;
    }
  }
  &-grid {
    &__wrapper {
      padding: 42px 46px;
      border-radius: 9px;
      background: #fcfcfd;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 16px;
      @media screen and (max-width: 767px) {
        padding: 26px 30px;
        gap: 10px;
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      @media screen and (max-width: 767px) {
        gap: 10px;
      }
    }

    &__item {
      padding: 16px 20px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid #EBEBEB;
      box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.04);

      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      align-items: center;

      text-align: center;
      @media screen and (max-width: 767px) {
        gap: 8px;
        padding: 10px 13px;
      }
    }

    &__text {
      font-size: 14px;
      font-weight: 600;
      color: #252525;
      @media screen and (max-width: 767px) {
        font-size: 9px;
      }
    }

    &__img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      @media screen and (max-width: 767px) {
        width: 40px;
        height: 40px;
      }
    }
  }
  &-what{
    display:flex;
    flex-direction: column;
    gap: 32px;
    @media screen and (max-width: 767px) {
      gap: 24px;
    }
    &__content{
      @media screen and (min-width: 768px) {
        padding-top: 32px;
        border-top: 1px solid #E5E7EB;
      }

    }
  }
}

.advantages {
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 64px;
    @media screen and (max-width: 767px) {
      gap: 40px;
      grid-template-columns: minmax(0, 1fr);
      &__item:nth-child(n+5) {
        display: none;
      }
      &:has(:checked) &__item:nth-child(n+5) {
        display:flex;
      }
      &:has(:checked) &__button-text{
        &::before{
          content:attr(data-close);
        }
      }
    }

    &__button {
      @media screen and (min-width: 768px) {
        display: none;
      }

      &-text{
        display: block;
        &::before{
          content: attr(data-open);
        }
      }

      input {
        display: none;
      }
    }

    &__item {

    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 12px;

      text-align: center;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #68727d;
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: #252525;
    }

    &__icon {
      width: 56px;
      height: 56px;

      border-radius: 6px;
      background: #E9F8F1;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);


      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }

    }
  }
}


.btn2--green--light {
  background: #D4F1E3;
  color: #176F45;
  font-weight: 600;
}


.partners-grid{
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and (max-width: 767px) {
    &:has(:checked) &__row:nth-child(n+2) {
      display:flex;
    }
    &:has(:checked) &__button-text{
      &::before{
        content:attr(data-close);
      }
    }
    &__row:nth-child(n+2) {
      display: none;
    }
  }
  &__button{
    @media screen and (min-width: 768px) {
      display: none;
    }

    &-text{
      display: block;
      &::before{
        content: attr(data-open);
      }
    }

    input {
      display: none;
    }
  }
  &__img{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 200px;
    width: 100%;
    background: #FCFCFD;
    border-radius: 4px;

    flex-grow: 1;

    padding: 10px 24px;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
      padding: 30px 100px;
    }
  }
  &__row{
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }
  }
}

.landing{
  &-hero{
    background: url("../images/hero-bg.png") bottom center/contain no-repeat;
  }
  &-footer{
    @media screen and (min-width: 768px) {
      background: url("../images/landing-footer-bg.png") bottom center/contain no-repeat;

    }
  }
  &-reviews{
    &-slider{
      max-width: 630px;
      width: 100%;
      margin: 0 auto;
    }
    &__item{
      display: flex;
      flex-direction: column;
      gap: 24px;
      box-shadow: none;

      min-height: auto;
    }
    &__text{
      font-size: 18px;
      font-weight: 500;
      color: #252525;
      text-align: center;
    }
    &__author{
      width: max-content;
      max-width: 100%;

      margin: 0 auto;

      display: flex;
      align-items: stretch;
      gap: 16px;
    }
    &__img{
      width: 52px;
      height: 52px;
      border-radius: 50%;

      flex-shrink: 0;

      @media screen and (max-width: 767px) {
        width: 40px;
        height: 40px;
      }
    }
    &__info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__title{
      font-size: 16px;
      font-weight: 500;

      &--grey{
        color: #68727D;
      }
    }
  }
  &-form{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
      width: 100vw;
      transform: translateX(-20px);
    }
    &__wrapper{
      padding: 24px 32px;
      border-radius: 10px;
      background: #252525;

      border:1px solid #323539;

      max-width: 520px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 24px;
      @media screen and (max-width: 767px) {
        gap: 16px;
        padding: 24px 32px;

        border-radius: 0;
      }
    }
    &__title{
      font-size: 32px;
      font-weight: 700;
      color:#F9F9F9;

      text-align: center;
    }
    &__subtitle{
      font-size: 15px;
      color: #979AA0;
      text-align: center;
    }
    &__row{
      display: grid;
      grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 16px;
      @media screen and (max-width: 767px) {
        grid-template-columns: minmax(0,1fr);
      }
    }
    &__input{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      height: 46px;
      border: 1px solid #323539;
      border-radius: 5px;
      background: #2b2d2f;

      font-size: 15px;
      color: #fff;
      &--textarea{
        height: 160px;
      }
      input,textarea{
        width: 100%;
        height: 100%;
        border: none;
        &::placeholder{
          color: #68727D;
          opacity: 1;
        }
      }
    }
  }
}

.country{
  &-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 8px;
    }
    &__item{
      display: flex;
      align-items: center;
      gap: 8px;


      padding: 12px 24px;
      position: relative;

      font-size: 18px;
      font-weight: 600;
      color: #252525;

      border-radius: 6px;

      transition: .3s background-color;

      @media screen and (max-width: 767px) {
        padding: 9px 14px;
        font-size: 11px;
      }
      &:hover{
        background: #E9F8F1;
      }
    }
    &__item:hover &__code{
      opacity: 1;
    }
    &__icon{
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      @media screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }
    &__code{
      position: absolute;
      background: #252525;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 15px;
      font-weight: 600;
      color: #FFf;

      padding: 8px 12px;

      left: 50%;
      transform: translateX(-50%);
      top: -100%;

      pointer-events: none;
      opacity: 0;

      transition: .3s opacity;

      &::before{
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #252525;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.container--big{
  max-width: 1300px;
}

.section--desktop--grey{
  @media screen and (min-width: 768px) {
    background-color: #FAFBFC;

  }
}